.dropdown-menu li {
  font-size: 14px;
}

.dropdown a.dropdown-toggle {
  padding-left: 10px;
  padding-right: 10px;
}

.search-bar {
  background-color: #fafafa;
  border-bottom: 1px solid #e3e3e3;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
  margin: 0;
  margin-bottom: 20px;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: left;
}

.search-bar input {
  margin-left: 10px;
  padding-right: 20px;
}
.search-bar input.deletable {
  background-image: url("../art/remove.png");
  background-repeat: no-repeat;
  background-position: 99% 50%;
}

.search-bar ul li {
  text-align: right;
}

.sort-by {
  font-size: 11px;
  height: 24px;
  width: 120px;
  margin-top: -2px;
}

.nav-header {
  padding-left: 0 !important;
  padding-top: 8px;
}

.facet-list {
  list-style: none outside none;
  padding: 0;
  margin: 0;
  border-right: 1px solid #e3e3e3;
}

.facet-list li {
  padding-left: 8px;
}

.counter {
  color: #999999;
  font-size: 13px;
}

.pagination {
  background-color: #F5F5F5;
  border-radius: 4px 4px 4px 4px;
  list-style: none outside none;
  margin: 0 0 20px;
  padding: 8px 15px;
  text-align: center;
}