// Licensed to Cloudera, Inc. under one
// or more contributor license agreements.  See the NOTICE file
// distributed with this work for additional information
// regarding copyright ownership.  Cloudera, Inc. licenses this file
// to you under the Apache License, Version 2.0 (the
// 'License'); you may not use this file except in compliance
// with the License.  You may obtain a copy of the License at
//
//     http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an 'AS IS' BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
// See the License for the specific language governing permissions and
// limitations under the License.

@import '../../../components/styles/variables';

.antd.cuix {
  .hue-overview-component {
    background-color: $fluidx-gray-100;
    padding: 24px;

    .config__spin {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }

    .config__address-value {
      color: $fluidx-blue-600;
      padding: 2px 4px;
      background-color: $fluidx-gray-040;
      border: 1px solid $fluidx-gray-400;
      border-radius: 2px;
    }

    .config__link {
      color: $fluidx-blue-600;
      cursor: pointer;
    }

    .config__alert-margin {
      margin: 10px 0;
    }

    .config__table-name,
    .config__table-value {
      color: $fluidx-gray-900;
      font-size: 12px;
      border-radius: 5px;
      margin-left: 8px;
      padding: 2px 4px;
      background-color: $fluidx-gray-040;
      border: 1px solid $fluidx-gray-400;
    }

    .overview-examples,
    .overview-analytics {
      height: 100vh;
    }

    .examples__install-btn {
      margin: 10px;
    }

    .analytics-checkbox-container {
      display: flex;
      align-items: center;
    }

    .analytics__checkbox-icon {
      width: auto;
      height: auto;
      min-height: 0;
    }

    .usage__analytics {
      margin-left: 8px;
    }

    .overview__trademark-text {
      text-align: right;
      padding: 10px;
    }
  }
}
