// Licensed to Cloudera, Inc. under one
// or more contributor license agreements.  See the NOTICE file
// distributed with this work for additional information
// regarding copyright ownership.  Cloudera, Inc. licenses this file
// to you under the Apache License, Version 2.0 (the
// "License"); you may not use this file except in compliance
// with the License.  You may obtain a copy of the License at
//
//     http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
// See the License for the specific language governing permissions and
// limitations under the License.

@import '../../../components/styles/colors';

.hue-filesystem__icon {
  object-fit: cover;
  margin-left: 10px !important;
  margin-right: 10px !important;
}

.hue-path-browser {
  height: 28px;
  display: inline-flex;
  position: absolute;
  width: 100%;
}

.hue-path-browser__breadcrumb {
  display: flex;
  gap: 10px;
  max-width: 45%;

  &:hover {
    cursor: pointer;
  }
}

.hue-path-browser__breadcrumb-seperator.anticon {
  width: 15px;
  flex: 0 0 auto;
}

.hue-path-browser__dropdown.ant-dropdown-menu {
  background-color: $fluid-gray-200;
  max-height: 200px;
  width: 200px;
  overflow-y: scroll;
}

.hue-path-browser__dropdown .ant-dropdown-menu-title-content {
  display: inline-block;
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.hue-path-browser__dropdown-button.ant-btn {
  border: none;
  box-shadow: none;

  &:hover {
    background-color: $fluid-gray-100;
  }

  &:focus {
    background-color: $fluid-gray-100;
  }
}

.hue-toggle-breadcrumb-input.ant-btn:empty {
  pointer-events: auto;
  width: 60px;
  visibility: visible;
  border: none;
  box-shadow: none;
  padding: 0;

  &:hover {
    cursor: text;
    background-color: $fluid-gray-100;
  }

  &:focus {
    background-color: $fluid-gray-100;
  }
}

.hue-path-browser__input.ant-input-affix-wrapper {
  width: 300px;
}

.hue-path-browser-panel__button.ant-btn {
  position: absolute;
  border: none;
  box-shadow: none;
  color: $fluid-blue-400;
  flex: 0 0 auto;
  padding: 0;

  &:hover {
    border: $fluid-gray-300 solid 1px;
  }

  &:focus {
    border: $fluid-gray-300 solid 1px;
  }
}

.hue-new-folder__button.ant-btn {
  right: 70px;
}

.hue-upload__button.ant-btn {
  right: 10px;
}
