// Licensed to Cloudera, Inc. under one
// or more contributor license agreements.  See the NOTICE file
// distributed with this work for additional information
// regarding copyright ownership.  Cloudera, Inc. licenses this file
// to you under the Apache License, Version 2.0 (the
// "License"); you may not use this file except in compliance
// with the License.  You may obtain a copy of the License at
//
//     http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
// See the License for the specific language governing permissions and
// limitations under the License.

@use 'variables' as vars;
@use 'mixins';

$icon-width: 24px;
$icon-height: 24px;

.antd.cuix {
  .hue-path-browser {
    display: flex;
    width: 100%;

    .hue-path-browser__file-system-icon {
      object-fit: cover;
      width: $icon-width;
      height: $icon-height;
      margin: 0 vars.$fluidx-spacing-xs;
    }

    .hue-path-browser__toggle-breadcrumb-input-btn:empty {
      pointer-events: auto;
      width: 60px;
      visibility: visible;
      background-color: transparent;
      padding: 0;

      &:hover {
        cursor: text;
      }
    }
  }

  .hue-path-browser__breadcrumbs {
    display: flex;
    gap: vars.$fluidx-spacing-xs;
    max-width: 60%;

    &:hover {
      cursor: pointer;
    }

    .hue-path-browser__breadcrumb:last-of-type button:last-of-type {
      color: vars.$fluidx-gray-700;
    }
  }

  .hue-path-browser__dropdown-button {
    &:hover {
      background-color: transparent;
    }

    &:focus {
      background-color: transparent;
    }
  }

  .hue-path-browser__breadcrumb-seperator {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 auto;
  }

  .hue-path-browser__input {
    width: 300px;
    flex: 0 0 auto;
  }
}

.hue-path-browser__dropdown {
  width: 200px;

  .ant-dropdown-menu {
    max-height: 200px;
    overflow-y: scroll;
    padding: 0;
  }

  .ant-dropdown-menu-title-content {
    @include mixins.nowrap-ellipsis;
  }
}
