// Licensed to Cloudera, Inc. under one or more contributor license agreements.
// Apache License 2.0 applies.

// Make schema table rows more compact - only target this specific component
.cuix.antd {
  .hue-details-schema {
    // Fix to get the link buttons in the schema table to be more compact when 
    // combined with the Popover component that messes stuff up.
    .hue-paginated-table-container {
      .ant-btn-link {
        padding-top: 0;
        padding-bottom: 0;
        padding-left: 2px;
        padding-right: 2px;
        margin-left: -2px;
        margin-right: -2px;
        height: auto;
      }
    }
  }
}
