cloudera:
    image: gethue/hue:latest
    hostname: hue
    container_name: development_hue
    dns: 8.8.8.8
    ports:
     - "8888:8888"
    #command: ./build/env/bin/hue runserver_plus 0.0.0.0:8888
    command: tail -f /dev/null
    volumes:
      - ../../../apps/hbase/src:/hue/apps/hbase/src
      - ./hue.ini:/hue/desktop/conf/hue.ini

