// Licensed to Cloudera, Inc. under one or more contributor license agreements.
// Apache License 2.0 applies.

@use 'variables' as vars;

.antd.cuix {
  .meta-data {
    display: flex;
    gap: vars.$fluidx-spacing-s;
    padding: vars.$fluidx-spacing-xs;
    background-color: vars.$fluidx-gray-040;
    border-radius: vars.$border-radius-base;
  }

  .meta-data__group {
    display: flex;
    gap: vars.$fluidx-spacing-s;
    border-right: 1px solid vars.$fluidx-gray-300;
    padding-right: vars.$fluidx-spacing-s;
    min-width: 10%; // Allow flex items to shrink below their content size
    flex: 0 1 auto; // Don't grow, allow shrink, size based on content
    width: 100%;

    &:last-child {
      border-right: none;
    }
  }

  .meta-data__column {
    display: flex;
    flex-direction: column;
    min-width: 10%;
    flex: 0 1 auto; // Don't grow, allow shrink, size based on content
  }

  .meta-data__column-label {
    font-size: vars.$font-size-sm;
    color: vars.$fluidx-gray-700;
    text-transform: uppercase;
  }

  .meta-data__column-value {
    font-size: vars.$font-size-base;
    color: vars.$fluidx-gray-900;
    word-break: break-word;
    overflow-wrap: break-word;
    white-space: normal;
    max-width: 100%;
  }
}
