@import '../../components/styles/variables';

$toolbar-border-color: $fluid-gray-300;
$toolbar-background-color: $fluid-gray-050;
$toolbar-height-small: 32px;
$toolbar-height-medium: 40px;
$toolbar-height-large: 48px;
