@use 'variables' as vars;

$toolbar-border-color: vars.$fluidx-gray-300;
$toolbar-background-color: vars.$fluidx-gray-050;
$toolbar-height-small: 32px;
$toolbar-height-medium: 40px;
$toolbar-height-large: 48px;
