@import './ToolbarShared.scss';

.antd {
  .hue-toolbar {
    display: flex;
    align-items: center;
    background-color: $toolbar-background-color;    
    border-top: 1px solid $toolbar-border-color;
    border-bottom: 1px solid $toolbar-border-color;
    height: $toolbar-height;

    li {
      list-style-type: none;
    }
  }

  .hue-toolbar__spacer {
    flex-grow: 2;
  }
}
