{
  "presets": [
    "babel-preset-typescript-vue3",
    "@babel/typescript",
    "@babel/preset-env"
  ],
  "plugins": [
    ["module-resolver", {
      "root": ["./desktop/core/src/desktop/js"]
    }],
    "@babel/plugin-syntax-dynamic-import",
    ["@babel/plugin-proposal-decorators", {
      "legacy": true
    }],
    ["@babel/proposal-class-properties", {
      "loose": true
    }],
    "@babel/proposal-object-rest-spread",
  ],
  "overrides": [{
    "test": "./desktop/core/src/desktop/js/parse/sqlAutocompleteParser.js",
    "compact": false
  },{
    "test": "./desktop/core/src/desktop/js/parse/sqlSyntaxParser.js",
    "compact": false
  }],
  "env": {
    "test": {
      "presets": ["@babel/typescript", "@babel/preset-env"],
      "plugins": [
        ["module-resolver", {
          "root": ["./desktop/core/src/desktop/js"]
        }],
        "@babel/plugin-syntax-dynamic-import"
      ]
    }
  }
}
