/desktop/core/src/desktop/js/ext/**
/desktop/core/src/desktop/js/ko/bindings/charts/mapchart/topo/**
/desktop/core/src/desktop/js/parse/globalSearchParser.js
/desktop/core/src/desktop/js/parse/solrFormulaParser.js
/desktop/core/src/desktop/js/parse/solrQueryParser.js
/desktop/core/src/desktop/js/parse/sqlAutocompleteParser.js
/desktop/core/src/desktop/js/parse/sqlStatementsParser.js
/desktop/core/src/desktop/js/parse/sqlSyntaxParser.js
/desktop/core/src/desktop/js/utils/json.bigDataParse.js
/desktop/core/src/desktop/js/parse/genericAutocompleteParser.js
/desktop/core/src/desktop/js/parse/genericSyntaxParser.js
/desktop/core/src/desktop/js/parse/impalaAutocompleteParser.js
/desktop/core/src/desktop/js/parse/impalaSyntaxParser.js
/desktop/core/src/desktop/js/parse/hiveAutocompleteParser.js
/desktop/core/src/desktop/js/parse/hiveSyntaxParser.js
