/desktop/core/src/desktop/js/ext/**
/desktop/core/src/desktop/js/ko/bindings/charts/mapchart/topo/**
/desktop/core/src/desktop/js/parse/globalSearchParser.js
/desktop/core/src/desktop/js/parse/solrFormulaParser.js
/desktop/core/src/desktop/js/parse/solrQueryParser.js
/desktop/core/src/desktop/js/parse/sqlAutocompleteParser.js
/desktop/core/src/desktop/js/parse/sqlStatementsParser.js
/desktop/core/src/desktop/js/parse/hplsqlStatementsParser.js
/desktop/core/src/desktop/js/parse/sqlSyntaxParser.js
/desktop/core/src/desktop/js/utils/json.bigDataParse.js
/desktop/core/src/desktop/js/parse/sql/generic/genericAutocompleteParser.js
/desktop/core/src/desktop/js/parse/sql/generic/genericSyntaxParser.js
/desktop/core/src/desktop/js/parse/sql/generic/spec/genericAutocompleteParser_Locations_Spec.js
/desktop/core/src/desktop/js/parse/sql/impala/impalaAutocompleteParser.js
/desktop/core/src/desktop/js/parse/sql/impala/impalaSyntaxParser.js
/desktop/core/src/desktop/js/parse/sql/impala/spec/impalaAutocompleteParser_Locations_Spec.js
/desktop/core/src/desktop/js/parse/sql/hive/hiveAutocompleteParser.js
/desktop/core/src/desktop/js/parse/sql/hive/hiveSyntaxParser.js
/desktop/core/src/desktop/js/parse/sql/hive/spec/hiveAutocompleteParser_Locations_Spec.js
/desktop/core/src/desktop/js/parse/sql/ksql/ksqlAutocompleteParser.js
/desktop/core/src/desktop/js/parse/sql/ksql/ksqlSyntaxParser.js
/desktop/core/src/desktop/js/parse/sql/ksql/spec/ksqlAutocompleteParser_Locations_Spec.js
/desktop/core/src/desktop/js/parse/sql/calcite/calciteAutocompleteParser.js
/desktop/core/src/desktop/js/parse/sql/calcite/calciteSyntaxParser.js
/desktop/core/src/desktop/js/parse/sql/calcite/spec/calciteAutocompleteParser_Locations_Spec.js
/desktop/core/src/desktop/js/parse/sql/druid/druidAutocompleteParser.js
/desktop/core/src/desktop/js/parse/sql/druid/druidSyntaxParser.js
/desktop/core/src/desktop/js/parse/sql/druid/spec/druidAutocompleteParser_Locations_Spec.js
/desktop/core/src/desktop/js/parse/sql/elasticsearch/elasticsearchAutocompleteParser.js
/desktop/core/src/desktop/js/parse/sql/elasticsearch/elasticsearchSyntaxParser.js
/desktop/core/src/desktop/js/parse/sql/elasticsearch/spec/elasticsearchAutocompleteParser_Locations_Spec.js
/desktop/core/src/desktop/js/parse/sql/presto/prestoAutocompleteParser.js
/desktop/core/src/desktop/js/parse/sql/presto/prestoSyntaxParser.js
/desktop/core/src/desktop/js/parse/sql/presto/spec/prestoAutocompleteParser_Locations_Spec.js
/desktop/core/src/desktop/js/parse/sql/phoenix/phoenixAutocompleteParser.js
/desktop/core/src/desktop/js/parse/sql/phoenix/phoenixSyntaxParser.js
/desktop/core/src/desktop/js/parse/sql/phoenix/spec/phoenixAutocompleteParser_Locations_Spec.js
/desktop/core/src/desktop/js/parse/sql/flink/flinkAutocompleteParser.js
/desktop/core/src/desktop/js/parse/sql/flink/flinkSyntaxParser.js
/desktop/core/src/desktop/js/parse/sql/flink/spec/flinkAutocompleteParser_Locations_Spec.js
/desktop/core/src/desktop/js/parse/sql/dasksql/dasksqlAutocompleteParser.js
/desktop/core/src/desktop/js/parse/sql/dasksql/dasksqlSyntaxParser.js
/desktop/core/src/desktop/js/parse/sql/dasksql/spec/dasksqlAutocompleteParser_Locations_Spec.js
/desktop/core/src/desktop/js/parse/sql/sparksql/sparksqlAutocompleteParser.js
/desktop/core/src/desktop/js/parse/sql/sparksql/sparksqlSyntaxParser.js
**/node_modules/**
