# OS X nonsense
.DS_Store
._*

# Python compiled files
*.pyc
*.pyo

# Language compiled files
apps/*/src/*/locale/*/LC_MESSAGES/*.mo
desktop/core/src/desktop/locale/*/LC_MESSAGES/*.mo
desktop/libs/*/src/*/locale/*/LC_MESSAGES/*.mo

# vim tmp files
.*.swp
.*.swo

# emacs backup files
.*~

# Build directory and environment
build
env
metastore_db
VERSION_INFO

# Generated configuration
desktop/conf/*.ini

# ctags file
tags
TAGS

# Third party build files
*.egg-info/
dist/

# Include top level distribution dir
!/dist/

# Crepo fetched them
ext/thirdparty/js/art-widgets/
ext/thirdparty/js/mootools-table/
ext/thirdparty/js/jframe/

# Make product
desktop/core/ext-py/lxml/src/lxml/lxml-version.h

# Common "beeswaxd" product
/metastore_db
/derby.log

# Nose --with-id's file
/.noseids

# Coverage product
/.coverage
/coverage.xml

# Common utility alias
/d

# Intellij project files
.idea/
*.iml

# Database of running server
desktop/desktop.db
app.reg

# logs
/logs
desktop/logs

# Maven's target directory
target

# Maven's dependency reduced pom
desktop/libs/hadoop/java/dependency-reduced-pom.xml
apps/spark/java/livy-core/dependency-reduced-pom.xml

# Reviewboard config file
.reviewboardrc

# Make files
JAVASCRIPTLINT.txt
PYLINT.txt
desktop/desktop-test.db
ext/hadoop/
ext/hive/
ext/oozie/
nosetests.xml
oozie.sql
tools/jenkins/ext/
tools/jenkins/oozie.sql
apps/logs
java-lib/
dependency-reduced-pom.xml


# Sublime Text temp files
*.subl*

# Static files
/static

# Node Modules
node_modules/
webpack-stats*.json

junitresults*

# Generated js bundles
desktop/core/src/desktop/static/desktop/js/bundles/

# Hugo generated files
docs/docs-site/public/
