[tool.pytest.ini_options]
DJANGO_SETTINGS_MODULE = "desktop.settings"
addopts = "-v -m 'not integration' --strict-markers --durations=10"
norecursedirs = "desktop/core/ext-py3"
python_files = "tests.py test_*.py *_tests.py tests_* *_test.py"
markers = [
    "integration: live server based tests",
    "requires_hadoop: live hadoop cluster based tests"
]

[tool.ruff]
target-version = "py38"
line-length = 140
indent-width = 2
force-exclude = true
extend-exclude = [
  "*/ext-py3/*",
  "desktop/core/src/desktop/lib/wsgiserver.py",
  "*/migrations/*",
  "apps/oozie/src/oozie/tests.py",
  "tools/ops/",
  "tools/ace-editor/",
  "*/gen-py/*",
  "*/org_migrations/*",
  "*/old_migrations/*"
]

[tool.ruff.lint]
preview = true
select = [
    "E", # pycodestyle errors
    "W", # pycodestyle warnings
]
ignore = [
    "E111",
    "E114",
    "E117",
    "W191",
]

[tool.ruff.format]
docstring-code-format = true
docstring-code-line-length = 80
indent-style = "space"
quote-style = "preserve"