[tool.pytest.ini_options]
DJANGO_SETTINGS_MODULE = "desktop.settings"
addopts = "-v -m 'not integration' --strict-markers --durations=10"
norecursedirs = "desktop/core/ext-py3"
python_files = "tests.py test_*.py *_tests.py tests_* *_test.py"
markers = [
    "integration: live server based tests",
    "requires_hadoop: live hadoop cluster based tests"
]

[tool.ruff]
target-version = "py38"
line-length = 140
indent-width = 2
force-exclude = true
extend-exclude = [
  "*/ext-py3/*",
  "desktop/core/src/desktop/lib/wsgiserver.py",
  "*/migrations/*",
  "apps/oozie/src/oozie/tests.py",
  "tools/ops/",
  "tools/ace-editor/",
  "*/gen-py/*",
  "*/org_migrations/*",
  "*/old_migrations/*",
  "desktop/core/src/desktop/app_template/src/app_name/*",
  "desktop/core/src/desktop/app_template_proxy/src/app_name/*"
]

[tool.ruff.lint]
preview = true
select = [
    "E", # pycodestyle errors
    "W", # pycodestyle warnings
    "I", # isort
]
ignore = [
    "E111",
    "E114",
    "E117",
    "W191",
    "E731"
]

[tool.ruff.lint.per-file-ignores]
"desktop/libs/notebook/src/notebook/connectors/altus.py" = ["E501"]
"desktop/libs/notebook/src/notebook/connectors/altus_adb.py" = ["E501"]
"desktop/libs/metadata/src/metadata/catalog/dummy_client.py" = ["E501"]
"desktop/libs/liboozie/src/liboozie/submission2.py" = ["E501"]
"desktop/libs/libanalyze/src/libanalyze/rules.py" = ["E501"]
"apps/hbase/src/hbase/api.py" = ["E501"]
"desktop/libs/librdbms/src/librdbms/server/mysql_lib.py" = ["E402"]
"desktop/core/src/desktop/urls.py" = ["E402"]
"desktop/core/src/desktop/lib/thrift_util_test.py" = ["E402"]
"desktop/core/src/desktop/auth/backend.py" = ["E402"]

[tool.ruff.format]
docstring-code-format = true
docstring-code-line-length = 140
indent-style = "space"
quote-style = "preserve"

[tool.ruff.lint.isort]
combine-as-imports = true
length-sort-straight = true
known-first-party = [
    "about",
    "beeswax",
    "filebrowser",
    "hbase",
    "help",
    "hive",
    "impala",
    "jobbrowser",
    "jobsub",
    "metastore",
    "oozie",
    "pig",
    "proxy",
    "rdbms",
    "search",
    "security",
    "spark",
    "sqoop",
    "useradmin",
    "zookeeper",
    "desktop",
    "aws",
    "azure",
    "dashboard",
    "hadoop",
    "indexer",
    "kafka",
    "libanalyze",
    "liboauth",
    "liboozie",
    "librdbms",
    "libsaml",
    "libsentry",
    "libsolr",
    "libzookeeper",
    "metadata",
    "notebook"
]