{% comment %}
Licensed to Cloudera, Inc. under one
or more contributor license agreements.  See the NOTICE file
distributed with this work for additional information
regarding copyright ownership.  Cloudera, Inc. licenses this file
to you under the Apache License, Version 2.0 (the
"License"); you may not use this file except in compliance
with the License.  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
{% endcomment %}
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
  <head>
    <title>Accordion</title>
  </head>
  <body>
  <div class="jframe_padded">
    <p>Below is an accordion, only one of the target areas should be visible at a time, dependent on which toggle was clicked last. </p>
    <div data-filters="Accordion" style="width: 300px; margin: 10px;">
      <div class="toggle" style="cursor:pointer; background: #777; padding: 2px;">Toggle 1</div>
      <div class="target" style="padding: 4px;">This area is controlled by Toggle 1.</div>
      <div class="toggle" style="cursor:pointer; background: #777; padding: 2px;">Toggle 2</div>
      <div class="target" style="padding: 4px;">This area is controlled by Toggle 2.</div>
      <div class="toggle" style="cursor:pointer; background: #777; padding: 2px;">Toggle 3</div>
      <div class="target" style="padding: 4px;">This area is controlled by Toggle 3.</div>
    </div>
  </div>
</body>
</html>
