{% comment %}
Licensed to Cloudera, Inc. under one
or more contributor license agreements.  See the NOTICE file
distributed with this work for additional information
regarding copyright ownership.  Cloudera, Inc. licenses this file
to you under the Apache License, Version 2.0 (the
"License"); you may not use this file except in compliance
with the License.  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
{% endcomment %}
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
	<head>
		<title>Ajax Target</title>
	</head>
	<body>
		<div class="jframe_padded">
			<a href="/jframegallery/partial_refresh.mako?sleep=1" data-ajax-target=".ajax_target">Load some content into the div below</a>
			<div style="border: 1px solid #000; padding: 10px; margin: 10px 0px;" class="ajax_target">
				This content is replaced whenever you click the link above.
			</div>
			<p>
				Note that once you load content into the div above, hitting refresh destroys that content.
			</p>
			<hr/>
			<a href="/jframegallery/partial_refresh.mako?sleep=1" data-ajax-replace=".ajax_replace div">Replace the blue box below.</a>
			<div style="border: 1px solid #000; padding: 10px; margin: 10px 0px;" class="ajax_replace">
				<div style="padding: 10px; background: #99f;">This gets replaced by the response</div>
			</div>
			<a href="/jframegallery/partial_refresh.mako?sleep=1" data-ajax-append=".ajax_append div">Add the response after the blue box below.</a>
			<div style="border: 1px solid #000; padding: 10px; margin: 10px 0px;" class="ajax_append">
				<div style="padding: 10px; background: #99f;">The response gets appended after this box</div>
			</div>
			<hr/>
			<a href="/jframegallery/partial_refresh.mako?sleep=1" data-ajax-after=".ajax_after"><em>Also</em> adds the response after the blue box below.</a>
			<div style="border: 1px solid #000; padding: 10px; margin: 10px 0px;">
				<div style="padding: 10px; background: #99f;" class="ajax_after">The response gets appended after this box</div>
			</div>
			<hr/>
			<a href="/jframegallery/partial_refresh.mako?sleep=1" data-ajax-before=".ajax_before">Add the response <em>before</em> the blue box below.</a>
			<div style="border: 1px solid #000; padding: 10px; margin: 10px 0px;">
				<div style="padding: 10px; background: #99f;" class="ajax_before">The response gets prepended <em>before</em> this box</div>
			</div>
			<hr/>


			<a href="/jframegallery/partial_refresh.mako?sleep=1" data-ajax-target=".ajax_filter" data-ajax-filter="textarea">This link loads the same url as the others, but only the textarea is inserted into the box below</a>
			<div style="border: 1px solid #000; padding: 10px; margin: 10px 0px;" class="ajax_filter">
				This box is replaced with a textarea when you click the 
			</div>
			<hr/>
			<a href="/jframegallery/partial_refresh.mako" data-ajax-target=".nothing_here">This is also an ajax link, but it's target is not found, so it falls back to being a regular link.</a>
		</div>
	</body>
</html>
