{% comment %}
Licensed to Cloudera, Inc. under one
or more contributor license agreements.  See the NOTICE file
distributed with this work for additional information
regarding copyright ownership.  Cloudera, Inc. licenses this file
to you under the Apache License, Version 2.0 (the
"License"); you may not use this file except in compliance
with the License.  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
{% endcomment %}
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
	<head>
		<title>Art Button</title>
	</head>
	<body>
		<div class="jframe_padded">
			<a data-filters="ArtButton" href="/jframegallery/" style="background: url(/static/art/info.png) left 50%; padding: 6px 6px 6px 20px; margin: 10px;" data-icon-styles="{'width': 14, 'height': 14}">I'm a button!</a>
			<a data-filters="ArtButton" href="/jframegallery/" style="background: url(/static/art/error.png) left 50%; padding: 6px 6px 6px 20px; margin: 10px;" data-icon-styles="{'width': 14, 'height': 14}">I'm a button too!</a>
			
			<div data-filters="ArtButtonBar" style="clear:both">
				<a data-filters="ArtButton" href="/jframegallery/" style="background: url(/static/art/info.png) left 50%; padding: 6px 6px 6px 20px; margin: 10px 0px;" data-icon-styles="{'width': 14, 'height': 14}">I'm a button!</a>
				<a data-filters="ArtButton" href="/jframegallery/" style="background: url(/static/art/error.png) left 50%; padding: 6px 6px 6px 20px; margin: 10px 0px;" data-icon-styles="{'width': 14, 'height': 14}">I'm a button too!</a>
				<a data-filters="ArtButton" href="/jframegallery/" style="background: url(/static/art/info.png) left 50%; padding: 6px 6px 6px 20px; margin: 10px 0px;" data-icon-styles="{'width': 14, 'height': 14}">I'm a button!</a>
				<a data-filters="ArtButton" href="/jframegallery/" style="background: url(/static/art/error.png) left 50%; padding: 6px 6px 6px 20px; margin: 10px 0px;" data-icon-styles="{'width': 14, 'height': 14}">I'm a button too!</a>
			</div>
			<div data-filters="ArtButtonBar" data-bar-position="above" style="clear:both">
				<a data-filters="ArtButton" href="/jframegallery/" style="background: url(/static/art/info.png) left 50%; padding: 6px 6px 6px 20px; margin: 10px 0px;" data-icon-styles="{'width': 14, 'height': 14}">I'm a button!</a>
				<a data-filters="ArtButton" href="/jframegallery/" style="background: url(/static/art/error.png) left 50%; padding: 6px 6px 6px 20px; margin: 10px 0px;" data-icon-styles="{'width': 14, 'height': 14}">I'm a button too!</a>
				<a data-filters="ArtButton" href="/jframegallery/" style="background: url(/static/art/info.png) left 50%; padding: 6px 6px 6px 20px; margin: 10px 0px;" data-icon-styles="{'width': 14, 'height': 14}">I'm a button!</a>
				<a data-filters="ArtButton" href="/jframegallery/" style="background: url(/static/art/error.png) left 50%; padding: 6px 6px 6px 20px; margin: 10px 0px;" data-icon-styles="{'width': 14, 'height': 14}">I'm a button too!</a>
			</div>
			<div data-filters="ArtButtonBar" data-bar-position="below" style="clear:both">
				<a data-filters="ArtButton" href="/jframegallery/" style="background: url(/static/art/info.png) left 50%; padding: 6px 6px 6px 20px; margin: 10px 0px;" data-icon-styles="{'width': 14, 'height': 14}">I'm a button!</a>
				<a data-filters="ArtButton" href="/jframegallery/" style="background: url(/static/art/error.png) left 50%; padding: 6px 6px 6px 20px; margin: 10px 0px;" data-icon-styles="{'width': 14, 'height': 14}">I'm a button too!</a>
				<a data-filters="ArtButton" href="/jframegallery/" style="background: url(/static/art/info.png) left 50%; padding: 6px 6px 6px 20px; margin: 10px 0px;" data-icon-styles="{'width': 14, 'height': 14}">I'm a button!</a>
				<a data-filters="ArtButton" href="/jframegallery/" style="background: url(/static/art/error.png) left 50%; padding: 6px 6px 6px 20px; margin: 10px 0px;" data-icon-styles="{'width': 14, 'height': 14}">I'm a button too!</a>
			</div>
			
			<hr style="clear:both"/>
			<p>
				The example below uses a deprecated method for creating buttons. You should see console warnings if you enable dbug.
			</p>
			<div class="ccs-button_bar" style="clear:both">
				<a class="ccs-art_button" href="/jframegallery/" style="background: url(/static/art/info.png) left 50%; padding: 6px 6px 6px 20px; margin: 10px 0px;" data-icon-styles="{'width': 14, 'height': 14}">I'm a button!</a>
				<a class="ccs-art_button" href="/jframegallery/" style="background: url(/static/art/error.png) left 50%; padding: 6px 6px 6px 20px; margin: 10px 0px;" data-icon-styles="{'width': 14, 'height': 14}">I'm a button too!</a>
				<a class="ccs-art_button" href="/jframegallery/" style="background: url(/static/art/info.png) left 50%; padding: 6px 6px 6px 20px; margin: 10px 0px;" data-icon-styles="{'width': 14, 'height': 14}">I'm a button!</a>
				<a class="ccs-art_button" href="/jframegallery/" style="background: url(/static/art/error.png) left 50%; padding: 6px 6px 6px 20px; margin: 10px 0px;" data-icon-styles="{'width': 14, 'height': 14}">I'm a button too!</a>
			</div>
			
		</div>
	</body>
</html>
