<!DOCTYPE html>
<html>
<head>
	<meta http-equiv=Content-type content="text/html; charset=utf-8">
	<title>"tGraph" -- Graph CSS Widget</title>
</head>
<body>
<div class="print" style="padding:1em">

<h1>"tGraph" -- Graph CSS Widget</h1>

<h2>In table cells in a single table row</h2>

<table>
	<tr><th>One</th><th>Two</th><th>Three</th><th>Four</th></tr>
	<tr>
		<td> <span class="tGraph"><span><b> 0/3</b><i style="width:0%"></i></span></span> </td>
		<td> <span class="tGraph"><span><b> 1/3</b><i style="width:33.3333%"></i></span></span> </td>
		<td> <span class="tGraph"><span><b> 2/3</b><i style="width:66.6666%"></i></span></span> </td>
		<td> <span class="tGraph"><span><b> 3/3</b><i style="width:100%"></i></span></span> </td>
	</tr>
</table>

<table>
	<tr><th>One </th><td> <span class="tGraph"><span><b> 0/3</b><i style="width:0%"></i></span></span> </td></tr>
	<tr><th>Two </th><td> <span class="tGraph"><span><b> 1/3</b><i style="width:33.3333%"></i></span></span> </td></tr>
	<tr><th>Three </th><td> <span class="tGraph"><span><b> 2/3</b><i style="width:66.6666%"></i></span></span> </td></tr>
	<tr><th>Four </th><td> <span class="tGraph"><span><b> 3/3</b><i style="width:100%"></i></span></span> </td></tr>
</table>

<h2>No wrapper</h2>
<p>An example of how to use this css widget by itself outside of a table.</p>

<h3>priorityHigh</h3>

<span class="tGraph priorityHigh"><span><b> 0/3</b><i style="width:0%"></i></span></span>
<span class="tGraph priorityHigh"><span><b> 1/3</b><i style="width:33.3333%"></i></span></span>
<span class="tGraph priorityHigh"><span><b> 2/3</b><i style="width:66.6666%"></i></span></span>
<span class="tGraph priorityHigh"><span><b> 3/3</b><i style="width:100%"></i></span></span>

<hr>
<h3>priorityMed (default)</h3>

<span class="tGraph priorityMed"><span><b> 0/3</b><i style="width:0%"></i></span></span>
<span class="tGraph priorityMed"><span><b> 1/3</b><i style="width:33.3333%"></i></span></span>
<span class="tGraph priorityMed"><span><b> 2/3</b><i style="width:66.6666%"></i></span></span>
<span class="tGraph priorityMed"><span><b> 3/3</b><i style="width:100%"></i></span></span>

<hr>
<h3>priorityLow</h3>

<span class="tGraph priorityLow"><span><b> 0/3</b><i style="width:0%"></i></span></span>
<span class="tGraph priorityLow"><span><b> 1/3</b><i style="width:33.3333%"></i></span></span>
<span class="tGraph priorityLow"><span><b> 2/3</b><i style="width:66.6666%"></i></span></span>
<span class="tGraph priorityLow"><span><b> 3/3</b><i style="width:100%"></i></span></span>

<hr>
<h3>multiple priorities</h3>

<span class="tGraph"><span><b> 0/3</b><i style="width:0%"></i></span></span>
<span class="tGraph priorityLow"><span><b> 1/3</b><i style="width:33.3333%"></i></span></span>
<span class="tGraph priorityMed"><span><b> 2/3</b><i style="width:66.6666%"></i></span></span>
<span class="tGraph priorityHigh"><span><b> 3/3</b><i style="width:100%"></i></span></span>

<hr>

<h2>In Text Content</h2>
<p>Add the "txtIcon" class to allow the tGraph to flow with text.</p>

<p>
Lorem ipsum dolor sit amet, 

<span class="txtIcon tGraph"><span><b> 0/3</b><i style="width:0%"></i></span></span> lorem ipsum dolore
<span class="txtIcon tGraph priorityLow"><span><b>one third</b><i style="width:33.3333%"></i></span></span> lorem ipsum dolore
<span class="txtIcon tGraph priorityMed"><span><b>two thirds</b><i style="width:66.6666%"></i></span></span> lorem ipsum dolore
<span class="txtIcon tGraph priorityHigh"><span><b>three thirds</b><i style="width:100%"></i></span></span> lorem ipsum dolore

, sunt in culpa qui officia deserunt mollit anim id est laborum.
</p>

</div>
</body>
</html>
