{% comment %}
Licensed to Cloudera, Inc. under one
or more contributor license agreements.  See the NOTICE file
distributed with this work for additional information
regarding copyright ownership.  Cloudera, Inc. licenses this file
to you under the Apache License, Version 2.0 (the
"License"); you may not use this file except in compliance
with the License.  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
{% endcomment %}
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
	<head>
		<title>Double Click Delegator</title>
	</head>
	<body>
		<div class="jframe_padded">
			<p>Note that to use double click delegation on a container with links in it, if you don't want the links to fire on single click, you must add the css class "jframe_ignore" to them and configure the double click delegator to point to the desired link. This is especially useful with HtmlTables with selectable rows if you don't want a single click on the row to load another page, even if the user clicks on a link.</p>
			
			<div data-dblclick-delegate="{'dblclick_loads':'.dblme'}" style="width: 200px; height: 100px; padding: 40px; background: #ccc; border: 1px solid #000; float: left; margin: 0px 10px;">
				<a class="dblme jframe_ignore" href="/jframegallery/post-load.alert.popup.html">I show an alert if you double click anywhere inside the box around me. Note that I have the css class "jframe_ignore" which means a single click on me does nothing.</a>
			</div>

			<div data-dblclick-delegate="{'dblclick_loads':'.dblme'}" style="width: 200px; height: 100px; padding: 40px; background: #ccc; border: 1px solid #000; float: left; margin: 0px 10px;">
				I'm a div with a double click delegate specified, but no link matching, so I don't do anything.
			</div>

			<div data-dblclick-delegate="{'dblclick_loads':'.dblme'}" style="width: 200px; height: 100px; padding: 40px; background: #ccc; border: 1px solid #000; float: left; clear:both; margin: 10px; clear:both;">
				<a class="dblme">I'm an anchor with no href, so clicking me or double clicking my container should do nothing.</a>
			</div>

			<div data-dblclick-delegate="{'dblclick_loads':'.dblme'}" style="width: 200px; height: 100px; padding: 40px; background: #ccc; border: 1px solid #000;  margin: 10px; float: left;">
				<a class="dblme ccs-nav_back">I'm a link with no href, but I have the ccs class name ccs-nav_back, so I navigate back in the app window's history. Double clicking my container should send you back to the JFrame gallery.</a>
			</div>
		</div>

	</body>
</html>
