{% comment %}
Licensed to Cloudera, Inc. under one
or more contributor license agreements.  See the NOTICE file
distributed with this work for additional information
regarding copyright ownership.  Cloudera, Inc. licenses this file
to you under the Apache License, Version 2.0 (the
"License"); you may not use this file except in compliance
with the License.  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
{% endcomment %}
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
	<head>
		<title>Filter Input</title>
	</head>
	<body>
	<div class="toolbar" style="position: absolute; top: 57px; left: 70px">
		<input type="text" class="headlamp_name_filter ccs-hidden" data-filters="OverText, ArtInput" data-art-input-type="search"
			title="Filter by Name"
			data-filter-elements="td.city" data-filter-parents="tr" value="New York"/>
		</div>
	</div>
	<table class="ccs-data_table selectable sortable" cellpadding="0" cellspacing="0">
		<thead>
			<tr>
				<th>
							ID
				</th>
				<th>
							TimeZone
				</th>
				<th>
							Name
				</th>
				<th>
							GEO Latitude
				</th>
				<th>
							GEO Longitude
				</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>
					22
				</td>
				<td class="city">
					New York City
				</td>
				<td>
					America/New_York
				</td>
				<td>
					40.7255
				</td>
				<td>
					-73.9983
				</td>
			</tr>
			<tr>
				<td>
					23
				</td>
				<td class="city">
					San Francisco
				</td>
				<td>
					America/Los_Angeles
				</td>
				<td>
					37.7587
				</td>
				<td>
					-122.433
				</td>
			</tr>
			<tr>
				<td>
					24
				</td>
				<td class="city">
					Boston
				</td>
				<td>
					America/New_York
				</td>
				<td>
					42.3583
				</td>
				<td>
					-71.0603
				</td>
			</tr>
			<tr>
				<td>
					25
				</td>
				<td class="city">
					Denver
				</td>
				<td>
					America/Denver
				</td>
				<td>
					39.734
				</td>
				<td>
					-105.026
				</td>
			</tr>
			<tr>
				<td>
					31
				</td>
				<td class="city">
					Washington, DC
				</td>
				<td>
					America/New_York
				</td>
				<td>
					38.8964
				</td>
				<td>
					-77.0447
				</td>
			</tr>
			<tr>
				<td>
					32
				</td>
				<td class="city">
					Chicago
				</td>
				<td>
					America/Chicago
				</td>
				<td>
					41.8858
				</td>
				<td>
					-87.6181
				</td>
			</tr>
			<tr>
				<td>
					33
				</td>
				<td class="city">
					Philadelphia
				</td>
				<td>
					America/New_York
				</td>
				<td>
					39.8694
				</td>
				<td>
					-75.2731
				</td>
			</tr>
			<tr>
				<td>
					34
				</td>
				<td class="city">
					Los Angeles
				</td>
				<td>
					America/Los_Angeles
				</td>
				<td>
					34.0443
				</td>
				<td>
					-118.251
				</td>
			</tr>
			<tr>
				<td>
					37
				</td>
				<td class="city">
					Portland
				</td>
				<td>
					America/Los_Angeles
				</td>
				<td>
					45.527
				</td>
				<td>
					-122.685
				</td>
			</tr>
			<tr>
				<td>
					38
				</td>
				<td class="city">
					San Diego
				</td>
				<td>
					America/Los_Angeles
				</td>
				<td>
					32.7153
				</td>
				<td>
					-117.156
				</td>
			</tr>
			<tr>
				<td>
					39
				</td>
				<td class="city">
					Miami
				</td>
				<td>
					America/New_York
				</td>
				<td>
					25.7323
				</td>
				<td>
					-80.2436
				</td>
			</tr>
			<tr>
				<td>
					41
				</td>
				<td class="city">
					Seattle
				</td>
				<td>
					America/Los_Angeles
				</td>
				<td>
					47.6036
				</td>
				<td>
					-122.326
				</td>
			</tr>
			<tr>
				<td>
					42
				</td>
				<td class="city">
					Austin
				</td>
				<td>
					America/Chicago
				</td>
				<td>
					30.2669
				</td>
				<td>
					-97.7428
				</td>
			</tr>
			<tr>
				<td>
					43
				</td>
				<td class="city">
					Dallas / Fort Worth
				</td>
				<td>
					America/Chicago
				</td>
				<td>
					32.7887
				</td>
				<td>
					-96.7676
				</td>
			</tr>
			<tr>
				<td>
					46
				</td>
				<td class="city">
					Atlanta
				</td>
				<td>
					America/New_York
				</td>
				<td>
					33.7525
				</td>
				<td>
					-84.3888
				</td>
			</tr>
			<tr>
				<td>
					47
				</td>
				<td class="city">
					Detroit
				</td>
				<td>
					America/New_York
				</td>
				<td>
					42.3333
				</td>
				<td>
					-83.0484
				</td>
			</tr>
			<tr>
				<td>
					48
				</td>
				<td class="city">
					Houston
				</td>
				<td>
					America/Chicago
				</td>
				<td>
					29.7594
				</td>
				<td>
					-95.3594
				</td>
			</tr>
			<tr>
				<td>
					49
				</td>
				<td class="city">
					Las Vegas
				</td>
				<td>
					America/Los_Angeles
				</td>
				<td>
					36.1721
				</td>
				<td>
					-115.122
				</td>
			</tr>
			<tr>
				<td>
					51
				</td>
				<td class="city">
					Minneapolis / St. Paul
				</td>
				<td>
					America/Chicago
				</td>
				<td>
					44.9609
				</td>
				<td>
					-93.2642
				</td>
			</tr>
			<tr>
				<td>
					52
				</td>
				<td class="city">
					New Orleans
				</td>
				<td>
					America/Chicago
				</td>
				<td>
					29.9544
				</td>
				<td>
					-90.075
				</td>
			</tr>
			<tr>
				<td>
					53
				</td>
				<td class="city">
					Phoenix
				</td>
				<td>
					America/Phoenix
				</td>
				<td>
					33.4483
				</td>
				<td>
					-112.073
				</td>
			</tr>
			<tr>
				<td>
					56
				</td>
				<td class="city">
					Amsterdam
				</td>
				<td>
					Europe/Amsterdam
				</td>
				<td>
					52.3789
				</td>
				<td>
					4.90067
				</td>
			</tr>
			<tr>
				<td>
					57
				</td>
				<td class="city">
					Raleigh / Durham
				</td>
				<td>
					America/New_York
				</td>
				<td>
					35.7797
				</td>
				<td>
					-78.6434
				</td>
			</tr>
			<tr>
				<td>
					59
				</td>
				<td>
					Vancouver
				</td>
				<td class="city">
					America/Vancouver
				</td>
				<td>
					49.259515
				</td>
				<td>
					-123.103867
				</td>
			</tr>
			<tr>
				<td>
					60
				</td>
				<td class="city">
					Pittsburgh
				</td>
				<td>
					America/New_York
				</td>
				<td>
					40.4405
				</td>
				<td>
					-79.9961
				</td>
			</tr>
			<tr>
				<td>
					61
				</td>
				<td class="city">
					London
				</td>
				<td>
					Europe/London
				</td>
				<td>
					51.50714
				</td>
				<td>
					-0.126171
				</td>
			</tr>
			<tr>
				<td>
					62
				</td>
				<td class="city">
					St. Louis
				</td>
				<td>
					America/Chicago
				</td>
				<td>
					38.627491
				</td>
				<td>
					-90.198417
				</td>
			</tr>
			<tr>
				<td>
					63
				</td>
				<td class="city">
					Baltimore
				</td>
				<td>
					America/New_York
				</td>
				<td>
					39.294255
				</td>
				<td>
					-76.614275
				</td>
			</tr>
			<tr>
				<td>
					64
				</td>
				<td class="city">
					Cleveland
				</td>
				<td>
					America/New_York
				</td>
				<td>
					41.499819
				</td>
				<td>
					-81.693716
				</td>
			</tr>
			<tr>
				<td>
					65
				</td>
				<td class="city">
					Kansas City
				</td>
				<td>
					America/Chicago
				</td>
				<td>
					39.090431
				</td>
				<td>
					-94.583644
				</td>
			</tr>
			<tr>
				<td>
					66
				</td>
				<td class="city">
					Indianapolis
				</td>
				<td>
					America/New_York
				</td>
				<td>
					39.767016
				</td>
				<td>
					-86.156255
				</td>
			</tr>
			<tr>
				<td>
					67
				</td>
				<td class="city">
					Milwaukee
				</td>
				<td>
					America/Chicago
				</td>
				<td>
					43.038902
				</td>
				<td>
					-87.906474
				</td>
			</tr>
			<tr>
				<td>
					68
				</td>
				<td class="city">
					San Antonio
				</td>
				<td>
					America/Chicago
				</td>
				<td>
					29.424122
				</td>
				<td>
					-98.493628
				</td>
			</tr>
			<tr>
				<td>
					69
				</td>
				<td class="city">
					Toronto
				</td>
				<td>
					America/New_York
				</td>
				<td>
					43.670233
				</td>
				<td>
					-79.386755
				</td>
			</tr>
			<tr>
				<td>
					70
				</td>
				<td class="city">
					Montreal
				</td>
				<td>
					America/New_York
				</td>
				<td>
					45.545447
				</td>
				<td>
					-73.639076
				</td>
			</tr>
			<tr>
				<td>
					71
				</td>
				<td class="city">
					Salt Lake City
				</td>
				<td>
					America/Denver
				</td>
				<td>
					40.760779
				</td>
				<td>
					-111.891047
				</td>
			</tr>
			<tr>
				<td>
					72
				</td>
				<td>
					Omaha
				</td>
				<td class="city">
					America/Chicago
				</td>
				<td>
					41.254006
				</td>
				<td>
					-95.999258
				</td>
			</tr>
			<tr>
				<td>
					73
				</td>
				<td class="city">
					Richmond
				</td>
				<td>
					America/New_York
				</td>
				<td>
					37.542979
				</td>
				<td>
					-77.469092
				</td>
			</tr>
		</tbody>
	</table>
	
	</body>
</html>
