{% comment %}
Licensed to Cloudera, Inc. under one
or more contributor license agreements.  See the NOTICE file
distributed with this work for additional information
regarding copyright ownership.  Cloudera, Inc. licenses this file
to you under the Apache License, Version 2.0 (the
"License"); you may not use this file except in compliance
with the License.  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
{% endcomment %}
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
	<head>
		<title>SizeTo</title>
	</head>
	<body>
		<h1 style="background: #999; height: 30px; padding: 10px">This is a header that's 100px tall</h1>
		<div data-filters="SizeTo" data-size-to-height="-70" class="jframe_padded" style="background: #ccc">
			<p>This is content that is stretched to the height of the JFrame - 70px (this isn't 100px because of padding added to this container and the header). This element's background is light grey and should go all the way to the bottom of the window. Further, the overflow (scroll) should be limited to this lower element (because it has overflow:auto assigned to it).</p>
			<p>this is here to provide an overflow.</p>
			<p>this is here to provide an overflow.</p>
			<p>this is here to provide an overflow.</p>
			<p>this is here to provide an overflow.</p>
			<p>this is here to provide an overflow.</p>
			<p>this is here to provide an overflow.</p>
			<p>this is here to provide an overflow.</p>
			<p>this is here to provide an overflow.</p>
			<p>this is here to provide an overflow.</p>
			<p>this is here to provide an overflow.</p>
			<p>this is here to provide an overflow.</p>
			<p>this is here to provide an overflow.</p>
			<p>this is here to provide an overflow.</p>
			<p>this is here to provide an overflow.</p>
			<p>this is here to provide an overflow.</p>
			<p>this is here to provide an overflow.</p>
			<p>this is here to provide an overflow.</p>
			<p>this is here to provide an overflow.</p>
			<p>this is here to provide an overflow.</p>
			<p>this is here to provide an overflow.</p>
			<p>this is here to provide an overflow.</p>
			<p>this is here to provide an overflow.</p>
			<p>this is here to provide an overflow.</p>
			<p>this is here to provide an overflow.</p>
			<p>this is here to provide an overflow.</p>
			<p>this is here to provide an overflow.</p>
			<p>this is here to provide an overflow.</p>
			<p>this is here to provide an overflow.</p>
			<p>this is here to provide an overflow.</p>
		</div>
	</body>
</html>