{% comment %}
Licensed to Cloudera, Inc. under one
or more contributor license agreements.  See the NOTICE file
distributed with this work for additional information
regarding copyright ownership.  Cloudera, Inc. licenses this file
to you under the Apache License, Version 2.0 (the
"License"); you may not use this file except in compliance
with the License.  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
{% endcomment %}
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
	<head>
		<title>Side-by-side Select</title>
	</head>
	<body>
		<div class="jframe_padded">
			<h2 style="margin: 0px 0px 4px">Example with just a select element w/ side_by_side_select class</h2>
			<select data-filters="SideBySideSelect" multiple="true">
				<option value="1">one</option>
				<option value="2">two</option>
				<option value="3">three</option>
				<option value="4">four</option>
				<option value="5">five</option>
				<option value="6">six</option>
				<option value="7">seven</option>
				<option value="8">eight</option>
				<option value="9">nine</option>
				<option value="10">ten</option>
				<option value="11">eleven</option>
				<option value="12">twelve</option>
				<option value="13">thirteen</option>
			</select>
			
			<h2 style="margin: 8px 0px 4px">Example in a container that has the side_by_side_select class</h2>
			<div data-filters="SideBySideSelect">
				<select multiple="true">
					<option value="1">one</option>
					<option value="2">two</option>
					<option value="3">three</option>
				</select>
			</div>

			<h2 style="margin: 8px 0px 4px">Example of a select with the class but <tt>multiple</tt> is not true (so it's ignored)</h2>
			<select data-filters="SideBySideSelect">
				<option value="1">one</option>
				<option value="2">two</option>
				<option value="3">three</option>
			</select>
			
		</div>
	</body>
</html>
