{% comment %}
Licensed to Cloudera, Inc. under one
or more contributor license agreements.  See the NOTICE file
distributed with this work for additional information
regarding copyright ownership.  Cloudera, Inc. licenses this file
to you under the Apache License, Version 2.0 (the
"License"); you may not use this file except in compliance
with the License.  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
{% endcomment %}
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
  <head>
    <title>Timer</title>
  </head>
  <body>
  <div class="jframe_padded">
		<p>This filter creates a timer that counts up from zero (or some other value you specify). It uses "human" wording, so when it passes 59 seconds it reads "about a minute ago" and on to "an hour", "a day", etc.</p>
		<p>Example from zero:
			<span data-filters="Timer"></span>
		</p>
		<p>Example from zero, showing seconds when less than 1 min:
			<span data-filters="Timer" class="showSeconds"></span>
		</p>
		<p>Example from Dec 31, 1999:
			<span data-filters="Timer" data-start-time="12/31/1999 11:59pm"></span>
		</p>
  </div>
</body>
</html>
