{% comment %}
Licensed to Cloudera, Inc. under one
or more contributor license agreements.  See the NOTICE file
distributed with this work for additional information
regarding copyright ownership.  Cloudera, Inc. licenses this file
to you under the Apache License, Version 2.0 (the
"License"); you may not use this file except in compliance
with the License.  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
{% endcomment %}
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
	<head>
		<title>Tips</title>
	</head>
	<body>
		<div class="jframe_padded">
			<ul>
				<li><a data-filters="PointyTip" rel="I'm the caption." title="I'm the title!">this link has a tip</a></li>
				<li><a data-filters="PointyTip" rel="I point down." title="I'm the title!" data-tip-direction="6">my tip points down</a></li>
				<li><a data-filters="PointyTip" rel="I point up, but I'm on the right." title="I'm the title!" data-tip-direction="11">my tip is offset</a></li>
				<li><a data-filters="PointyTip" rel="I point left." title="I'm the title!" data-tip-direction="9">my tip points to the left</a></li>
			</ul>
			
			<ul>
				<li>
					I am some text. Nothing special.
					<p class="ccs-inline" data-filters="HelpTip">I'm some help text that gets turned into a help tip</p>
				</li>
				<li>
					I am some text. Nothing special.
					<p class="ccs-inline" data-filters="InfoTip">I'm some help text that gets turned into an info tip</p>
				</li>
			</ul>
			
		</div>
	</body>
</html>
