/desktop/core/src/desktop/js/ext/**
/desktop/core/src/desktop/js/ko/bindings/charts/mapchart/topo/**
/desktop/core/src/desktop/js/parse/globalSearchParser.js
/desktop/core/src/desktop/js/parse/solrFormulaParser.js
/desktop/core/src/desktop/js/parse/solrQueryParser.js
/desktop/core/src/desktop/js/parse/sqlAutocompleteParser.js
/desktop/core/src/desktop/js/parse/sqlStatementsParser.js
/desktop/core/src/desktop/js/parse/sqlSyntaxParser.js
/desktop/core/src/desktop/js/utils/json.bigDataParse.js
/desktop/core/src/desktop/js/parse/sql/generic/genericAutocompleteParser.js
/desktop/core/src/desktop/js/parse/sql/generic/genericSyntaxParser.js
/desktop/core/src/desktop/js/parse/sql/impala/impalaAutocompleteParser.js
/desktop/core/src/desktop/js/parse/sql/impala/impalaSyntaxParser.js
/desktop/core/src/desktop/js/parse/sql/hive/hiveAutocompleteParser.js
/desktop/core/src/desktop/js/parse/sql/hive/hiveSyntaxParser.js
/desktop/core/src/desktop/js/parse/sql/generic/spec/genericAutocompleteParser_Locations_Spec.js
/desktop/core/src/desktop/js/parse/sql/hive/spec/hiveAutocompleteParser_Locations_Spec.js
/desktop/core/src/desktop/js/parse/sql/impala/spec/impalaAutocompleteParser_Locations_Spec.js
