include *.rst
include *.txt
include *.py
include *.sh
include .coveragerc
include build.cmd
include buildout.cfg
include tox.ini

recursive-include docs *
recursive-include src *

global-exclude *.dll
global-exclude *.pyc
global-exclude *.pyo
global-exclude *.so
global-exclude coverage.xml
global-exclude appveyor.yml

prune docs/_build
