@use 'variables' as vars;
@use 'mixins';

// We need to get the cuix class in but we can't add it to the root
// TODO: Don't wrap here, but rather import into hue-ai-preview-modal
.ant-modal-root {
  .hue-ai-preview-modal {
    // TODO: Rename these classes to not include preview-moda
    .hue-syntax-highlighter-diff {
      display: flex;
      column-gap: 12px;
      & > * {
        flex-grow: 1;
      }
    }

    .hue-syntax-highlighter-diff__container,
    .hue-syntax-highlighter-diff__line-numbers {
      background-color: vars.$fluidx-slate-800;
      padding: vars.$fluidx-spacing-xs 0;
    }

    .hue-syntax-highlighter-diff__container {
      display: flex;
    }
    .hue-syntax-highlighter-diff__line-numbers {
      padding-right: 0;
      padding-top: 0;
      color: vars.$fluidx-gray-600;
      flex-shrink: 0;
    }
    .hue-syntax-highlighter-diff__code {
      padding-left: 0;
      flex-grow: 1;
    }

    .hue-syntax-highlighter-diff__row {
      display: block;
    }
    .hue-syntax-highlighter-diff__row--added {
      background-color: vars.$fluidx-slate-600;
    }
    .hue-syntax-highlighter-diff__row--deleted {
      background-color: vars.$fluidx-red-800;
    }
    .hue-syntax-highlighter-diff__row--empty {
      background-color: #212c35;
    }
  }
}
