<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <title>Jasmine Spec Runner</title>

  <link rel="shortcut icon" type="image/png" href="../static/desktop/ext/js/jasmine-2.3.4/jasmine_favicon.png">
  <link rel="stylesheet" href="../static/desktop/ext/js/jasmine-2.3.4/jasmine.css">

  <script type="text/javascript" charset="utf-8">
    var ApiHelperGlobals = {
      i18n: {
        errorLoadingDatabases: 'errorLoadingDatabases',
        errorLoadingTablePreview: 'errorLoadingTablePreview'
      },
      user: 'user'
    };


    var AUTOCOMPLETE_TIMEOUT = 0;

    var AutocompleterGlobals = {
      i18n: {
        category: {
          all: 'All',
          column: 'Columns',
          cte: 'CTEs',
          database: 'Databases',
          identifier: 'Identifiers',
          keyword: 'Keywords',
          popular: 'Popular',
          sample: 'Samples',
          table: 'Tables',
          udf: 'UDFs',
          variable: 'Variables'
        },
        meta: {
          aggregateFunction: 'aggregate',
          alias: 'alias',
          commonTableExpression: 'cte',
          database: 'database',
          filter: 'filter',
          groupBy: 'group by',
          join: 'join',
          joinCondition: 'condition',
          keyword: 'keyword',
          orderBy: 'order by',
          table: 'table',
          sample: 'sample',
          variable: 'variable',
          view: 'view',
          virtual: 'virtual'
        }
      }
    };

    var HAS_OPTIMIZER = false;

    var CACHEABLE_TTL = 0;
  </script>

  <script type="text/javascript" src="../static/desktop/ext/js/jquery/jquery-2.1.1.min.js"></script>
  <script type="text/javascript" src="../static/desktop/js/jquery.migration.js"></script>
  <script type="text/javascript" src="../static/desktop/js/hue.colors.js"></script>
  <script type="text/javascript" src="../static/desktop/js/hue.utils.js"></script>
  <script type="text/javascript" src="../static/desktop/js/hue4.utils.js"></script>
  <script type="text/javascript" src="../static/desktop/ext/js/jquery/plugins/jquery.total-storage.min.js"></script>
  <script type="text/javascript" src="../static/desktop/js/ace/ace.js"></script>
  <script type="text/javascript" src="../static/desktop/js/ace/ext-language_tools.js"></script>
  <script type="text/javascript" src="../static/desktop/js/ace.extended.js"></script>
  <script type="text/javascript" src="../static/desktop/ext/js/knockout.min.js"></script>
  <script type="text/javascript" src="../static/desktop/ext/js/knockout-mapping.min.js"></script>
  <script type="text/javascript" src="../static/desktop/js/apiHelper.js"></script>
  <script type="text/javascript" src="../static/desktop/spec/autocompleterTestUtils.js"></script>

  <script type="text/javascript" src="../static/desktop/ext/js/jasmine-2.3.4/jasmine.js"></script>
  <script type="text/javascript" src="../static/desktop/ext/js/jasmine-2.3.4/jasmine-html.js"></script>
  <script type="text/javascript" src="../static/desktop/ext/js/jasmine-2.3.4/boot.js"></script>
  <script type="text/javascript" src="../static/desktop/ext/js/jasmine-2.3.4/mock-ajax.js"></script>

  <script type="text/javascript" src="../static/desktop/spec/hueUtilsSpec.js"></script>
  <script type="text/javascript" src="../static/desktop/spec/hue4UtilsSpec.js"></script>

  <script type="text/javascript" src="../static/desktop/spec/apiHelperSpec.js"></script>

  <script type="text/javascript" src="../static/desktop/js/sqlAutocompleter.js"></script>
  <script type="text/javascript" src="../static/desktop/spec/sqlAutocompleterSpec.js"></script>

  <script type="text/javascript" src="../static/desktop/js/sqlAutocompleter2.js"></script>
  <script type="text/javascript" src="../static/desktop/spec/sqlAutocompleter2Spec.js"></script>

  <script type="text/javascript" src="../static/desktop/js/sqlUtils.js"></script>
  <script type="text/javascript" src="../static/desktop/js/sqlAutocompleter3.js"></script>
  <script type="text/javascript" src="../static/desktop/spec/sqlAutocompleter3Spec.js"></script>

  <script type="text/javascript" src="../static/desktop/js/sqlFunctions.js"></script>
  <script type="text/javascript" src="../static/desktop/spec/sqlFunctionsSpec.js"></script>

  <script type="text/javascript" src="../static/desktop/js/hdfsAutocompleter.js"></script>
  <script type="text/javascript" src="../static/desktop/spec/hdfsAutocompleterSpec.js"></script>

  <script type="text/javascript" src="../static/desktop/js/autocomplete/sqlParseSupport.js"></script>
  <script type="text/javascript" src="../static/desktop/js/autocomplete/sql.js"></script>
  <script type="text/javascript" src="../static/desktop/spec/autocomplete/sqlSpec.js"></script>

  <script type="text/javascript" src="../static/desktop/spec/autocomplete/sqlSpecAlter.js"></script>
  <script type="text/javascript" src="../static/desktop/spec/autocomplete/sqlSpecAnalyze.js"></script>
  <script type="text/javascript" src="../static/desktop/spec/autocomplete/sqlSpecCreate.js"></script>
  <script type="text/javascript" src="../static/desktop/spec/autocomplete/sqlSpecDescribe_hive.js"></script>
  <script type="text/javascript" src="../static/desktop/spec/autocomplete/sqlSpecDescribe_impala.js"></script>
  <script type="text/javascript" src="../static/desktop/spec/autocomplete/sqlSpecDrop.js"></script>
  <script type="text/javascript" src="../static/desktop/spec/autocomplete/sqlSpecError.js"></script>
  <script type="text/javascript" src="../static/desktop/spec/autocomplete/sqlSpecGrant.js"></script>
  <script type="text/javascript" src="../static/desktop/spec/autocomplete/sqlSpecInsert.js"></script>
  <script type="text/javascript" src="../static/desktop/spec/autocomplete/sqlSpecLoad.js"></script>
  <script type="text/javascript" src="../static/desktop/spec/autocomplete/sqlSpecLocations.js"></script>
  <script type="text/javascript" src="../static/desktop/spec/autocomplete/sqlSpecSelect.js"></script>
  <script type="text/javascript" src="../static/desktop/spec/autocomplete/sqlSpecSet.js"></script>
  <script type="text/javascript" src="../static/desktop/spec/autocomplete/sqlSpecShow.js"></script>
  <script type="text/javascript" src="../static/desktop/spec/autocomplete/sqlSpecUpdate.js"></script>
  <script type="text/javascript" src="../static/desktop/spec/autocomplete/sqlSpecUse.js"></script>

  <script type="text/javascript" charset="utf-8">
    if (/PhantomJS/.test(window.navigator.userAgent)) {
      console.log("Running Jasmine tests with JUnitXmlReporter and TerminalReporter");
      jasmine.getEnv().addReporter(new jasmineReporters.JUnitXmlReporter({
        savePath: '../../',
        consolidateAll: false
      }));
      jasmine.getEnv().addReporter(new jasmineReporters.TerminalReporter());
      window.onload();
    }
  </script>
</head>
<body></body>
</html>
