include MANIFEST.in Makefile CHANGES INSTALL LICENCE README TODO PKG-INFO
include Modules/*.c Modules/*.h Modules/LICENSE
recursive-include Build *.cfg*
recursive-include Lib *.py
recursive-include Demo *.py
recursive-include Tests *.py
