{% comment %}
Licensed to Cloudera, Inc. under one
or more contributor license agreements.  See the NOTICE file
distributed with this work for additional information
regarding copyright ownership.  Cloudera, Inc. licenses this file
to you under the Apache License, Version 2.0 (the
"License"); you may not use this file except in compliance
with the License.  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
{% endcomment %}
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
  <head>
    <title>Errors</title>
  </head>
  <body>
    <div class="jframe_padded">
      <p>Clicking on any of these should trigger an error popup.</p>
      <ul>
        <li><a id=e_1 href="/">A request for /</a> </li>
        <li><a id=e_1 href="/jframegallery/gallery/error_404">Explicit 404</a> </li>
        <li><a id=e_2 href="/jframegallery/gallery/error_message_exception">Explict message exception</a> </li>
        <li><a id=e_3 href="/jframegallery/gallery/error_popup_exception">Explict popup exception</a> </li>
        <li><a id=e_4 href="/jframegallery/gallery/error_500">500 (trapped by middleware)</a></li>
        <li><a id=e_5 href="/jframegallery/gallery/error_real_500">500 (not trapped by middleware)</a></li>
        <li><a id=e_6 href="/test/does_not_exist/404">404 because link doesn't exist</a> </li>
        <li><a id=e_7 href="/jframegallery/gallery/error_python">Code doesn't work</a> </li>
        <li><a id=e_8 href="/jframegallery/gallery/error_redirect">Redirect to bad location</a> </li>
      </ul>
    </divt>
  </body>
</html>
