<!DOCTYPE html>
<html>
<head>
	<meta http-equiv=Content-type content="text/html; charset=utf-8">
	<title>OOCSS Component: Icon </title>

	<link rel=stylesheet href="/static/css/reset.css">
	<link rel=stylesheet href="/static/css/shared.css">
	<link rel=stylesheet href="/static/oocss/Icon.css">

	<link rel=stylesheet href="../../../../../../desktop/core/static/css/reset.css">
	<link rel=stylesheet href="../../../../../../desktop/core/static/css/shared.css">
	<link rel=stylesheet href="../../../../../../desktop/core/static/oocss/Icon.css">

</head>
<body>
<div class="print oocss-gallery">

<h3>Icon</h3>

<p>Replace semantic text with an image.</p>

<p>
	iFirst   <i class="Icon iFirst">First</i>
	iBack    <i class="Icon iBack">Back</i>
	iRefresh <i class="Icon iRefresh">Refresh</i>
	iNext    <i class="Icon iNext">Next</i>
	iLast    <i class="Icon iLast">Last</i>

	Custom <i class="Icon" style="background-image:url(/static/art/spinner.gif);height:16px;width:16px">Custom Icon: Spinner</i>
</p>

<p>Sometimes an <code>IMG</code> would actually be the better option. IMG element <img src="/static/art/spinner.gif"></p>

</div>
</body>
</html>
