<!DOCTYPE html>
<html>
<head>
	<meta http-equiv=Content-type content="text/html; charset=utf-8">
	<title>OOCSS Component: Button </title>

<link rel=stylesheet href="/static/css/reset.css">
<link rel=stylesheet href="/static/css/shared.css">
<link rel=stylesheet href="/static/oocss/Button.css">

<link rel=stylesheet href="../../../../../../desktop/core/static/css/reset.css">
<link rel=stylesheet href="../../../../../../desktop/core/static/css/shared.css">
<link rel=stylesheet href="../../../../../../desktop/core/static/oocss/Button.css">

</head>
<body>
<div class="oocss-gallery" style="padding:2ex">

<h1>Button</h1>

<h2>Usage</h2>

<p>Add the class "Button" to an element to declare that it is of the Button class.</p>

<p>e.g. <code>&lt;a class=&quot;Button&quot;&gt;A Button&lt;/a&gt;</code></p>

<a class="Button">A Button</a>
<button class="Button">button Button</button>

<p>Buttons can contain almost any arbitrary html.</p>

<a class="Button">
	A Button Block
	<ol>
		<li>Howdy</li>
		<li>Do</li>
	</ol>
	<em class="Button">A Button in a Button!</em>
</a>

<button class="Button">
	button Button Block
	<ol>
		<li>Howdy</li>
		<li>Do</li>
	</ol>
</button>

<hr>
<h2><code>disabled Button</code></h2>

<p>To declare that the Button is disabled:</p>

<ul>
	<li>Add the attribute <code>disabled</code> to the element to declare that the Button is disabled</li>
	<li>OR add the class <code>disabled</code> to the element </li>
</ul>

<p>e.g. <code>&lt;a class=&quot;Button disabled&quot;&gt;A disabled Button&lt;/a&gt;</code></p>

disabled class:
<a class="Button disabled">A.Button.disabled</a>
<button class="Button disabled">button.Button.disabled</button>

disabled attribute:
<a class="Button" disabled>A.Button[disabled]</a>
<button class="Button" disabled>button.Button[disabled]</button>

<hr>
<h2><code>notFocused Button</code></h2>

<p>In order to handle the notFocused state of jBrowser windows, there is a <code>notFocused Button</code> state.</p>
<p><em>There's nothing you have to do to your Button to get this feature.</em></p>

<div class=notFocused>
	<a class="Button">A Button</a>
	<button class="Button">button Button</button>
	<a disabled class="Button">A disabled Button</a>
	<button disabled class="Button">button disabled Button</button>
</div>

<hr>

<h2>round</h2>

<dl>

	<dt><code>class=<strong>roundRight</strong></code></dt>
	<dd>Round the edge of the top right and bottom right corners.</dd>
	<dd><p><i class="Button roundRight">Button roundRight</i> </p></dd>
	<dd></dd>

	<dt><code>class=<strong>roundLeft</strong></code></dt>
	<dd>Round the edge of the top left and bottom left corners.</dd>
	<dd><p><i class="Button roundLeft">Button roundLeft</i> </p></dd>

	<dt><code>class=<strong>round</strong></code></dt>
	<dd>roundLeft + roundRight</dd>
	<dd><p><i class="Button round">Button round</i> </p></dd>

</dl>

<p><em>NOTE: IE8 gracefully degrades. It does not support rounded edges.</em></p>

<h2>Size</h2>

<p>The size of a Button is determined based on the CSS font-size.</p>
<p>e.g <code>&lt;a style=&quot;font-size:<strong>1.2em</strong>&quot; class=&quot;round Button&quot;&gt;button&lt;/a&gt;</code></p>


<p>
	<a style="font-size:1.25em" class="round Button">button</a>
	<a style="font-size:.65em" class="round Button">button</a>
</p>

<p>e.g <code>&lt;p style=&quot;font-size:<strong>1.2em</strong>&quot;&gt; &lt;a class=&quot;round Button&quot;&gt;button&lt;/a&gt; &lt;/p&gt;</code></p>
<p style="font-size:1.25em">
	<a class="round Button">button</a>
	<a class="round Button">button</a>
</p>
<p style="font-size:.65em">
	<a class="round Button">button</a>
	<a class="round Button">button</a>
</p>

</div>
</body>
</html>
