/*
---
name: Bar.Paginator
description: OOCSS Bar Paginator is a subclass of the Bar class. It provides special default formatting for .Bar > form

provides: Bar.Paginator
requires: Bar

license: |

  Licensed to Cloudera, Inc. under one
  or more contributor license agreements.  See the NOTICE file
  distributed with this work for additional information
  regarding copyright ownership.  Cloudera, Inc. licenses this file
  to you under the Apache License, Version 2.0 (the
  "License"); you may not use this file except in compliance
  with the License.  You may obtain a copy of the License at
  
      http://www.apache.org/licenses/LICENSE-2.0
  
  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.

authors:
  - Thomas Aylott <thomas@cloudera.com>
...
*/

.Bar.Paginator input {
	padding: 0;
	margin: 0;
	border: none;
	font-size: 1em;
	text-align: center;
	padding: .4ex;
	border:1px solid #999;
	margin: 0 1px;
	
	-webkit-box-shadow:inset 1px 1px 2px #bbb;
	-moz-box-shadow:inset 1px 1px 2px #bbb;
	-o-box-shadow:inset 1px 1px 2px #bbb;
	box-shadow:inset 1px 1px 2px #bbb;

	width: 5.5ex;
}

.Bar.Paginator form {
	padding: 0 1ex;
}
