/*
---
name: Icon
description: OOCSS Icon class. Replaces the text content of an element with an image that flows with the text.

provides: Icon
# requires: 

license: |

  Licensed to Cloudera, Inc. under one
  or more contributor license agreements.  See the NOTICE file
  distributed with this work for additional information
  regarding copyright ownership.  Cloudera, Inc. licenses this file
  to you under the Apache License, Version 2.0 (the
  "License"); you may not use this file except in compliance
  with the License.  You may obtain a copy of the License at
  
      http://www.apache.org/licenses/LICENSE-2.0
  
  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.

authors:
  - Thomas Aylott <thomas@cloudera.com>
...
*/

.Icon {
	display:inline-block;
	overflow:hidden;
	text-align:left;
	text-indent:-9999em;
	color:transparent;
	background-color: transparent;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	vertical-align: text-bottom;
}
.notFocused .Icon,
.disabled .Icon{
	/*FIXME: Add support for translucent PNGs for IE8*/
	-moz-opacity: 0.6;
	opacity: 0.6;
}

/*Specific Icons*/

.Icon.iRefresh { background-image: url(Icon/glyph-refresh.png); min-width:10px; min-height:12px; }
.Icon.iFirst { background-image: url(Icon/glyph-first.png); min-width:9px; min-height:9px; }
.Icon.iBack { background-image: url(Icon/glyph-back.png); min-width:9px; min-height:9px; }
.Icon.iNext { background-image: url(Icon/glyph-next.png); min-width:9px; min-height:9px; }
.Icon.iLast { background-image: url(Icon/glyph-last.png); min-width:9px; min-height:9px; }

/*Special cases*/

.Button > .Icon{
	display:block;
	width:1.5ex;
}
