recursive-include cffi *.py *.h
recursive-include c *.c *.h *.asm *.py win64.obj
recursive-include testing *.py *.c *.h
recursive-include doc *.py *.rst Makefile *.bat
recursive-include demo py.cleanup *.py embedding_test.c manual.c
include AUTHORS LICENSE setup.py setup_base.py
