@use 'variables' as vars;
@use '../sharedAiAssistVars' as ai-assist-vars;
@use 'mixins';



// We need to get the cuix class in but we can't add it to the root
.ant-modal-root {
  .hue-ai-preview-modal {
    // TODO: move these classes outside of the modal to use proper BEM
    .hue-ai-preview-modal__syntax-highlighter {
      border-bottom-left-radius: ai-assist-vars.$border-radius;
      border-bottom-right-radius: ai-assist-vars.$border-radius;
      // TODO: better way to do this? Override color
      .react-syntax-highlighter-line-number {
        color: vars.$fluidx-gray-700;
      }
    }
  }
}
