@use 'variables' as vars;
@use 'mixins';

// We need to get the cuix class in but we can't add it to the root
.ant-modal-root {
  .hue-ai-preview-modal {
    .hue-ai-preview-modal__assumptions {
      white-space: pre-line;
    }

    .hue-ai-preview-modal__syntax-highlighter {
      // TODO: better way to do this? Override color
      .react-syntax-highlighter-line-number {
        color: vars.$fluidx-gray-700;
      }
    }

    // .hue-ai-preview-modal__diff-highlighter {
    //   display: flex;
    //   column-gap: 12px;
    //   & > * {
    //     flex-grow: 1;
    //   }
    // }

    // .hue-ai-preview-modal__diff-highlighter-row {
    //   display: block;
    // }
    // .hue-ai-preview-modal__diff-highlighter-row--added,
    // .hue-ai-preview-modal__diff-highlighter-row--deleted {
    //   .react-syntax-highlighter-line-number {
    //     color: vars.$fluidx-gray-500;
    //   }
    // }
    // .hue-ai-preview-modal__diff-highlighter-row--added {
    //   background-color: vars.$fluidx-slate-600;
    // }
    // .hue-ai-preview-modal__diff-highlighter-row--deleted {
    //   background-color: vars.$fluidx-red-800;
    // }
    // .hue-ai-preview-modal__diff-highlighter-row--kept {
    //   // background-color: vars.$fluidx-gray-800;
    // }
    // .hue-ai-preview-modal__diff-highlighter-row--empty {
    //   background-color: #212c35;//vars.$fluidx-gray-800;
    //   .react-syntax-highlighter-line-number {
    //     // background-color: vars.$fluidx-slate-800;
    //     color: transparent;
    //   }      
    // }

    .hue-ai-preview-modal__text-container {
      background-color: vars.$fluidx-blue-050;
      border: 1px solid vars.$fluidx-blue-100;
      padding: 12px;
    }

    .hue-ai-preview-modal__text-container-title {
      color: vars.$fluidx-blue-400;
      text-transform: uppercase;
    }

    .hue-ai-preview-modal__footer {
      display: flex;
    }
    .hue-ai-preview-modal__footer-spacer {
      flex-grow: 2;
    }

    .hue-ai-preview-modal__copy-button-icon {
      color: vars.$fluidx-green-600;
    }
  }
}
