include VERSION
include LICENSE
include README.rst
include CHANGELOG.md

include src/saml2/xml_template/template.xml

graft docs
prune docs/build

prune tests
prune example
prune .github

global-exclude *.py[cod]
global-exclude __pycache__
global-exclude *.egg-info
