// css Added here for convenience before merge -- FIXME

.hidden {
    display: none;
}

// end of convenience section

.useradmin .jframe-window-toolbar {
	position: absolute;
}
.useradmin_logo {
	position: absolute;
	top: 24px;
	left: 14px;
}
.useradmin_userlist table {
	border-bottom: 1px solid #B2B2B2;
}
.useradmin_userlist td a {
	text-indent: -500px;
	display: block;
	float: left;
	height: 18px;
	width: 18px;
	overflow: hidden;
	margin-left: 6px;
}
.useradmin_userlist td a.edit {
	background: url('../art/line_icons.png') no-repeat 0 -23px;
}
.useradmin_userlist td a.delete {
	background: url('../art/line_icons.png') no-repeat 0 -70px;
}
.useradmin_userlist a.useradmin_add_user {
	float: right;
	display: block;
	width: 60px;
	border: 1px solid #666;
	padding: 4px;
	color: #666;
	background: #ccc url('../art/line_icons.png') no-repeat 4px -88px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-box-shadow: 0 1px 2px #999;
	-webkit-box-shadow: 0 1px 2px #999;
	margin: 8px;
	padding-left: 26px;
}
#useradmin_userlist a.useradmin_add_user:hover {
	text-decoration: none;
	background: #ddd url('../art/line_icons.png') no-repeat 4px -88px;
	color: #333;
	border: 1px solid #333;
}
#useradmin_edituser .view {
	background: #eee;
}
.useradmin_edituser dt {
	float: left;
	min-width: 150px;
	line-height: 18px;
	clear: both;
}
.useradmin_edituser dd {
	margin-bottom: 6px;
	width: 312px;
	float: left;
}
.useradmin_edituser dd input[type=text], .useradmin_edituser dd input[type=password], .useradmin_edituser dd textarea, .useradmin_edituser dd select {
	width: 300px;
}
div.jframe_contents.useradmin_edituser h1 {
	background: #ccc;
	padding: 8px;
}
.useradmin_edituser form {
	width: 490px;
	margin: 0px auto;
}
.useradmin_edituser dd.save {
	text-align: right;
}
