// Licensed to Cloudera, Inc. under one
// or more contributor license agreements.  See the NOTICE file
// distributed with this work for additional information
// regarding copyright ownership.  Cloudera, Inc. licenses this file
// to you under the Apache License, Version 2.0 (the
// "License"); you may not use this file except in compliance
// with the License.  You may obtain a copy of the License at
//
//     http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
// See the License for the specific language governing permissions and
// limitations under the License.
@use 'variables' as vars;
@use 'mixins';

$icon-margin: 5px;
$action-dropdown-width: 214px;
$icon-height: 24px;

.antd.cuix {
  .hue-storage-browser-tabContent {
    margin: vars.$fluidx-spacing-s 0;
  }

  .hue-storage-browser__title-bar {
    display: flex;
    margin: 0 vars.$fluidx-spacing-s;
  }

  .hue-storage-browser__icon {
    margin-right: vars.$fluidx-spacing-xs;
    flex: 0 0 auto;
    height: $icon-height;
  }

  .hue-storage-browser__folder-name {
    flex: 0 0 auto;
    font-size: vars.$fluidx-heading-h3-size;
    line-height: vars.$fluidx-heading-h3-line-height;
    font-weight: vars.$fluidx-heading-h3-weight;
  }

  .hue-storage-browser__path-browser-panel {
    display: flex;
    margin: vars.$fluidx-spacing-xs 0;
    align-items: center;
  }

  .hue-storage-browser__filePath {
    flex: 0 0 auto;
    font-weight: 600;
    margin: 0 vars.$fluidx-spacing-xs 0 vars.$fluidx-spacing-s;
  }

  .hue-storage-browser__actions-bar {
    display: flex;
    margin: vars.$fluidx-spacing-s;
    justify-content: space-between;
  }

  .hue-storage-browser__search {
    width: 30%;
  }

  .hue-storage-browser__actions-bar-right {
    display: flex;
    gap: vars.$fluidx-spacing-xs;

    .cdp-icon-dropdown {
      margin-left: $icon-margin;
    }
  }
}

.hue-storage-browser__actions-dropdown {
  width: $action-dropdown-width;
  @include mixins.hue-svg-icon__d3-conflict;
}
