// Licensed to Cloudera, Inc. under one
// or more contributor license agreements.  See the NOTICE file
// distributed with this work for additional information
// regarding copyright ownership.  Cloudera, Inc. licenses this file
// to you under the Apache License, Version 2.0 (the
// "License"); you may not use this file except in compliance
// with the License.  You may obtain a copy of the License at
//
//     http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
// See the License for the specific language governing permissions and
// limitations under the License.
@use 'variables' as vars;

$icon-margin: 5px;
$action-dropdown-width: 214px;

.hue-storage-browser-tabContent {
  background-color: vars.$fluidx-white;
  margin: vars.$fluidx-spacing-s 0;
  padding: 16px;
  //TODO: Set height to content

  .hue-storage-browser__title-bar {
    display: flex;
    align-items: center;

    .hue-storage-browser__icon {
      margin-right: vars.$fluidx-spacing-xs;
      flex: 0 0 auto;
      height: 24px;
      width: 24px;
    }

    .hue-storage-browser__folder-name {
      flex: 0 0 auto;
      font-size: vars.$fluidx-heading-h3-size;
      line-height: vars.$fluidx-heading-h3-line-height;
      font-weight: vars.$fluidx-heading-h3-weight;
    }
  }

  .hue-storage-browser__path-browser-panel {
    display: flex;
    margin: vars.$fluidx-spacing-xs 0;
    //TODO: Remove nesting of classes.
    .hue-storage-browser__filePath {
      flex: 0 0 auto;
      color: vars.$text-color;
      font-weight: 600;
      margin-right: vars.$fluidx-spacing-xs;
    }
  }
}

.hue-storage-browser__actions-bar {
  display: flex;
  margin: vars.$fluidx-spacing-s 0;
  justify-content: space-between;
}

.hue-storage-browser__search {
  flex: 0 0 auto;
  display: flex;
}

.hue-storage-browser__actions-bar-right {
  display: flex;
  height: 32px;
}

.hue-storage-browser__bulk-action-btn {
  flex: 0 0 auto;
  color: vars.$fluidx-blue-600;
  margin-right: vars.$fluidx-spacing-xs;
  border: solid 1px vars.$fluidx-gray-300;
  box-shadow: none;
  background-color: transparent;

  .anticon {
    margin-left: $icon-margin;
  }
}

.hue-storage-browser__new-btn {
  flex: 0 0 auto;
  color: vars.$fluidx-white;
  background-color: vars.$fluidx-blue-600;
  border: solid 1px vars.$fluidx-blue-600;
  box-shadow: none;

  .anticon {
    margin-left: $icon-margin;
  }

  .anticon.anticon-plus-circle {
    margin-right: $icon-margin;
  }
}

.hue-storage-browser__bulk-action {
  width: $action-dropdown-width;
}

.hue-storage-browser__new-action {
  width: $action-dropdown-width;
}
