//
// Accordion
// --------------------------------------------------

.accordion {
  background-color: @white;
}

.accordion-group {
  margin: 0;
  border: 0;
  .border-radius(2);

  background-color: @white;
  .box-shadow(~"0 2px 6px rgba(0,0,0,0.3),0 -3px 8px rgba(0,0,0,0.2)");

  .transition(background-color 200ms cubic-bezier(0.52,0,0.48,1));
  
  color: #666;
  font-size: 12px;
  line-height: 16px;
  outline: none;
}

