//
// Button groups
// --------------------------------------------------

.btn-group > .btn,
.btn-group > .dropdown-menu,
.btn-group > .popover {
   font-weight: normal;
}



.btn-group > .btn + .dropdown-toggle {
   min-width: 20px;
   width: 20px;
   padding-right: 2px;
   padding-left: 2px;
}

// Reposition the caret for dropdown toggles
.btn-group > .btn.dropdown-toggle .caret {
   margin-top: 0;
}