
// Gradient Bar Colors for buttons and alerts
.gradientBar(@primaryColor, @secondaryColor, @textColor: #fff, @textShadow: 0 -1px 0 rgba(0,0,0,.25)) {
   border-color: rgba(0,0,0,.1);
}



.no-background {
   background-image: none;
   background-repeat: no-repeat;
}