//
// Progress bars
// --------------------------------------------------

.progress {
   height: 10px;
   padding: 1px;
   border: 1px solid @grayLight;
   .no-background;
  .box-shadow(none);
  .border-radius(0);
}


.progress .bar {
   .no-background;
   .box-shadow(none);
   background-color: #6188F5;
}


.progress-striped .bar {
  #gradient > .striped(#6188F5);
  .background-size(40px 40px);
}

.progress .bar + .bar {
  .box-shadow(none);
}

// COLORS
// ------

// Danger (red)
.progress-danger .bar, .progress .bar-danger {
  background-color: #c13e2c;
}
.progress-danger.progress-striped .bar, .progress-striped .bar-danger {
  #gradient > .striped(#ee5f5b);
}

// Success (green)
.progress-success .bar, .progress .bar-success {
  background-color: #2f973f;
}
.progress-success.progress-striped .bar, .progress-striped .bar-success {
  #gradient > .striped(#2f973f);
}

// Info (teal)
.progress-info .bar, .progress .bar-info {
  background-color: #53bddc;
}
.progress-info.progress-striped .bar, .progress-striped .bar-info {
  #gradient > .striped(#53bddc);
}

// Warning (orange)
.progress-warning .bar, .progress .bar-warning {
  background-color: lighten(@orange, 15%);
}
.progress-warning.progress-striped .bar, .progress-striped .bar-warning {
  #gradient > .striped(lighten(@orange, 15%));
}