//
// Wells
// --------------------------------------------------


// Base class
.well {
   border: 1px solid @navlistBorder;
   border-bottom-width: 2px;
   border-top-width: 0;
   .border-radius(@borderRadiusSmall);
   .box-shadow(none);
}

// Sizes
.well-large {
  padding: 24px;
  .border-radius(@borderRadiusLarge);
}
.well-small {
  padding: 9px;
  .border-radius(@baseBorderRadius);
}


