/**
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

.dag-swimlane-vertex-name {
  cursor: pointer;
  padding: 5px 5px 0 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: right;
  height: 30px;

  .progress-text {
    padding-left: 3px;
    float: right;
  }

  .dag-table-status-cell {
    display: inline-block;
    vertical-align: top;
    padding-left: 3px;
    float: right;

    .status {
      display: inline-block;
      padding: 2px;
      width: 16px;
      height: 16px;
      overflow: hidden;
      border-radius: 10px;
    }

    .status-icon {
      display: inline-block;
      width: 12px;
      margin-top: 2px;
    }
  }
}

@-moz-document url-prefix() {
  .progress-text, .dag-table-status-cell {
    float: none !important;
  }
}
