{% comment %}
Licensed to Cloudera, Inc. under one
or more contributor license agreements.  See the NOTICE file
distributed with this work for additional information
regarding copyright ownership.  Cloudera, Inc. licenses this file
to you under the Apache License, Version 2.0 (the
"License"); you may not use this file except in compliance
with the License.  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
{% endcomment %}
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
	<head>
		<title>Anchor Tags That Scroll</title>
	</head>
	<body>
		<div class="jframe_padded">
			<p>All the links below should scroll smoothly to their sections.</p>

			<a name="top"></a>
			<a href="#A">A</a> | 
			<a href="#B">B</a> | 
			<a href="#C">C</a> | 
			<a href="#D">D</a> | 
			<a href="#E">E</a> | 
			<a href="#F">F</a> | 
			<a href="#G">G</a> | 
			<a href="#H">H</a> |
			<a href="#J">J</a>


			<br/>
			<br/>
			<br/>
			<br/>
			<br/>
			<br/>
			<br/>
			<br/>
			<br/>
			<a name="A"></a>
			A
			<a href="#top">Back to top</a>
			<br/>
			<br/>
			<br/>
			<br/>
			<br/>
			<br/>
			<br/>
			<br/>
			<br/>
			<a name="B"></a>
			B
			<a href="#top">Back to top</a>
			<br/>
			<br/>
			<br/>
			<br/>
			<br/>
			<br/>
			<br/>
			<br/>
			<br/>
			<a name="C"></a>
			C
			<a href="#top">Back to top</a>

			<br/>
			<br/>
			<br/>
			<br/>
			<br/>
			<br/>
			<br/>
			<br/>
			<br/>
			<a name="D"></a>
			D
			<a href="#top">Back to top</a>

			<br/>
			<br/>
			<br/>
			<br/>
			<br/>
			<br/>
			<br/>
			<br/>
			<br/>
			<a name="E"></a>
			E
			<a href="#top">Back to top</a>

			<br/>
			<br/>
			<br/>
			<br/>
			<br/>
			<br/>
			<br/>
			<br/>
			<br/>
			<a name="F"></a>
			F
			<a href="#top">Back to top</a>

			<br/>
			<br/>
			<br/>
			<br/>
			<br/>
			<br/>
			<br/>
			<br/>
			<br/>
			<a name="G"></a>
			G
			<a href="#top">Back to top</a>

			<br/>
			<br/>
			<br/>
			<br/>
			<br/>
			<br/>
			<br/>
			<br/>
			<br/>
			<a name="H"></a>
			H
			<a href="#top">Back to top</a>
		</div>
	</body>
</html>
