{% comment %}
Licensed to Cloudera, Inc. under one
or more contributor license agreements.  See the NOTICE file
distributed with this work for additional information
regarding copyright ownership.  Cloudera, Inc. licenses this file
to you under the Apache License, Version 2.0 (the
"License"); you may not use this file except in compliance
with the License.  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
{% endcomment %}
<!DOCTYPE html>
<html>
	<head>
		<title>App Launcher</title>
	</head>
	<body>
		<div class="jframe_padded">
			<ul>
				<li><a target="FileBrowser">I launch the file browser to its default location because I do not specify an href (but I do specify target="FileBrowser").</a></li>
				<li><a href="/filebrowser/view/user" target="FileBrowser">I launch the file browser to the /user directory (I specify an href).</a></li>
				<li><a href="/thisDoesNotExist" target="FileBrowser">I launch the file browser app to an invalid location. This produces an error that, when dismissed, closes the app.</a></li>
			</ul>
		</div>
	</body>
</html>
