{% comment %}
Licensed to Cloudera, Inc. under one
or more contributor license agreements.  See the NOTICE file
distributed with this work for additional information
regarding copyright ownership.  Cloudera, Inc. licenses this file
to you under the Apache License, Version 2.0 (the
"License"); you may not use this file except in compliance
with the License.  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
{% endcomment %}
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
	<head>
		<title>Art Inputs</title>
	</head>
	<body>
		<div class="jframe_padded">
			<p>
				The inputs below should look rather slick with blue outlines when you focus them. They should have hint text that disappears when you focus them and reappear when you move your cursor out of them. Tabbing through them should work appropriately. The first input should have round corners and a search icon. This is achieved by adding the ArtInput data-filter. To get the search input, the property data-art-input-type set to "search".
			</p>

			<input type="input" title="search..." data-filters="ArtInput, OverText" data-art-input-type="search"/>
			<input type="input" title="your name here..." data-filters="ArtInput, OverText"/>

			<hr/>
			<p>
				The examples below should work exactly the same way but they are using the deprecated methods of having 
			</p>
			<input type="input" title="search..." data-filters="OverText, ArtInput" data-art-input-type="search" />
			<input type="input" title="your name here..." class="ccs-input" data-filters="OverText"/>
			
		</div>
	</body>
</html>
