<!DOCTYPE html>
<html>
<head>
	<meta http-equiv=Content-type content="text/html; charset=utf-8">
	<title>OOCSS Component: Bar </title>

<link rel=stylesheet href="/static/css/reset.css">
<link rel=stylesheet href="/static/css/shared.css">
<link rel=stylesheet href="/static/oocss/Button.css">
<link rel=stylesheet href="/static/oocss/Bar.css">

<link rel=stylesheet href="../../../../../../desktop/core/static/css/reset.css">
<link rel=stylesheet href="../../../../../../desktop/core/static/css/shared.css">
<link rel=stylesheet href="../../../../../../desktop/core/static/oocss/Button.css">
<link rel=stylesheet href="../../../../../../desktop/core/static/oocss/Bar.css">

</head>
<body>
<div class="oocss-gallery" style="padding:2ex">

<h1>Bar</h1>
<p>The Bar component removes all the space between its children<br>
	so that they bump right up against eachother.</p>

<p><strong>Without</strong> the Bar class</p>
<p>
	<a class=Button>Button </a>
	<a class=Button>Button </a>
	<a class=Button>Button </a>
</p>

<p><strong>With</strong> the Bar class</p>

<p class=Bar>
	<a class=Button>Button </a>
	<a class=Button>Button </a>
	<a class=Button>Button </a>
</p>

<hr>

<p>It also forces the whole block to behave as a solid block that cannot break or wrap.</p>

<div class=Bar>
	<a class="Button">A Button</a>
	<button class="Button" style="max-width:30ex">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt…</button>
	<a class="Button">A Button</a>
	<button class="Button">button Button</button>
	<a class="Button">A Button</a>
	<button class="Button">button Button</button>
	<a class="Button">A Button</a>
	<button class="Button">button Button</button>
	<a class="Button">A Button</a>
	<button class="Button">button Button</button>
</div>

<p>To force breaks you may use a <code>&lt;BR&gt;</code> tag.</p>
<div class=Bar>
	<a class=Button>Button </a>
	<a class=Button>Button </a>
	<a class=Button>Button </a>
	<br>
	<a class=Button>BR tags work as expected</a>
	<a class=Button>Button </a>
	<a class=Button>Button </a>
</div>

<hr>
<h2>Vertically align the buttons</h2>
<p>To vertically align the buttons in a Bar simply add a valign attribute.</p>
<p>e.g. <code>&lt;p class=Bar valign=<strong>bottom</strong>&gt;</code> or <code>&lt;p class=Bar valign=<strong>top</strong>&gt;</code></p>

<p class=Bar valign=bottom>
	<a class="Button">A Button</a>
	<button class="Button" style="max-width:30ex">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt…</button>
	<a class="Button">A Button</a>
	<button class="Button">button Button</button>
	<code>&nbsp;valign=<strong>bottom</strong></code>
</p>

<p class=Bar>
	<a class="Button">A Button</a>
	<button class="Button" style="max-width:30ex">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt…</button>
	<a class="Button">A Button</a>
	<button class="Button">button Button</button>
	<span><code>&nbsp;valign</code> not set</span>
</p>

<p class=Bar valign=top>
	<a class="Button">A Button</a>
	<button class="Button" style="max-width:30ex">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt…</button>
	<a class="Button">A Button</a>
	<button class="Button">button Button</button>
	<code>&nbsp;valign=<strong>top</strong></code>
</p>


<hr>
<h2>Font Size</h2>
<p>The font-size for the contents of a Bar is hard-coded at 11px.</p>

<h3>Custom CSS</h3>

<p>To override this setting, add the following to your app's custom css file:</p>

<pre><code><strong>.MyApp </strong>.Bar > * {
	font-size:22px;
}</code></pre>

<p><em>Note: replace <code>MyApp</code> with the class of your actual app.</em></p>

<h3>Subclass Bar</h3>

<p>Alternatively you can subclass Bar itself.</p>

<p>CSS: Create your subclass.</p>

<pre><code>.Bar<strong>.MyCustomBar3</strong> > * {
	font-size:22px;
}</code></pre>

<p>HTML: Add your new class to a Bar element.</p>

<pre><code>&lt;p class=&quot;Bar MyCustomBar3&quot;&gt;&hellip;</code></pre>


</div>
</body>
</html>
