{% comment %}
Licensed to Cloudera, Inc. under one
or more contributor license agreements.  See the NOTICE file
distributed with this work for additional information
regarding copyright ownership.  Cloudera, Inc. licenses this file
to you under the Apache License, Version 2.0 (the
"License"); you may not use this file except in compliance
with the License.  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
{% endcomment %}
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
	<head>
		<title>Overtext</title>
	</head>
	<body>
		<div class="jframe_padded">
			<p>The input below should have some placeholder text that disappears when you click inside the input. If you enter a value and click out, it should not return. If you empty the value and click out, it should reappear. To achieve this, the input has "OverText" as a value in its data-filters property.</p>
			<input name="test" data-filters="OverText" title="example text..."/>
			<hr/>
			<p>This is the same thing using the deprecated .overtext css class (there should be a dbug.warning for it).</p>
			<input name="test" class="overtext" title="example text..."/>
		</div>
	</body>
</html>