{% comment %}
Licensed to Cloudera, Inc. under one
or more contributor license agreements.  See the NOTICE file
distributed with this work for additional information
regarding copyright ownership.  Cloudera, Inc. licenses this file
to you under the Apache License, Version 2.0 (the
"License"); you may not use this file except in compliance
with the License.  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
{% endcomment %}
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
  <head>
    <title>Resizables</title>
  </head>
  <body>
  <div class="jframe_padded">
    <p>You should be able to resize the box below by dragging the grey handle.</p>
    <div data-filters="Resizable" data-resize-handle=".textresizer" data-resize-child="textarea" data-resize-modifiers="{'x': false}">
      <textarea tabindex="4" class="resizable" rows="15" cols="50" name="comment" style="width: 250px; height: 100px;"></textarea>
      <div class="textresizer" style="width: 254px; background: #ddd; border-top: 1px solid #eee; border-left: 1px solid #eee; border-right: 1px solid #333; border-bottom: 1px solid #333; height: 4px; cursor: s-resize; margin-bottom: 10px; clear:both;"></div>
    </div>
    <hr style="clear:both"/>
		<p>The example below uses the default style for a resize handle, which is positioned on the bottom right corner of its container. It has the .ccs-resize_handle class.</p>
		<div data-filters="Resizable" data-resize-handle=".ccs-resize_handle" style="min-height: 100px; min-width: 100px; border: 1px solid #000; position: relative; width: 100px; height: 100px">
			<p style="padding: 8px">drag the little icon in the bottom right to resize...</p>
			<a class="ccs-resize_handle">resize</a>
		</div>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
  </div>
</body>
</html>
