{% comment %}
Licensed to Cloudera, Inc. under one
or more contributor license agreements.  See the NOTICE file
distributed with this work for additional information
regarding copyright ownership.  Cloudera, Inc. licenses this file
to you under the Apache License, Version 2.0 (the
"License"); you may not use this file except in compliance
with the License.  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
{% endcomment %}
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
	<head>
		<title>Submit Form on Change</title>
	</head>
	<body>
		{% if post_vars %}
			<div class="jframe_padded">
				You submitted the following values:
				<ul>
					{% for post_var, val in post_vars %}
					 <li>{{post_var}}: {{val}}</li>
					{% endfor %}
				</ul>
			</div>
		{% else %}
		<p>
			The form below will submit as soon as you select a value.
		</p>
		<form action="{{request_path}}" method="post" style="margin: 6px 0px 0px;" data-filters="SubmitOnChange">
			<select name="select_list">
				<option value="option 1">option 1</option>
				<option value="option 2">option 2</option>
				<option value="option 3">option 3</option>
			</select>
			<input type="submit" class="ccs-hidden" name="submit"/>
		</form>
		
		<hr/>
		<p>This form works exactly as the one above, but the SubmitOnChange data filter is on the select, rather than the form.</p>
		<form action="{{request_path}}" method="post" style="margin: 6px 0px 0px;">
			<select name="select_list" data-filters="SubmitOnChange">
				<option value="option 1">option 1</option>
				<option value="option 2">option 2</option>
				<option value="option 3">option 3</option>
			</select>
			<input type="text" name="textinput" value="If you change me, I don't submit the form.">
			<input type="submit" class="ccs-hidden" name="submit"/>
		</form>
		
		
		{% endif %}
	</body>
</html>
