{% comment %}
Licensed to Cloudera, Inc. under one
or more contributor license agreements.  See the NOTICE file
distributed with this work for additional information
regarding copyright ownership.  Cloudera, Inc. licenses this file
to you under the Apache License, Version 2.0 (the
"License"); you may not use this file except in compliance
with the License.  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
{% endcomment %}
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
	<head>
		<title>Tabs</title>
	</head>
	<body>
		<div class="jframe_padded">
			<div data-filters="Tabs">
				<ul class="tabs ccs-right clearfix">
					<li><span>Tab 1</span></li>
					<li><span>Tab 2</span></li>
				</ul>
				<ul class="tab_sections ccs-clear" style="border-top: 1px solid #999; padding: 10px">
					<li>
						<p>I'm the section for Tab 1. Note that my UL has both a .tab_sections class but also a .ccs-clear; that's because the tabs are aligned to the right, so we need to clear that float.</p>
						<p>
							The tabs are right aligned because their UL has the class .ccs-right; to fix the firefox height bug with floating elements, we also give it the class .clearfix (<a href="http://www.positioniseverything.net/easyclearing.html">details on this</a>). Note that if we didn't want the tabs on the right we just wouldn't give it the .ccs-right class, and in that case we wouldn't need the .clearfix or .ccs-clear classes in there either.
						</p>
						<p>Also note that the tab styling doesn't put this fancy border between the tabs and the content or the padding on the sections. Those styles are up to you.</p>
					</li>
					<li>
						<p>I'm the section for Tab 2. Notice how, since this section is much longer, I resize gracefully when I display and hide. Here's a paragraph or two of Lorem Ipsum just to make this section longer.</p>

						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac nulla at ante bibendum ultrices ut id urna. Aenean tempor rhoncus varius. Ut vestibulum turpis ullamcorper enim venenatis non accumsan nulla pharetra. Sed molestie sapien sit amet ligula consectetur sollicitudin ut sit amet nisi. Vestibulum molestie viverra convallis. Duis placerat, risus nec condimentum ultrices, est eros blandit eros, eget faucibus quam metus quis orci. Nulla ut varius turpis. Praesent lobortis malesuada bibendum. Sed venenatis tempor dolor sed condimentum. Mauris nec erat magna, et semper nunc. Duis consequat orci sit amet purus faucibus euismod. Fusce dapibus dui quis velit euismod eu bibendum metus varius.</p>

						<p>Aliquam erat volutpat. Ut consequat erat vel sem egestas in ornare dolor mollis. Vestibulum mollis, sapien sed sagittis rutrum, dui elit viverra turpis, in viverra nisl neque et urna. Nam tincidunt, tortor hendrerit tincidunt euismod, lacus orci hendrerit tellus, eget laoreet sapien dui eget enim. Duis tellus dui, vulputate eget congue nec, sagittis vitae dolor. Proin accumsan est et dui luctus quis commodo lacus malesuada. Quisque nec felis eget eros vestibulum lacinia. Fusce pretium, magna non fringilla elementum, sapien enim imperdiet nulla, nec varius libero nulla a dolor. Suspendisse non dui justo. Class aptent taciti sociosqu ad.</p>
					</li>
				</ul>
			</div>
		</div>
	</body>
</html>
