.jframe-gallery .jf-logo {
	width: 55px;
	height: 55px;
	position: relative;
	top: 20px;
	left: 6px;
	background: url(/jframegallery/static/art/jframegallery.png) no-repeat;
	display:block;
}

.jframe-gallery .jf-buttonbar {
	position: absolute;
	right: 20px;
	top: 3px;
	width: 85px;
}

.jframe-gallery .jf-src_view .tabSelected {
	font-weight: bold;
}

.jframe-gallery .jf-src_view .html-tab {
	margin-bottom: 5px;
}

.jframe-gallery .jframe_contents.index a {
	background: url(/static/art/led-icons/folder.png) no-repeat 4px 2px;
	padding: 3px 2px 3px 24px;
	display: block;
}

.jframe-gallery .index li:hover {
	background: #DED3A2;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
}

.jframe-gallery .jframe_contents.index  .file a {
	background: url(/static/art/led-icons/tag.png) no-repeat 4px 2px;
}
.jframe-gallery .index a:hover {
	text-decoration: none;
}


/*
 * Styles from Pygments
 */
.jframe-gallery .highlight .hll { background-color: #ffffcc }
.jframe-gallery .highlight  { background: #f8f8f8; }
.jframe-gallery .highlight .c { color: #408080; font-style: italic } /* Comment */
.jframe-gallery .highlight .err { border: 1px solid #FF0000 } /* Error */
.jframe-gallery .highlight .k { color: #008000; font-weight: bold } /* Keyword */
.jframe-gallery .highlight .o { color: #666666 } /* Operator */
.jframe-gallery .highlight .cm { color: #408080; font-style: italic } /* Comment.Multiline */
.jframe-gallery .highlight .cp { color: #BC7A00 } /* Comment.Preproc */
.jframe-gallery .highlight .c1 { color: #408080; font-style: italic } /* Comment.Single */
.jframe-gallery .highlight .cs { color: #408080; font-style: italic } /* Comment.Special */
.jframe-gallery .highlight .gd { color: #A00000 } /* Generic.Deleted */
.jframe-gallery .highlight .ge { font-style: italic } /* Generic.Emph */
.jframe-gallery .highlight .gr { color: #FF0000 } /* Generic.Error */
.jframe-gallery .highlight .gh { color: #000080; font-weight: bold } /* Generic.Heading */
.jframe-gallery .highlight .gi { color: #00A000 } /* Generic.Inserted */
.jframe-gallery .highlight .go { color: #808080 } /* Generic.Output */
.jframe-gallery .highlight .gp { color: #000080; font-weight: bold } /* Generic.Prompt */
.jframe-gallery .highlight .gs { font-weight: bold } /* Generic.Strong */
.jframe-gallery .highlight .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.jframe-gallery .highlight .gt { color: #0040D0 } /* Generic.Traceback */
.jframe-gallery .highlight .kc { color: #008000; font-weight: bold } /* Keyword.Constant */
.jframe-gallery .highlight .kd { color: #008000; font-weight: bold } /* Keyword.Declaration */
.jframe-gallery .highlight .kn { color: #008000; font-weight: bold } /* Keyword.Namespace */
.jframe-gallery .highlight .kp { color: #008000 } /* Keyword.Pseudo */
.jframe-gallery .highlight .kr { color: #008000; font-weight: bold } /* Keyword.Reserved */
.jframe-gallery .highlight .kt { color: #B00040 } /* Keyword.Type */
.jframe-gallery .highlight .m { color: #666666 } /* Literal.Number */
.jframe-gallery .highlight .s { color: #BA2121 } /* Literal.String */
.jframe-gallery .highlight .na { color: #7D9029 } /* Name.Attribute */
.jframe-gallery .highlight .nb { color: #008000 } /* Name.Builtin */
.jframe-gallery .highlight .nc { color: #0000FF; font-weight: bold } /* Name.Class */
.jframe-gallery .highlight .no { color: #880000 } /* Name.Constant */
.jframe-gallery .highlight .nd { color: #AA22FF } /* Name.Decorator */
.jframe-gallery .highlight .ni { color: #999999; font-weight: bold } /* Name.Entity */
.jframe-gallery .highlight .ne { color: #D2413A; font-weight: bold } /* Name.Exception */
.jframe-gallery .highlight .nf { color: #0000FF } /* Name.Function */
.jframe-gallery .highlight .nl { color: #A0A000 } /* Name.Label */
.jframe-gallery .highlight .nn { color: #0000FF; font-weight: bold } /* Name.Namespace */
.jframe-gallery .highlight .nt { color: #008000; font-weight: bold } /* Name.Tag */
.jframe-gallery .highlight .nv { color: #19177C } /* Name.Variable */
.jframe-gallery .highlight .ow { color: #AA22FF; font-weight: bold } /* Operator.Word */
.jframe-gallery .highlight .w { color: #bbbbbb } /* Text.Whitespace */
.jframe-gallery .highlight .mf { color: #666666 } /* Literal.Number.Float */
.jframe-gallery .highlight .mh { color: #666666 } /* Literal.Number.Hex */
.jframe-gallery .highlight .mi { color: #666666 } /* Literal.Number.Integer */
.jframe-gallery .highlight .mo { color: #666666 } /* Literal.Number.Oct */
.jframe-gallery .highlight .sb { color: #BA2121 } /* Literal.String.Backtick */
.jframe-gallery .highlight .sc { color: #BA2121 } /* Literal.String.Char */
.jframe-gallery .highlight .sd { color: #BA2121; font-style: italic } /* Literal.String.Doc */
.jframe-gallery .highlight .s2 { color: #BA2121 } /* Literal.String.Double */
.jframe-gallery .highlight .se { color: #BB6622; font-weight: bold } /* Literal.String.Escape */
.jframe-gallery .highlight .sh { color: #BA2121 } /* Literal.String.Heredoc */
.jframe-gallery .highlight .si { color: #BB6688; font-weight: bold } /* Literal.String.Interpol */
.jframe-gallery .highlight .sx { color: #008000 } /* Literal.String.Other */
.jframe-gallery .highlight .sr { color: #BB6688 } /* Literal.String.Regex */
.jframe-gallery .highlight .s1 { color: #BA2121 } /* Literal.String.Single */
.jframe-gallery .highlight .ss { color: #19177C } /* Literal.String.Symbol */
.jframe-gallery .highlight .bp { color: #008000 } /* Name.Builtin.Pseudo */
.jframe-gallery .highlight .vc { color: #19177C } /* Name.Variable.Class */
.jframe-gallery .highlight .vg { color: #19177C } /* Name.Variable.Global */
.jframe-gallery .highlight .vi { color: #19177C } /* Name.Variable.Instance */
.jframe-gallery .highlight .il { color: #666666 } /* Literal.Number.Integer.Long */
