// Licensed to Cloudera, Inc. under one
// or more contributor license agreements.  See the NOTICE file
// distributed with this work for additional information
// regarding copyright ownership.  Cloudera, Inc. licenses this file
// to you under the Apache License, Version 2.0 (the
// "License"); you may not use this file except in compliance
// with the License.  You may obtain a copy of the License at
//
//     http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
// See the License for the specific language governing permissions and
// limitations under the License.

// WHEN TO USE:
// Use in react.js based components to get the latest and correct
// styles to your sass styling. This setup will be needed as long as we
// are required to wrap the styles of antd-based react components
// to prevent style leaking and mixing with the legacy bootstrap styles.

@import './variables.scss';

$heading-font-family: Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif;

.antd {
  .hue-h1 {
    font-family: $heading-font-family;
    font-size: $fluidx-heading-h1-size;
    line-height: $fluidx-heading-h1-line-height;
    font-weight: $fluidx-heading-h1-weight;
  }

  .hue-h2 {
    font-family: $heading-font-family;
    font-size: $fluidx-heading-h2-size;
    line-height: $fluidx-heading-h2-line-height;
    font-weight: $fluidx-heading-h2-weight;
  }

  .hue-h3 {
    font-family: $heading-font-family;
    font-size: $fluidx-heading-h3-size;
    line-height: $fluidx-heading-h3-line-height;
    font-weight: $fluidx-heading-h3-weight;
  }

  .hue-h4 {
    font-family: $heading-font-family;
    font-size: $fluidx-heading-h4-size;
    line-height: $fluidx-heading-h4-line-height;
    font-weight: $fluidx-heading-h4-weight;
  }

  .hue-h5 {
    font-family: $heading-font-family;
    font-size: $fluidx-heading-h5-size;
    line-height: $fluidx-heading-h5-line-height;
    font-weight: $fluidx-heading-h5-weight;
  }

  .hue-h6 {
    font-family: $heading-font-family;
    font-size: $fluidx-heading-h6-size;
    line-height: $fluidx-heading-h6-line-height;
    font-weight: $fluidx-heading-h6-weight;
  }
}
