/*
 Licensed to Cloudera, Inc. under one
 or more contributor license agreements.  See the NOTICE file
 distributed with this work for additional information
 regarding copyright ownership.  Cloudera, Inc. licenses this file
 to you under the Apache License, Version 2.0 (the
 "License"); you may not use this file except in compliance
 with the License.  You may obtain a copy of the License at

     http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.
*/

.subnav {
  background-color: #EEEEEE;
  background-image: -moz-linear-gradient(center top, #F5F5F5 0%, #EEEEEE 100%);
  background-repeat: repeat-x;
  border: 1px solid #E5E5E5;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  height: 36px;
  width: 100%;
}

.subnav .nav {
  margin-bottom: 0;
}

.subnav .nav > li > a {
  border-left: 1px solid #F5F5F5;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-right: 1px solid #E5E5E5;
  margin: 0;
  padding-bottom: 11px;
  padding-top: 11px;
}

.subnav .nav > li > a:hover {
  border-right: 1px solid #E5E5E5;
  border-left: 1px solid #F5F5F5;
}

.subnav .nav > .active > a, .subnav .nav > .active > a:hover {
  background-color: #E9E9E9;
  border-left: 0 none;
  border-right-color: #DDDDDD;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.05) inset;
  color: #777777;
  padding-left: 13px;
}

.subnav .nav > .active > a .caret, .subnav .nav > .active > a:hover .caret {
  border-top-color: #777777;
}

.subnav .nav > li:first-child > a, .subnav .nav > li:first-child > a:hover {
  border-left: 0 none;
  border-radius: 4px 0 0 4px;
  -webkit-border-radius: 4px 0 0 4px;
  -moz-border-radius: 4px 0 0 4px;
  padding-left: 12px;
}

.subnav .nav > li:last-child > a {
  border-right: 0 none;
}

.subnav .dropdown-menu {
  border-radius: 0 0 4px 4px;
  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
}

.subnav-fixed {
  border-color: #D5D5D5;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-width: 0 0 1px;
  box-shadow: 0 1px 0 #FFFFFF inset, 0 1px 5px rgba(0, 0, 0, 0.1);
  left: 0;
  position: fixed;
  right: 0;
  top: 48px;
  z-index: 1020;
}

.subnav-fixed .nav {
  margin: 0 auto;
  padding: 0 1px;
}

.subnav .nav > li:first-child > a, .subnav .nav > li:first-child > a:hover {
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
}

.form-stacked {
  margin: 0;
}

.form-inline input, .form-inline a {
  vertical-align: baseline;
}

.pagination p {
  padding-top: 6px;
}

.right {
  text-align: right !important;
}

.center {
  text-align: center !important;
}

.left {
  text-align: left !important;
}

.nowrap, .no-wrap {
  white-space: nowrap;
}

a.toggle-display-link:link {
  color: black;
  text-decoration: none;
}

a.toggle-display-link:active {
  color: black;
  text-decoration: none;
}

a.toggle-display-link:visited {
  color: black;
  text-decoration: none;
}

a.toggle-display-link:hover {
  color: black;
  text-decoration: none;
}

.withTitle {
  top: 60px !important;
}

.clear {
  clear: both;
}

.sectionbar {
  background-color: #E5E5E5;
  background-image: linear-gradient(top, rgb(255, 255, 255) 0%, rgb(229, 229, 229) 100%);
  background-image: -o-linear-gradient(top, rgb(255, 255, 255) 0%, rgb(229, 229, 229) 100%);
  background-image: -moz-linear-gradient(top, rgb(255, 255, 255) 0%, rgb(229, 229, 229) 100%);
  background-image: -webkit-linear-gradient(top, rgb(255, 255, 255) 0%, rgb(229, 229, 229) 100%);
  background-image: -ms-linear-gradient(top, rgb(255, 255, 255) 0%, rgb(229, 229, 229) 100%);

  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgb(255, 255, 255)), color-stop(1, rgb(229, 229, 229)));
  height: 40px;
  border-bottom: 1px solid #CBCBCB;
  padding-top: 10px;
}

.sectionbar h2 {
  font-size: 20px;
  font-weight: 400;
  padding-left: 20px;
  float: left;
}

.sectionbar h2.selected {
  color: #01639C;
}

.sectionbar h2.subsection, .sectionbar h2.subsubsection {
  padding-left: 6px;
}

.sectionbar h3 {
  float: left;
  padding-left: 6px;
  color: #CCC;
  font-size: 12px;
}

.sectionbar a {
  float: right;
  margin-right: 14px;
  color: #1F92D8;
  padding-top: 7px;
  text-shadow: 0 -1px 0 #E5E5E5;
}

.toolbar {
  float: right;
}

.toolbar ul {
  list-style: none outside none;
  display: inline;
}

.toolbar li {
  display: inline;
}

.wordbreak {
  max-width: 500px;
  word-wrap: break-word;
}

.menubar {
  height: 30px;
  left: 0;
  overflow: visible;
  position: fixed;
  right: 0;
  top: 40px;
  z-index: 9999;
}

.menubar-inner, .menubar .fill {
  background-color: #d0e1f4;
  background-image: -moz-linear-gradient(center top, #d0e1f4, #d0e1f4);
  background-image: -webkit-linear-gradient(top, #d0e1f4, #d0e1f4);
  background-repeat: repeat-x;
}

.menubar-inner a {
  color: #333;
  font-weight: bold;
}

.menubar-inner a:hover {
  color: #01639C;
}

.menubar-inner a.selected {
  color: #FFFFFF;
  padding: 2px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 8px;
  background-color: #01639C;
  background-image: -moz-linear-gradient(center top, #01639C, #015382);
  background-repeat: repeat-x;
  box-shadow: 0 0 3px #015382 inset;
  -moz-box-shadow: 0 0 3px #015382 inset;
  -webkit-box-shadow: 0 0 3px #015382 inset;
  border-radius: 30px;
}

.menubar-inner a.disabled {
  cursor: default;
  opacity: 0.65;
}

.menubar-inner a.disabled:hover {
  color: #333;
}

.widget-box {
  background: none repeat scroll 0 0 #F9F9F9;
  border-top: 1px solid #CDCDCD;
  border-left: 1px solid #CDCDCD;
  border-right: 1px solid #CDCDCD;
  clear: both;
  margin-top: 10px;
  margin-bottom: 16px;
  position: relative;
}

.widget-title {
  background-color: #efefef;
  background-image: -webkit-gradient(linear, 0 0%, 0 100%, from(#fdfdfd), to(#eaeaea));
  background-image: -webkit-linear-gradient(top, #fdfdfd 0%, #eaeaea 100%);
  background-image: -moz-linear-gradient(top, #fdfdfd 0%, #eaeaea 100%);
  background-image: -ms-linear-gradient(top, #fdfdfd 0%, #eaeaea 100%);
  background-image: -o-linear-gradient(top, #fdfdfd 0%, #eaeaea 100%);
  background-image: -linear-gradient(top, #fdfdfd 0%, #eaeaea 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fdfdfd', endColorstr='#eaeaea', GradientType=0); /* IE6-9 */
  border-bottom: 1px solid #CDCDCD;
  height: 36px;
}

.widget-title span.icon {
  border-right: 1px solid #cdcdcd;
  padding: 9px 10px 7px 11px;
  float: left;
  opacity: .7;
}

.widget-title h5 {
  color: #666666;
  text-shadow: 0 1px 0 #ffffff;
  float: left;
  font-size: 16px;
  font-weight: bold;
  padding: 10px;
  line-height: 16px;
  margin: 0;
}

.widget-content {
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #cdcdcd;
}

.widget-content ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.widget-content ul li {
  margin: 0;
  padding: 0;
}

.widget-content a {
  padding: 5px 15px;
  display: block;
  font-size: 14px;
  font-weight: bold;
}

.widget-content a i {
  color: #999999;
}

.widget-content a:hover {
  background-color: #EEEEEE;
  text-decoration: none;
}

.widget-content a:hover i {
  color: #333333;
}

code {
  line-height: 1.4em;
}

.noPadding {
  padding: 0;
}

.contextMenu {
  display: none;
}

.contextItem {
  cursor: pointer;
}

.fieldError {
  border-color: #EE5F5B;
  color: #B94A48;
}

ul.errorlist {
  list-style: none outside none;
  margin: 0;
}

ul.errorlist li {
  color: #B94A48;
  padding: 2px;
  font-weight: bold;
  font-style: italic;
}

.homeLink,
.trashLink,
.historyLink {
  font-size: 1.25em;
  line-height: 18px;
}

.hueBreadcrumb {
  font-size: 1.25em;
  list-style: none outside none;
  padding: 9px 9px;
}

.hueBreadcrumb li {
  display: inline-block;
  text-shadow: 0 1px 0 #FFFFFF;
}

.hueBreadcrumb .divider {
  color: #999999;
  padding: 0 5px;
}

.hueBreadcrumb .active a {
  color: #333333;
}

.hueBreadcrumb a.nounderline:hover {
  text-decoration: none;
}

.hueBreadcrumb > li:last-child > a {
  font-weight: bold;
  color: #333333;
}

.hueBreadcrumb > li:last-child > span {
  display: none;
}

.hueWell {
  padding-bottom: 0;
}

.hueBreadcrumbBar {
  padding: 8px 15px;
  margin: 0 0 20px;
  list-style: none;
}

.ribbon-wrapper {
  width: 85px;
  height: 88px;
  overflow: hidden;
  position: fixed;
  top: 26px;
  right: -3px;
  z-index: 10001;
}

.ribbon {
  font: bold 15px sans-serif;
  text-align: center;
  text-shadow: rgba(255, 255, 255, 0.5) 0 1px 0;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  position: relative;
  padding: 7px 0;
  left: -5px;
  top: 15px;
  width: 120px;
  background-color: #da4f49;
  *background-color: #bd362f;
  background-image: -moz-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ee5f5b), to(#bd362f));
  background-image: -webkit-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: -o-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: linear-gradient(to bottom, #ee5f5b, #bd362f);
  background-repeat: repeat-x;
  color: #ffffff;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}

.ribbon:before, .ribbon:after {
  content: "";
  border-top: 3px solid #c09853;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  position: absolute;
  bottom: -3px;
}

.ribbon:before {
  left: 0;
}

.ribbon:after {
  right: 0;
}

/*********************************************************
 * From: http://datatables.net/blog/Twitter_Bootstrap
 */

div.dataTables_length label {
  width: 460px;
  float: left;
  text-align: left;
}

div.dataTables_length select {
  width: 75px;
}

div.dataTables_filter label {
  float: right;
  width: 460px;
}

div.dataTables_info {
  padding-top: 8px;
}

div.dataTables_paginate {
  float: right;
  margin: 0;
}

/*
 *********************************************************/

/* Pagination nested */
.paginate_disabled_previous, .paginate_enabled_previous, .paginate_disabled_next, .paginate_enabled_next {
  height: 19px;
  width: 19px;
  margin-left: 3px;
  float: left;
}

.paginate_disabled_previous {
  background-image: url('../art/datatables/back_disabled.jpg');
}

.paginate_enabled_previous {
  background-image: url('../art/datatables/back_enabled.jpg');
}

.paginate_disabled_next {
  background-image: url('../art/datatables/forward_disabled.jpg');
}

.paginate_enabled_next {
  background-image: url('../art/datatables/forward_enabled.jpg');
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * DataTables display
 */
table.display {
  margin: 0 auto;
  clear: both;
  width: 100%;

  /* Note Firefox 3.5 and before have a bug with border-collapse
    * ( https://bugzilla.mozilla.org/show%5Fbug.cgi?id=155955 )
    * border-spacing: 0; is one possible option. Conditional-css.com is
    * useful for this kind of thing
    *
    * Further note IE 6/7 has problems when calculating widths with border width.
    * It subtracts one px relative to the other browsers from the first column, and
    * adds one to the end...
    *
    * If you want that effect I'd suggest setting a border-top/left on th/td's and
    * then filling in the gaps with other borders.
    */
}

table.display thead th {
  padding: 3px 18px 3px 10px;
  border-bottom: 1px solid black;
  font-weight: bold;
  cursor: pointer;
  *cursor: hand;
}

table.display tfoot th {
  padding: 3px 18px 3px 10px;
  border-top: 1px solid black;
  font-weight: bold;
}

table.display tr.heading2 td {
  border-bottom: 1px solid #aaa;
}

table.display td {
  padding: 3px 10px;
}

table.display td.center {
  text-align: center;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * DataTables sorting
 */

.dataTables_wrapper table {
  border-collapse: separate;
  *border-collapse: collapsed;
}

.sorting_asc {
  cursor: pointer;
  background: url('../art/datatables/sort_asc.png') no-repeat center right;
  border-top: 3px solid #FFFFFF !important;
  padding-right: 20px !important;
  vertical-align: middle!important;
}

.sorting_desc {
  cursor: pointer;
  background: url('../art/datatables/sort_desc.png') no-repeat center right;
  border-top: 3px solid #FFFFFF !important;
  padding-right: 20px !important;
  vertical-align: middle!important;
}

.sorting {
  cursor: pointer;
  background: url('../art/datatables/sort_both.png') no-repeat center right;
  border-top: 3px solid #FFFFFF !important;
  padding-right: 20px !important;
  vertical-align: middle!important;
}

.table-huedatatable th.sorting {
  cursor: default;
  background: none;
  border-top: none;
  padding-right: 0!important;
}

.sorting_disabled {
  vertical-align: middle!important;
}

.sorting:hover, .sorting_asc:hover, .sorting_desc:hover {
  border-top: 3px solid #EEEEEE !important;
}

.table-huedatatable th.sorting:hover {
  border-top: none;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * Misc
 */
.dataTables_scroll {
  clear: both;
}

.dataTables_scrollBody {
  *margin-top: -1px;
}

.top .dataTables_info {
  float: none;
}

.clear {
  clear: both;
}

.dataTables_empty {
  text-align: center;
}

tfoot input {
  margin: 0.5em 0;
  width: 100%;
  color: #444;
}

tfoot input.search_init {
  color: #999;
}

td.group {
  background-color: #d1cfd0;
  border-bottom: 2px solid #A19B9E;
  border-top: 2px solid #A19B9E;
}

td.details {
  background-color: #d1cfd0;
  border: 2px solid #A19B9E;
}

.example_alt_pagination div.dataTables_info {
  width: 40%;
}

.paging_full_numbers {
  width: 400px;
  height: 22px;
  line-height: 22px;
}

.paging_full_numbers span.paginate_button,
.paging_full_numbers span.paginate_active {
  border: 1px solid #aaa;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  padding: 2px 5px;
  margin: 0 3px;
  cursor: pointer;
  *cursor: hand;
}

.paging_full_numbers span.paginate_button {
  background-color: #ddd;
}

.paging_full_numbers span.paginate_button:hover {
  background-color: #ccc;
}

.paging_full_numbers span.paginate_active {
  background-color: #99B3FF;
}

table.display tr.even.row_selected td {
  background-color: #B0BED9;
}

table.display tr.odd.row_selected td {
  background-color: #9FAFD1;
}

tr.odd.gradeA td.sorting_1 {
  background-color: #c4ffc4;
}

tr.odd.gradeA td.sorting_2 {
  background-color: #d1ffd1;
}

tr.odd.gradeA td.sorting_3 {
  background-color: #d1ffd1;
}

tr.even.gradeA td.sorting_1 {
  background-color: #d5ffd5;
}

tr.even.gradeA td.sorting_2 {
  background-color: #e2ffe2;
}

tr.even.gradeA td.sorting_3 {
  background-color: #e2ffe2;
}

tr.odd.gradeC td.sorting_1 {
  background-color: #c4c4ff;
}

tr.odd.gradeC td.sorting_2 {
  background-color: #d1d1ff;
}

tr.odd.gradeC td.sorting_3 {
  background-color: #d1d1ff;
}

tr.even.gradeC td.sorting_1 {
  background-color: #d5d5ff;
}

tr.even.gradeC td.sorting_2 {
  background-color: #e2e2ff;
}

tr.even.gradeC td.sorting_3 {
  background-color: #e2e2ff;
}

tr.odd.gradeX td.sorting_1 {
  background-color: #ffc4c4;
}

tr.odd.gradeX td.sorting_2 {
  background-color: #ffd1d1;
}

tr.odd.gradeX td.sorting_3 {
  background-color: #ffd1d1;
}

tr.even.gradeX td.sorting_1 {
  background-color: #ffd5d5;
}

tr.even.gradeX td.sorting_2 {
  background-color: #ffe2e2;
}

tr.even.gradeX td.sorting_3 {
  background-color: #ffe2e2;
}

tr.odd.gradeU td.sorting_1 {
  background-color: #c4c4c4;
}

tr.odd.gradeU td.sorting_2 {
  background-color: #d1d1d1;
}

tr.odd.gradeU td.sorting_3 {
  background-color: #d1d1d1;
}

tr.even.gradeU td.sorting_1 {
  background-color: #d5d5d5;
}

tr.even.gradeU td.sorting_2 {
  background-color: #e2e2e2;
}

tr.even.gradeU td.sorting_3 {
  background-color: #e2e2e2;
}

/*
 * Row highlighting example
 */
.ex_highlight #example tbody tr.even:hover, #example tbody tr.even td.highlighted {
  background-color: #ECFFB3;
}

.ex_highlight #example tbody tr.odd:hover, #example tbody tr.odd td.highlighted {
  background-color: #E6FF99;
}

.ex_highlight_row #example tr.even:hover {
  background-color: #ECFFB3;
}

.ex_highlight_row #example tr.even:hover td.sorting_1 {
  background-color: #DDFF75;
}

.ex_highlight_row #example tr.even:hover td.sorting_2 {
  background-color: #E7FF9E;
}

.ex_highlight_row #example tr.even:hover td.sorting_3 {
  background-color: #E2FF89;
}

.ex_highlight_row #example tr.odd:hover {
  background-color: #E6FF99;
}

.ex_highlight_row #example tr.odd:hover td.sorting_1 {
  background-color: #D6FF5C;
}

.ex_highlight_row #example tr.odd:hover td.sorting_2 {
  background-color: #E0FF84;
}

.ex_highlight_row #example tr.odd:hover td.sorting_3 {
  background-color: #DBFF70;
}

/*
 * KeyTable
 */
table.KeyTable td {
  border: 3px solid transparent;
}

table.KeyTable td.focus {
  border: 3px solid #3366FF;
}

table.display tr.gradeA {
  background-color: #eeffee;
}

table.display tr.gradeC {
  background-color: #ddddff;
}

table.display tr.gradeX {
  background-color: #ffdddd;
}

table.display tr.gradeU {
  background-color: #ddd;
}

div.box {
  height: 100px;
  padding: 10px;
  overflow: auto;
  border: 1px solid #8080FF;
  background-color: #E5E5FF;
}

/*
 * jHueFileChooser
 */

.jHueFilechooserActions {
  margin-top: 14px;
  padding-top: 10px;
  border-top: 1px dashed #EEEEEE;
}

.pathChooser, .pathChooserKo, .pathFolderChooserKo {
  border-radius: 3px 0 0 3px !important;
  border-right: 0 !important;
}

.fileChooserBtn {
  border-radius: 0 3px 3px 0 !important;
}

/*
 * jHueSelector
 */

.jHueSelector {
  border: 1px solid #F1F1F1;
  padding: 0;
  margin: 0;
  width: 300px;
}

.jHueSelectorHeader {
  background-color: #F1F1F1;
  padding: 4px;
}

.jHueSelector label {
  float: none;
  padding-left: 4px;
}

.jHueSelector label input[type=checkbox] {
  display: inline;
  margin-top: -2px;
  margin-right: 6px;
}

.jHueSelectorHeader input[type=text] {
  position: absolute;
  margin-left: 180px;
  width: 100px;
  height: 20px;
  min-height: 20px;
  border: 1px solid #CCCCCC;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  color: #555555;
  font-size: 10px;
  padding-left: 4px;
}

.jHueSelectorBody {
  height: 150px;
  overflow: auto;
}

.jHueSelector ul, li {
  margin: 0;
  padding: 0;
}

.jHueSelector ul {
  padding: 4px;
  list-style: none;
}

.jHueSelector li.selectorDivider {
  border-bottom: 1px solid #E5E5E5;
  padding: 4px;
  color: #338BB8;
}

.modal-body iframe {
  border: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.modal-body iframe.scroll {
  overflow: auto;
}

.form-padding-fix {
  display: inline;
  padding: 0;
  margin: 0;
}

.table tbody tr:hover td, .table tbody tr:hover th {
  background-color: #EFEFEF;
}

.nounderline:hover {
  text-decoration: none;
}

.bar-label {
  text-align: center;
  color: #FFFFFF;
  font-size: 12px;
  text-shadow: -1px 0 1px #333, 0 1px 1px #333, 1px 0 1px #333, 0 -1px 1px #333;
}

.jHueNotify {
  position: fixed;
  top: 20px;
  right: 10px;
  width: 400px;
  text-align: left;
  z-index: 11000;
  word-break: break-all;
  overflow-y: auto;
  max-height: 140px;
}

.jHueNotify .close {
  right: -27px;
  opacity: 1;
}

.jHueNotify.alert {
  border: none;
  border-left: 5px solid #f0c36d;
}

.jHueNotify.alert .close {
  color: #f0c36d;
}

.jHueNotify.alert-error {
  border: none;
  border-left: 5px solid #b94a48;
}

.jHueNotify.alert-error .close {
  color: #b94a48;
}

.jHueNotify.alert-info {
  border: none;
  border-left: 5px solid #bce8f1;
}

.jHueNotify.alert-info .close {
  color: #bce8f1;
}


.empty-wrapper {
  margin-top: 50px;
  color: #BBB;
  line-height: 60px;
}

.empty-wrapper i {
  font-size: 148px;
}

/*
 * Advanced options
 */

#advanced-btn {
  center: right
}

a#advanced-btn:link {
  color: black;
  text-decoration: none;
}

a#advanced-btn:active {
  color: black;
  text-decoration: none;
}

a#advanced-btn:visited {
  color: black;
  text-decoration: none;
}

a#advanced-btn:hover {
  color: black;
  text-decoration: none;
}

.hand {
  cursor: pointer;
}

.hueCheckbox {
  width: 15px;
  height: 15px;
  border: 1px solid #CCCCCC;
  margin-top: 2px !important;
  padding: 0 !important;
  display: block !important;
  cursor: default;
}

.hueCheckbox:hover {
  border-color: #999999;
}

.hueCheckboxText {
  left: 3px;
  position: relative;
  top: -3px;
}

.hueCheckbox.hide {
  display: none!important;
}

.hue-uncheck::before {
  line-height: 16px;
}

.modal form {
  margin: 0;
}

/*
 * jHueTableExtender
 */

.rowSelected {
  background-color: #EEEEEE !important;
}

.columnSelected {
  background-color: #EEEEEE !important;
}

.cellSelected {
  background-color: #DDDDDD !important;
}

.jHueTableExtenderClonedContainerColumn {
  border-right: 1px solid #CCC;
}

#jHueTableExtenderNavigator {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1000;
  display: none;
  min-width: 160px;
  padding: 10px 20px 2px 10px;
  margin: 2px 0 0;
  background-color: #ffffff;
  border: 1px solid #ccc;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  white-space: nowrap;
}

#jHueTableExtenderNavigator a {
  margin-left: 10px;
  margin-right: -14px;
  margin-top: -12px;
}

#jHueScrollUpAnchor {
  color: #FFFFFF;
  opacity: 0.65;
  filter: alpha(opacity=65);
  display: none;
  position: fixed;
  z-index: 2147483647;
  bottom: 20px;
  right: 20px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  background-color: #333333;
  padding: 10px;
  padding-left: 14px;
  padding-right: 14px;
}

#jHueScrollUpAnchor:hover {
  text-decoration: none;
  opacity: 0.85;
  filter: alpha(opacity=85);
}

#jHueTourMask {
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  z-index: 9998;
  background-color: #FFFFFF;
  opacity: 0.9;
  filter: alpha(opacity=90);
}

.jHueTourBadge {
  background-color: #2c7fb3;
  background-image: -moz-linear-gradient(bottom, #2c7fb3, #01639c);
  background-image: -ms-linear-gradient(bottom, #2c7fb3, #01639c);
  background-image: -webkit-gradient(linear, 0 100%, 0 0, from(#2c7fb3), to(#01639c));
  background-image: -webkit-linear-gradient(bottom, #2c7fb3, #01639c);
  background-image: -o-linear-gradient(bottom, #2c7fb3, #01639c);
  background-image: linear-gradient(bottom, #2c7fb3, #01639c);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#01639c', endColorstr='#2c7fb3', GradientType=0);
  border: 1px solid #01639C;
  border-right: none;
  color: #FFFFFF;
  padding: 4px;
  padding-left: 8px;
  -webkit-border-top-left-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-bottomleft: 4px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  position: fixed;
  top: 100px;
  z-index: 10000;
  right: 0;
  cursor: pointer;
}

.jHueTourBadgeLeft {
  right: auto !important;
  left: 0;
  padding-left: 4px;
  padding-right: 8px;
  border-left: none;
  border-right: 1px solid #01639C;
  -webkit-border-top-left-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -moz-border-radius-topleft: 0;
  -moz-border-radius-bottomleft: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  -webkit-border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -moz-border-radius-topright: 4px;
  -moz-border-radius-bottomright: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.jHueTourBadge:hover {
  background-color: #2C7FB3;
}

.jHueTourExposed {
  z-index: 9999;
}

.popover-inner {
  text-align: left;
}

.popover {
  z-index: 10000;
}

.CodeMirror-hints {
  position: absolute;
  z-index: 10000 !important;
  overflow: hidden;
  list-style: none;

  margin: 0;
  padding: 2px;

  -webkit-box-shadow: 2px 3px 5px rgba(0,0,0,.2);
  -moz-box-shadow: 2px 3px 5px rgba(0,0,0,.2);
  box-shadow: 2px 3px 5px rgba(0,0,0,.2);
  border-radius: 3px;
  border: 1px solid silver;

  background: white;
  font-size: 90%;
  font-family: monospace;

  max-height: 20em;
  overflow-y: auto;
}

.CodeMirror-hint {
  margin: 0;
  padding: 0 4px;
  border-radius: 2px;
  overflow: hidden;
  white-space: pre;
  color: black;
  cursor: pointer;
}

.CodeMirror-hint-active, .CodeMirror-hint:hover {
  background: #08f;
  color: white;
}

.CodeMirror-spinner {
  position: absolute;
  z-index: 9999;
}

.tooltip {
  border: 0;
  z-index: 1032;
}

.nav i {
  line-height: 24px!important;
}

.navbar .nav > li > a {
  margin-right: 0!important;
  padding-right: 5px;
  padding-left: 5px;
}

.brand {
  padding: 10px 20px!important;
  margin-top: 4px!important;
}

.card-home {
  padding-top: 4px;
}

.card-small {
  margin-top: 0;
  padding-top: 4px;
}

.card-listcontent ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.card-listcontent ul li {
  margin: 0;
  padding: 0;
}

.card-listcontent a {
  padding: 5px 15px;
  display: block;
  font-size: 14px;
  font-weight: bold;
}

.card-listcontent a i {
  color: #999999;
}

.card-listcontent a:hover {
  background-color: #EEEEEE;
  text-decoration: none;
}

.card-listcontent a:hover i {
  color: #333333;
}

.card-tab {
  margin-top: 0;
  border-bottom: 1px solid #D8D8D8;
  border-top: 0;
}

.card-tab-bordertop {
   border-top: 1px solid #D8D8D8;
}

.card-marginbottom {
  margin-bottom: 20px!important;
}

.blue,
.card-heading-blue {
  color: #338BB8!important;
}

.card-heading-nopadding {
  padding-left: 0!important;
}

.card-heading-noborder {
  border-bottom: none!important;
}

.dt-records {
  margin-left: 10px;
}

.dt-pages {
  margin-right: 10px;
  float: right;
}

.progress {
  height: 20px;
  margin-bottom: 0;
  padding: 0;
  border: none;
}

.nav-list > li.white {
  margin-left: -15px;
  margin-right: -15px;
  background-color: #FFFFFF;
  border-left: 2px solid transparent;
  margin-top: 1px;
  padding: 9px 18px;
  text-shadow: none;
  font-size: 14px;
  transition: border 0.218s ease 0s;
}

.input-append.date .add-on i, .input-prepend.date .add-on i {
    line-height: 28px;
}

.modal {
  padding: 25px 20px!important;
  margin-left: -290px!important;
}

#jHueTourVideoPlayer {
  margin-left: -320px!important;
  width: 640px;
}

.navigator {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #338BB8;
  height: 28px;
  z-index: 1033;
  min-width: 740px;
}

.navigator .brand {
  padding-top: 0 !important;
}

.hideMoreThan950, .hideMoreThan1180, .hideMoreThan1380 {
  display: none;
}

@media (max-width: 1180px) {
  .navigator .nav-tabs > li > a, .navigator .nav-pills > li > a {
    padding-right: 6px;
    padding-left: 6px;
  }
  .hide1180 {
    display: none;
  }
  .hideMoreThan1180 {
    display: block;
  }
}

@media (max-width: 1380px) {
  .navigator .hideable {
    display: none;
  }
  .hide1380 {
    display: none;
  }
  .hideMoreThan1380 {
    display: block;
  }
}

@media (max-width: 950px) {
  .brand {
    display: none;
  }
  .hide950 {
    display: none;
  }
  .hideMoreThan950 {
    display: block;
  }
}

.navbar-fixed-top {
  top: 28px;
}

.navigator .dropdown-menu {
  z-index: 20000;
  box-shadow: none;
  margin-top: -4px;
  margin-left: -1px;
  border-top: 2px solid #EEE;
}

.navigator .nav-pills > li > a {
  color: #DBE8F1;
  font-weight: bold;
  margin-bottom: 2px;
  margin-top: 2px;
  padding-bottom: 4px !important;
  padding-top: 6px;
}

.navigator .dropdown-menu > li > a > .fa {
  color: #267CC3;
  font-size: 19px;
  padding-left: 5px;
  padding-right: 8px;
}

.navigator .dropdown-menu > li > a {
  padding-left: 5px;
  padding-right: 30px;
}

.navigator .dropdown-menu > li > a > img {
  padding-right: 6px;
}

.navigator .nav-pills > li.dropdown > a {
  padding-bottom: 2px !important;
}

.navigator .nav-pills  > li > a:hover, .navigator .nav-pills  > li > a:focus {
  color: #FFF;
  border-color: #EEE !important;
}

.navigator .nav i {
  line-height: 14px !important;
}

.navigator .nav-pills .open .dropdown-toggle, .navigator .nav > li.dropdown.open.active > a:hover, .navigator .nav > li.dropdown.open.active > a:focus {
  color: #FFFFFF;
}

.currentApp {
  font-size: 20px;
  padding-top: 13px;
  padding-left: 0;
  color: #338BB8;
  cursor: pointer;
}

.currentApp a {
  font-size: 20px !important;
  color: #338BB8 !important;
  padding: 0 !important;
  margin-top: -4px !important;
  border: none !important;
  max-width: none!important;
}

.currentApp a:focus, .currentApp a:hover {
  color: #338BB8 !important;
}

.currentApp img {
  margin-top: -3px;
}

.navbar-fixed-top.nokids .navbar-inner {
  height: 45px;
}

a, a:hover, a:active, a:focus {
  outline: 0;
}

#jHueTourVideoPlayer .modal-body {
  max-height: 460px;
}

.hueOverlay {
  top: 28px;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  z-index: 100500;
  background-color: #FFF;
  color: #333;
  font-size: 60px;
  opacity: 0.7;
  text-align: center;
  vertical-align: middle;
  padding-top: 70px;
}

#jHueBlueprintTooltip {
  position: absolute;
  display: none;
  border: 1px solid #61AE36;
  padding: 2px;
  background-color: #C2E0B0;
  opacity: 0.80;
}

.btn.active, .btn:active {
  border-color: rgba(0, 0, 0, 0.1);
  outline: 0;
  -webkit-box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.3) inset;
  -moz-box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.3) inset;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.3) inset;
}

.side-labels {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -sand-transform: rotate(90deg);
  -webkit-transform-origin: 100% 0;
  -moz-transform-origin: 100% 0;
  -ms-transform-origin: 100% 0;
  -o-transform-origin: 100% 0;
  transform-origin: 100% 0;
  display: block;
  position: fixed;
  top: 270px;
  right: 30px;
}

.side-labels li {
  font-size: 1em;
  padding: 4px 16px !important;
  cursor: pointer;
  font-weight: 500;
  border-top: 2px solid #FFF;
}

.side-labels li a {
  color: #F0F0F0!important;
}

.side-labels li:hover a {
  color: #FFF!important;
  text-decoration: none;
}

.side-labels .feedback {
  background-color: #338BB8;
}

.side-labels .feedback:hover {
  border-top-color: #338BB8;
}

body.modal-open {
  overflow: hidden;
}

html.modal-open {
  overflow: hidden;
}


.demi-modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  width: 100%;
  margin: -1px;
  padding: 0;
  background-color: #ffffff;
  min-height: 210px;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, 0.3);
  *border: 1px solid #999;
  -webkit-border-bottom-right-radius: 0px;
  -webkit-border-bottom-left-radius: 0px;
  -moz-border-radius-bottomright: 0px;
  -moz-border-radius-bottomleft: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  outline: none;
  -webkit-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.75);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
}

.demi-modal-half {
  width: 500px;
  left: 50%;
  margin-left: -250px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.demi-modal.fade {
  top: -500px;
  -webkit-transition: opacity 0.3s linear, top 0.3s ease-out;
  -moz-transition: opacity 0.3s linear, top 0.3s ease-out;
  -o-transition: opacity 0.3s linear, top 0.3s ease-out;
  transition: opacity 0.3s linear, top 0.3s ease-out;
}

.demi-modal.fade.in {
  top: 0;
}

.demi-modal .modal-header {
  padding: 9px 15px;
  border-bottom: 1px solid #eee;
}

.demi-modal .modal-header .close {
  margin-top: 2px;
}

.demi-modal .modal-body {
  position: relative;
  max-height: 400px;
  padding: 15px;
  overflow-y: auto;
}

.demi-modal .modal-footer {
  padding: 10px;
}

.demi-modal-chevron {
  text-align:center;
  width: 100%;
  display: table;
}

.demi-modal-chevron:hover {
  background-color: #F6F6F6;
}

.control-group.error .input-prepend .add-on i, .control-group.error .input-append .add-on i {
  color: #fff;
}

.app-icon {
  width: 24px;
  height: 24px;
}

.brand img {
  width: 60px;
  height: 16px;
}

/*********************************************************
 *
 * Sharing styles
 *
 ********************************************************/

.baseShared {
  color: #999;
}

.isShared {
  color: #338bb8!important;
}

#documentShareModal .modal-body {
  overflow-y: initial;
}

.trash-share, .share-link {
  cursor: pointer;
}


/*********************************************************
 *
 * Misc styles that can be reused as needed
 * - from admin_collections.mako template
 *
 ********************************************************/
.spinner {
 color: #ddd;
 font-size: 60px;
}

.pointer {
 cursor: pointer;
}

.inline {
  display: inline;
}

.actionbar-creation {
  margin: 0;
}

.actionbar-actions {
  margin: 0px 0px 10px 0px;
}


.jHueAutocomplete {
   -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0;

  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
  border-top: none;
}

.jHueAutocomplete .popover-content {
  padding: 0;
  max-height: 200px;
  overflow-y: auto;
}

.jHueAutocomplete .popover-content ul li {
  cursor: pointer;
  margin: 3px;
  padding: 2px;
}


.jHueAutocomplete .popover-content ul li:hover, .jHueAutocomplete .popover-content ul li.active {
  color: #FFFFFF;
  background: #338BB8;
}

.fa-1halfx {
  font-size: 1.5em;
}

input.no-margin, select.no-margin {
  margin-bottom: 0;
}
/****************************************************
 *
 * Styles for opaque layover messages
 * Example is "Drop files anywhere" layover
 *
*****************************************************/
@-webkit-keyframes bounceInDown {
  0%, 60%, 75%, 90%, 100% {
  -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
  opacity: 0;
  -webkit-transform: translate3d(0, -3000px, 0);
  transform: translate3d(0, -3000px, 0);
  }

  60% {
  opacity: 1;
  -webkit-transform: translate3d(0, 25px, 0);
  transform: translate3d(0, 25px, 0);
  }

  75% {
  -webkit-transform: translate3d(0, -10px, 0);
  transform: translate3d(0, -10px, 0);
  }

  90% {
  -webkit-transform: translate3d(0, 5px, 0);
  transform: translate3d(0, 5px, 0);
  }

  100% {
  -webkit-transform: none;
  transform: none;
  }
  }

  @keyframes bounceInDown {
  0%, 60%, 75%, 90%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
    -ms-transform: translate3d(0, -3000px, 0);
    transform: translate3d(0, -3000px, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
    -ms-transform: translate3d(0, 25px, 0);
    transform: translate3d(0, 25px, 0);
  }

  75% {
    -webkit-transform: translate3d(0, -10px, 0);
    -ms-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, 5px, 0);
    -ms-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }

  100% {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
}

.break-word {
  word-wrap: break-word
}

.jHueHdfsTree .content {
  margin-left: 14px;
}

.jHueHdfsTree a.selected {
  font-weight: bold;
}

.modal-header .close {
  position: inherit;
  margin-top: -10px;
}

.margin-top-10 {
  margin-top: 10px;
}

.margin-top-20 {
  margin-top: 20px;
}

.margin-top-30 {
  margin-top: 30px;
}

.margin-left-5 {
  margin-left: 5px;
}

.margin-left-10 {
  margin-left: 10px;
}

.margin-left-20 {
  margin-left: 20px;
}

.margin-left-30 {
  margin-left: 30px;
}

.margin-bottom-10 {
  margin-bottom: 10px;
}

.margin-bottom-20 {
  margin-bottom: 20px;
}

.margin-bottom-30 {
  margin-bottom: 30px;
}

.margin-right-10 {
  margin-right: 10px;
}

.margin-right-20 {
  margin-right: 20px;
}

.margin-right-30 {
  margin-right: 30px;
}

.no-margin {
  margin: 0;
}

.no-margin-left {
  margin-left: 0;
}

.no-margin-top {
  margin-top: 0;
}

.no-margin-right {
  margin-right: 0;
}

.no-margin-bottom {
  margin-bottom: 0;
}

.badge-left {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.badge-right {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

div.navigator ul.dropdown-menu {
  overflow-y: auto;
}

div.navigator > ul > li.oozie > ul.dropdown-menu {
  overflow-y: visible;
}

.mega-popover {
  max-width: 1200px;
}

.mega-popover .content {
  height: 300px;
  overflow-y: scroll;
}

.mega-popover .popover-content {
  min-height: 360px;
  min-width: 440px;
  max-width: 660px;
}

.mega-popover input[type="text"] {
  border-radius: 20px;
  margin: 0;
  min-height: 26px;
  padding-left: 12px;
  width: 130px;
}

.inline-block {
  display: inline-block;
}

pre, .like-pre {
  border: none;
  border-left: 5px solid #DDD;
  border-radius: 0;
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 12px;
  line-height: 20px;
  background-color: #f5f5f5;
  color: #444;
  font-family: Monaco,Menlo,Consolas,"Courier New",monospace;
}

.hiveAutocompleteItem {
  white-space: nowrap;
}

.leaflet-search-command {
  padding: 4px;
  background-color: #FFF;
}

.leaflet-search-command input, .leaflet-search-command label {
  margin-bottom: 0;
}

.clearable {
  background: url(/static/desktop/art/clearField.png) no-repeat right -10px center;
  border: 1px solid #999;
  padding: 3px 18px 3px 4px;
  border-radius: 3px;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .clearable {
    background: url(/static/desktop/art/clearField@2x.png) no-repeat right -10px center;
    background-size: 10px 10px;
  }
}

.clearable.x {
  background-position: right 5px center;
}

.clearable.onX {
  cursor: pointer !important;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.datatables-counter-col {
  width: 10px;
}

.player-toolbar {
  top: 0;
  left: 0;
  position: fixed;
  height: 48px;
  width: 100%;
  background-color: #f1f1f1;
  z-index: 30000;
}

.player-toolbar .pull-right {
  color: #999;
  margin: 14px;
}

.player-toolbar form {
  margin: 0;
  display: inline;
}

.player-toolbar input {
  display: inline-block;
  margin: 6px!important;
  margin-top: 0!important;
  -webkit-box-shadow: none!important;
  -moz-box-shadow: none!important;
  box-shadow: none!important;
  -webkit-border-radius: 0!important;
  -moz-border-radius: 0!important;
  border-radius: 0!important;
  border: 1px solid #999!important;
}

.player-toolbar img {
  padding-left: 20px;
  width: 24px;
  height: 24px;
  margin-right: 6px;
  margin-top: -4px;
  opacity: 0.7;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.player-toolbar img:hover {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}

.player-toolbar h4 {
  display: inline-block;
  margin: 0!important;
  line-height: 48px;
  color: #999;
}

.player-toolbar .link {
  display: inline-block;
}

div.navigator .pull-right .nav {
  margin-bottom: 0;
}

.jobs-overlay {
  background-color: #FFF;
  opacity: 0.8;
  position: absolute;
  top: 10px;
  right: 15px;
}

.jobs-overlay li {
  padding: 5px;
}

.jobs-overlay:hover {
  opacity: 1;
}

.dragging-pre {
  border-left: none;
  background: transparent;
}

.snippet-actions,
.hover-actions {
  opacity: 0;
}

.snippet-actions *,
.hover-actions * {
  text-decoration: none !important;
}

.inactive-action,
.inactive-action a {
  -webkit-transition: color 0.2s ease;
  -moz-transition: color 0.2s ease;
  -ms-transition: color 0.2s ease;
  transition: color 0.2s ease;
  color: #aaa;
}

.inactive-action:hover {
  text-decoration: none;
}

.inactive-action.disabled {
  color: #eee !important;
  cursor: default !important;
}

.inactive-action:not(.disabled):hover,
.inactive-action:not(.disabled):hover > a {
  color: #338bb8 !important;
}

.inactive-action:focus {
  color: #aaa;
}

.toggle-overflow {
  display: inline-block;
  overflow: hidden;
}

.toggle-overflow-gradient {
  position: relative;
  z-index: 2;
  top: -10px;
  height: 10px;
  line-height: 10px;
  background-color: #F6F6F6;
  cursor: s-resize;
  text-align: center;
}

.toggle-overflow-gradient:hover {
  background-color: #EEE;
}

.hueach {
  position: relative;
  width: 100%;
}

.valign-middle {
  vertical-align: middle;
}

table.resultTable td {
  border-right: 1px solid #e5e5e5;
}

/*
Transition to Hue 4
*/

body {
  background-color: #FFF;
}

.card, .sidebar-nav .nav-list {
  border-radius: 0;
  border: none;
}

.navbar-fixed-top .navbar-inner {
  box-shadow: none;
  border-bottom: 1px solid #DDD;
}

.hue-context-menu {
  display: none;
  position: fixed;
  margin: 2px 4px 6px 4px;
  z-index: 10000;
  padding: 6px 1px;
  list-style: none;
  font-size: 13px;
  opacity: 0;

  border-radius: 2px;
  background-color: #FFF;
  -webkit-box-shadow: 0 2px 8px rgba(0,0,0,.18);
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.18), 0 2px 8px 0 rgba(0, 0, 0, 0.13);
  transition: opacity .3s;
}

.hue-inner-drop-down {
  margin: 0 !important;
  padding: 0;
  list-style: none;
  font-size: 13px;
}

.hue-inner-drop-down > li,
.hue-context-menu > li {
  min-width: 170px;
  color: #e5e5e5;
}

.hue-inner-drop-down > li > a {
  display: block;
  position: relative;
  clear: both;
  height: 22px;
  line-height: 22px;
  vertical-align: middle;
  padding: 6px 16px 6px 16px;

  color: #333;
  text-decoration: none;
  font-weight: 400;
  white-space: nowrap;
  transition: background-color .3s;
}

.hue-context-menu > li > a {
  display: block;
  position: relative;
  clear: both;
  height: 22px;
  line-height: 22px;
  vertical-align: middle;
  padding: 6px 16px 6px 38px;

  color: #333;
  text-decoration: none;
  font-weight: 400;
  white-space: nowrap;
  transition: background-color .3s;
}

.hue-context-menu > li > .disabled {
  display: block;
  position: relative;
  clear: both;
  height: 22px;
  line-height: 22px;
  vertical-align: middle;
  padding: 6px 16px 6px 38px;
  cursor: default;

  color: #CCC;
  text-decoration: none;
  font-weight: 400;
  white-space: nowrap;
}

.hue-inner-drop-down > li > a:hover,
.hue-context-menu > li > a:not(.disabled):hover {
  background-color: #DBE8F1;
}

.hue-context-menu > li > .disabled > i {
  position: absolute;
  height: 22px;
  left: 13px;
  right: auto;
  top: 6px;

  color: #CCC;
  font-size: 17px;
  line-height: 22px;
  vertical-align: middle;
}

.hue-context-menu > li > a > i {
  position: absolute;
  top: 6px;
  left: 13px;
  right: auto;
  line-height: 22px;
  height: 24px;

  color: #555;
  font-size: 17px;
  vertical-align: middle;
}

.hue-context-menu > .divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.dropdown-menu {
  border-radius: 2px;
  background-color: #FFF;
  -webkit-box-shadow: 0 2px 8px rgba(0,0,0,.18);
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.18), 0 2px 8px 0 rgba(0, 0, 0, 0.13);
  transition: opacity .3s;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.hue-spinner {
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s; /* Firefox < 16 */
  -ms-animation: fadein 2s; /* Internet Explorer */
  -o-animation: fadein 2s; /* Opera < 12.1 */
  animation: fadein 2s;
  margin: auto 0;
  vertical-align: center;
}

.hue-spinner-center {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -8px;
  margin-top: -8px;
}

.hue-spinner-center.hue-spinner-large {
  margin-left: -13px !important;
  margin-top: -13px !important;
}

.hue-spinner-large {
  font-size: 26px !important;
}

.hue-spinner i {
  font-size: 16px;
  color: #aaa;
}

.dataTables_wrapper:hover > .hue-scrollbar-x-rail {
  opacity: 0.75
}

.hue-scrollbar-x-rail {
  opacity: 0;
  position: fixed;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-transition: background-color .2s linear, opacity .2s linear;
  -moz-transition: background-color .2s linear, opacity .2s linear;
  -o-transition: background-color .2s linear, opacity .2s linear;
  transition: background-color .2s linear, opacity .2s linear;
  bottom: 3px;
  height: 10px;
}


.hue-scrollbar-x-rail > .hue-scrollbar-x {
  position: absolute;
  background-color: #CCC;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-transition: background-color .2s linear;
  -moz-transition: background-color .2s linear;
  -o-transition: background-color .2s linear;
  transition: background-color .2s linear;
  bottom: 0;
  height: 10px;
  z-index: 10000;
}

.dropdown-menu.less-padding > li > a {
  padding-left: 6px
}

.hi {
  display: inline-block;
  width: 1em;
  height: 1em;
  fill: currentColor;
}

.blurred {
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}

.modebar-group svg {
  width: 1em!important;
  height: 1em!important;
}

.autocomplete-tooltip {
  background-color: #FFF;
  margin-left: -1px !important;
  border-top: 1px solid lightgrey;
  border-right: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
  border-radius: 1px;
  box-shadow: 2px 3px 5px rgba(0,0,0,.2);
  color: black;
  max-width: 100%;
  padding: 3px 4px;
  position: fixed;
  z-index: 999999;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  cursor: default;
  white-space: pre;
  word-wrap: break-word;
  line-height: normal;
  font-style: normal;
  font-weight: normal;
  letter-spacing: normal;
  pointer-events: none;
  height: 130px;
}

.dockable {
  background-color: #FFF;
  z-index: 1000;
  padding-bottom: 2px;
}
