/*
 Licensed to Cloudera, Inc. under one
 or more contributor license agreements.  See the NOTICE file
 distributed with this work for additional information
 regarding copyright ownership.  Cloudera, Inc. licenses this file
 to you under the Apache License, Version 2.0 (the
 "License"); you may not use this file except in compliance
 with the License.  You may obtain a copy of the License at

     http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.
*/

html {
  height: 100%;
  width: 100%;
  margin: 0;
  font-size: 1em;
}

body {
  position: relative;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-y: hidden;
}

.main-page {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-y: hidden;
}

.content-wrapper {
  -ms-flex: 1 1 100%;
  flex: 1 1 100%;
  position: relative;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-direction: column;
  flex-direction: row;
  background-color: #FFF;
}

.top-nav {
  -ms-flex: 1;
  flex: 1;
  position: relative;
  height: 38px;
  background-color: #003F6C;
  width: 100%;
  padding: 1em 0;
}

.left-panel,
.right-panel {
  -ms-flex: 0;
  flex: 0;
  position: relative;
  background-color: #FFF;
  padding-top: 10px;
  min-width: 250px;
}

.side-panel-closed {
  min-width: 0;
}

.resizer {
  -ms-flex: 0;
  flex: 0;
  height: 100%;
  min-width: 4px;
  cursor: col-resize;
}

.resize-bar {
  position: absolute;
  height: 100%;
  width: 2px;
  background-color: #F1F1F1;
}

.page-content {
  -ms-flex: 1;
  flex: 1;
  padding: 1em;
  position: relative;
}

.left-nav {
  -ms-flex: 0 0 0;
  flex: 0 0 0;
  overflow-x: hidden;
  white-space: nowrap;
  background-color: lightgrey;
  -webkit-transition: 0.4s flex;
  -moz-transition: 0.4s flex;
  -ms-transition: 0.4s flex;
  transition: 0.4s flex;
}

.assist-panel {
  -ms-flex: 0 0 200px;
  flex: 0 0 200px;
  position: relative;
  overflow-x: hidden;
  white-space: nowrap;
  -webkit-transition: 0.4s flex;
  -moz-transition: 0.4s flex;
  -ms-transition: 0.4s flex;
  transition: 0.4s flex;
}

.inactive-action,
.inactive-action a {
  -webkit-transition: color 0.2s ease;
  -moz-transition: color 0.2s ease;
  -ms-transition: color 0.2s ease;
  transition: color 0.2s ease;
  color: #999;
}

.inactive-action:hover {
  text-decoration: none;
}

.inactive-action.disabled {
  color: #eee !important;
  cursor: default !important;
}

.inactive-action:not(.disabled):hover,
.inactive-action:not(.disabled):hover > a {
  color: #338bb8 !important;
}

.inactive-action:focus {
  color: #999;
}

.blue {
  color: #338BB8 !important;
}

.assist-hidden {
  -ms-flex: 0;
  flex: 0;
}

.assist-panel .assist {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.side-panel-toggle {
  position: absolute;
  top: 2px;
  margin: 0;
  z-index: 1000;
  color: #D1D1D1;
  font-size: 12px;
  -webkit-transition: margin 0.2s linear, color 0.5s ease;
  -moz-transition: margin 0.2s linear, color 0.5s ease;
  -ms-transition: margin 0.2s linear, color 0.5s ease;
  transition: margin 0.2s linear, color 0.5s ease;
}

.show-right-side-panel,
.hide-left-side-panel {
  right: 4px;
}

.show-right-side-panel:hover,
.hide-left-side-panel:hover {
  margin-right: 2px;
  color: #338bb8;
}

.hide-right-side-panel,
.show-left-side-panel {
  left: 4px;
}

.hide-right-side-panel:hover,
.show-left-side-panel:hover {
  margin-left: 2px;
  color: #338bb8;
}

.left-nav-visible {
  -ms-flex: 0 0 15em;
  flex: 0 0 15em;
  background-color: lightgrey;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.25rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.313rem;
}

h5 {
  font-size: 1.125rem;
}

h6 {
  font-size: 1rem;
}

/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
.hamburger {
  padding: 0.4em 1em 0.4em 1.4em;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, -webkit-filter;
  transition-property: opacity, filter;
  transition-property: opacity, filter, -webkit-filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}

.hamburger:hover {
  opacity: 0.7;
}

.hamburger-box {
  width: 30px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  width: 30px;
  height: 3px;
  background-color: #FFF;
  border-radius: 4px;
  position: absolute;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}

.hamburger-inner::before, .hamburger-inner::after {
  content: "";
  display: block;
}

.hamburger-inner::before {
  top: -8px;
}

.hamburger-inner::after {
  bottom: -8px;
}

/*
 * Squeeze
 */
.hamburger--squeeze .hamburger-inner {
  transition-duration: 0.1s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--squeeze .hamburger-inner::before {
  transition: top 0.1s 0.14s ease, opacity 0.1s ease;
}

.hamburger--squeeze .hamburger-inner::after {
  transition: bottom 0.1s 0.14s ease, -webkit-transform 0.1s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: bottom 0.1s 0.14s ease, transform 0.1s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: bottom 0.1s 0.14s ease, transform 0.1s cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 0.1s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--squeeze.is-active .hamburger-inner {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition-delay: 0.14s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.hamburger--squeeze.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0;
  transition: top 0.1s ease, opacity 0.1s 0.14s ease;
}

.hamburger--squeeze.is-active .hamburger-inner::after {
  bottom: 0;
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  transition: bottom 0.1s ease, -webkit-transform 0.1s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: bottom 0.1s ease, transform 0.1s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: bottom 0.1s ease, transform 0.1s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.1s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1);
}

/* Context menu, popover etc. */


.hue-context-menu {
  display: none;
  position: fixed;
  margin: 2px 4px 6px 4px;
  z-index: 999;
  padding: 6px 1px;
  list-style: none;
  font-size: 13px;
  opacity: 0;
  transition: opacity .3s;
}

.hue-context-menu, .sql-context-popover-bottom {
  border-radius: 2px;
  background-color: #FFF;
  -webkit-box-shadow: 0 2px 8px rgba(0,0,0,.18);
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.18), 0 2px 8px 0 rgba(0, 0, 0, 0.13);
}

.sql-context-popover-top {
  border-radius: 2px;
  background-color: #FFF;
  -webkit-box-shadow: 0 -2px 8px rgba(0,0,0,.18);
  box-shadow: 0 -2px 6px 0 rgba(0, 0, 0, 0.18), 0 -2px 8px 0 rgba(0, 0, 0, 0.13);
}

.sql-context-popover-right {
  border-radius: 2px;
  background-color: #FFF;
  -webkit-box-shadow: 2px 0 8px rgba(0,0,0,.18);
  box-shadow: 2px 0 6px 0 rgba(0, 0, 0, 0.18), 2px 0 8px 0 rgba(0, 0, 0, 0.13);
}

.sql-context-popover-left {
  border-radius: 2px;
  background-color: #FFF;
  -webkit-box-shadow: -2px 0 8px rgba(0,0,0,.18);
  box-shadow: -2px 0 6px 0 rgba(0, 0, 0, 0.18), -2px 0 8px 0 rgba(0, 0, 0, 0.13);
}

.hue-inner-drop-down {
  margin: 0 !important;
  padding: 0;
  list-style: none;
  font-size: 13px;
}

.hue-inner-drop-down > li,
.hue-context-menu > li {
  min-width: 170px;
  color: #e5e5e5;
}

.hue-inner-drop-down > li > a {
  display: block;
  position: relative;
  clear: both;
  height: 22px;
  line-height: 22px;
  vertical-align: middle;
  padding: 6px 16px 6px 16px;

  color: #333;
  text-decoration: none;
  font-weight: 400;
  white-space: nowrap;
  transition: background-color .3s;
}

.hue-context-menu > li > a {
  display: block;
  position: relative;
  clear: both;
  height: 22px;
  line-height: 22px;
  vertical-align: middle;
  padding: 6px 16px 6px 38px;
  color: #333;
  text-decoration: none;
  font-weight: 400;
  white-space: nowrap;
  transition: background-color .3s;
}

.hue-context-menu > li > .disabled {
  display: block;
  position: relative;
  clear: both;
  height: 22px;
  line-height: 22px;
  vertical-align: middle;
  padding: 6px 16px 6px 38px;
  cursor: default;
  color: #CCC;
  text-decoration: none;
  font-weight: 400;
  white-space: nowrap;
}

.hue-inner-drop-down > li > a:hover,
.hue-inner-drop-down > li.active,
.hue-context-menu > li.active,
.hue-context-menu > li > a:not(.disabled):hover {
  background-color: #DBE8F1;
}

.hue-context-menu > li > .disabled > i {
  position: absolute;
  height: 22px;
  left: 13px;
  right: auto;
  top: 6px;
  color: #CCC;
  font-size: 17px;
  line-height: 22px;
  vertical-align: middle;
}

.hue-context-menu > li > a > i:not(.sub-icon) {
  position: absolute;
  top: 6px;
  left: 13px;
  right: auto;
  line-height: 22px;
  height: 24px;
  color: #555;
  font-size: 17px;
  vertical-align: middle;
}

.hue-context-menu > li > a > .sub-icon {
  position: absolute;
  top: 6px;
  left: auto;
  right: 13px;
  line-height: 22px;
  height: 24px;

  color: #555;
  font-size: 12px;
  vertical-align: middle;
}

.hue-context-menu > .divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}

.page-content .navbar.navbar-inverse.navbar-fixed-top {
  position: static;
}