/*
 Licensed to Cloudera, Inc. under one
 or more contributor license agreements.  See the NOTICE file
 distributed with this work for additional information
 regarding copyright ownership.  Cloudera, Inc. licenses this file
 to you under the Apache License, Version 2.0 (the
 "License"); you may not use this file except in compliance
 with the License.  You may obtain a copy of the License at

     http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.
*/

html {
  height: 100%;
  width: 100%;
  margin: 0;
  font-size: 1em;
}

body {
  position: relative;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-y: hidden;
}

.main-page {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-y: hidden;
}

.top-nav {
  position: relative;
  flex: 1;
  height: 38px;
  background-color: #31516A;
  width: 100%;
  padding: 1em 0;
}

.content-wrapper {
  position: relative;
  display: flex;
  flex: 1 1 100%;
  background-color: #FFF;
  flex-direction: row;
}

.left-nav {
  flex: 0 0 0;
  overflow-x: hidden;
  white-space: nowrap;
  background-color: lightgrey;
  -webkit-transition: 0.4s flex;
  -moz-transition: 0.4s flex;
  -ms-transition: 0.4s flex;
  transition: 0.4s flex;
}

.assist-panel {
  position: relative;
  flex: 0 0 200px;
  overflow-x: hidden;
  white-space: nowrap;
  -webkit-transition: 0.4s flex;
  -moz-transition: 0.4s flex;
  -ms-transition: 0.4s flex;
  transition: 0.4s flex;
}

.assist-hidden {
  flex: 0;
}

.assist-panel .assist {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.resizer {
  height: 100%;
  position: absolute;
  width: 4px;
  cursor: col-resize;
}

.resize-bar {
  position: absolute;
  height: 100%;
  width: 2px;
  background-color: #F1F1F1;
}

.hide-assist {
  position: absolute;
  top: 2px;
  right: 4px;
  z-index: 1000;
  color: #D1D1D1;
  font-size: 12px;
  -webkit-transition: margin-right 0.2s linear, color 0.5s ease;
  -moz-transition: margin-right 0.2s linear, color 0.5s ease;
  -ms-transition: margin-right 0.2s linear, color 0.5s ease;
  transition: margin-right 0.2s linear, color 0.5s ease;
}

.show-assist {
  position: absolute;
  top: 2px;
  left: 8px;
  font-size: 12px;
  margin-left: 0;
  -webkit-transition: margin-left 0.2s linear;
  -moz-transition: margin-left 0.2s linear;
  -ms-transition: margin-left 0.2s linear;
  transition: margin-left 0.2s linear;
}

.show-assist:hover {
  margin-left: 2px;
}

.hide-assist:hover {
  margin-right: 2px;
  color: #338bb8;
}

.left-nav-visible {
  flex: 0 0 15em;
  background-color: lightgrey;

}

.page-content {
  flex: 2;
  padding: 1em;
  position: relative;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.25rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.313rem;
}

h5 {
  font-size: 1.125rem;
}

h6 {
  font-size: 1rem;
}

/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
.hamburger {
  padding: 0.4em 1em 0.4em 1.4em;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, -webkit-filter;
  transition-property: opacity, filter;
  transition-property: opacity, filter, -webkit-filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}

.hamburger:hover {
  opacity: 0.7;
}

.hamburger-box {
  width: 30px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  width: 30px;
  height: 3px;
  background-color: #FFF;
  border-radius: 4px;
  position: absolute;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}

.hamburger-inner::before, .hamburger-inner::after {
  content: "";
  display: block;
}

.hamburger-inner::before {
  top: -8px;
}

.hamburger-inner::after {
  bottom: -8px;
}

/*
 * Squeeze
 */
.hamburger--squeeze .hamburger-inner {
  transition-duration: 0.1s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--squeeze .hamburger-inner::before {
  transition: top 0.1s 0.14s ease, opacity 0.1s ease;
}

.hamburger--squeeze .hamburger-inner::after {
  transition: bottom 0.1s 0.14s ease, -webkit-transform 0.1s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: bottom 0.1s 0.14s ease, transform 0.1s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: bottom 0.1s 0.14s ease, transform 0.1s cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 0.1s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--squeeze.is-active .hamburger-inner {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition-delay: 0.14s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.hamburger--squeeze.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0;
  transition: top 0.1s ease, opacity 0.1s 0.14s ease;
}

.hamburger--squeeze.is-active .hamburger-inner::after {
  bottom: 0;
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  transition: bottom 0.1s ease, -webkit-transform 0.1s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: bottom 0.1s ease, transform 0.1s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: bottom 0.1s ease, transform 0.1s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.1s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1);
}