{% extends "layout.html" %}
{% comment %}
Licensed to Cloudera, Inc. under one
or more contributor license agreements.  See the NOTICE file
distributed with this work for additional information
regarding copyright ownership.  Cloudera, Inc. licenses this file
to you under the Apache License, Version 2.0 (the
"License"); you may not use this file except in compliance
with the License.  You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
{% endcomment %}
{% block title %}Job Design Editor{% endblock %}
{% block nav %}
<li><a href="{% url jobsub.views.list_designs %}" class="selected">Job List</a></li>
<li><a href="{% url jobsub.views.watch %}">History</a></li>
{% endblock %}

{% block content %}
    <div class="sidebar">
		<div class="well">
        	{% include "types.html" %}
		</div>
    </div>
    <div class="content">
		<h1>Job Design Editor: {{form.name}} Job</h1>
        {% if message %}
        <div>{{message}}</div>
        {% endif %}
		<div class="alert-message block-message info">
		    <b>Tip</b>:
		    Job Designs allow you to rudimentarily parameterize your jobs by using variables.
		    At submission time, you'll be prompted to specify the values of any variables
		    of the form <i>$variable_name</i>.
		    <!--
		                     TODO(philip): Put this in if the file chooser is hooked up.

		                     The following variables are treated specially, prompting a "file chooser"
		                     tool.

		                     <dl class="jobsub_notes clearfix">
		                     <dt><tt>$input</tt></dt><dd>Input for your job.</dd>
		                     <dt><tt>$output</tt></dt><dd>Output directory (must not already exist) for your job.</dd>
		                     </dl>
		                     -->
		</div>

        <form method="POST" action="{{ edit_url }}" enctype="multipart/form-data" class="form-stacked">

            <input type="hidden" name="type" value="{{ form.type_str }}"/>

            <label>{{ metadata_form.name.html_name }}</label>
            {{ metadata_form.name|safe }}

            <label>{{ metadata_form.description.html_name }}</label>
            {{ metadata_form.description|safe }}


            {{ form.render_edit }}
			
			<div class="actions">
                <input type="submit" name="submit" value="Save" class="btn primary"/>
                <input type="checkbox" name="save_submit"/> Submit upon save.
                <a href="/jobsub/" class="btn">Cancel</a>
			</div>


        </form>


    </div>


{% endblock %}
