{% extends "layout.html" %}
{% comment %}
Licensed to Cloudera, Inc. under one
or more contributor license agreements.  See the NOTICE file
distributed with this work for additional information
regarding copyright ownership.  Cloudera, Inc. licenses this file
to you under the Apache License, Version 2.0 (the
"License"); you may not use this file except in compliance
with the License.  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
{% endcomment %}
{% block title %}Job Design List{% endblock %}
{% block nav %}
	<li><a href="{% url jobsub.views.list_designs %}" class="selected">Job List</a></li>
	<li><a href="{% url jobsub.views.watch %}">History</a></li>
{% endblock %}
{% block content %}
<div id="jobsub_joblist jobsub_col_wrapper" class="view" data-filters="SplitView">
  <h1>Job Designer: Job Designs</h1>
  <div class="jobsub_left_col left_col">
    {% include "types.html" %}
  </div>
  <div class="jobsub_right_col right_col">
    <div class="jobsub_topsection clearfix">
      <form class="jobsub_filter" data-filters="SubmitOnChange" action="{% url jobsub.list %}" method="get">
        <span class="filter_text">Filter By Owner:</span>
        <input data-filters="ArtInput, OverText" data-art-input-type="search" name="owner" alt="Filter By Owner" value="{{ owner }}"/>
        <input data-filters="ArtInput, OverText" data-art-input-type="search" name="name" alt="Filter By Name" value="{{ name }}"/>
        <input class="submit" type="submit"/>
      </form>
    </div>
  
    <table data-filters="HtmlTable" class="selectable sortable" cellpadding="0" cellspacing="0">
      <thead>
        <tr>
          <th>Owner</th>
          <th>Name</th>
          <th colspan="2">Last Modified</th>
        </tr>
      </thead>
      <tbody>
    {% for jobdesign in jobdesigns %}
        <tr 
          {% ifequal saved jobdesign.id %} class="jobsub_saved"{% endifequal %}
          data-filters="ContextMenu"
          data-context-menu-actions="[{'events':['contextmenu','click:relay(.item-options)'],'menu':'ul.context-menu'}]"
          data-dblclick-delegate= "{'dblclick_loads':'a.run'}">
          <td>
            {{ jobdesign.owner.username }}
            <ul class="context-menu">
              <li><a title="Launch job with this design" class="run frame_tip" href="{{ jobdesign.submit_url }}">Submit to Cluster</a></li>
              <li><a title="Copy design" class="copy frame_tip" href="{{ jobdesign.clone_url }}">Copy</a></li>
              <li><a title="Edit this design" class="edit frame_tip" href="{{ jobdesign.edit_url }}">Edit</a></li>
              <li><a title="Delete this design" alt="Are you sure you want to delete this design?" class="delete frame_tip" href="{{ jobdesign.delete_url }}">Delete</a></li>
            </ul>
          </td>
          <td>{{ jobdesign.name }}</td>
          <td>
            <span class="jobsub_actual_date" style="display: none">{{ jobdesign.last_modified|date:"U" }}</span>
            {{ jobdesign.last_modified|timesince }} ago
          </td>
          <td>
            <a class="item-options">options</a>
          </td>
        </tr>
    {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
