{% extends "layout.html" %}
{% comment %}
Licensed to Cloudera, Inc. under one
or more contributor license agreements.  See the NOTICE file
distributed with this work for additional information
regarding copyright ownership.  Cloudera, Inc. licenses this file
to you under the Apache License, Version 2.0 (the
"License"); you may not use this file except in compliance
with the License.  You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
{% endcomment %}
{% block title %}Submit Job: {{ job_design.name }}{% endblock %}
{% block nav %}
<li><a href="{% url jobsub.views.list_designs %}" class="selected">Job List</a></li>
<li><a href="{% url jobsub.views.watch %}">History</a></li>
{% endblock %}

{% block content %}
<div class="sidebar">
	<div class="well">
		<h6>Job Name</h6>
        <span>{{ job_design.name }}</span>
        {% if job_design.description %}
        <h6>Description</h6>
        <span>{{ job_design.description }}</span>
        {% endif %}
	</div>
</div>
<div class="content">
	<h1>Submit Job: {{ job_design.name }} </h1>
	<form class="form-stacked" action="{% url jobsub.views.submit_design job_design.id %}" method="POST" enctype="multipart/form-data">
		{{ form.render_parameterization }}
        <div class="actions">
            <input type="submit" name="submitter" value="Start Job" class="btn primary"/>
            <a href="/jobsub/" class="btn">Cancel</a>
        </div>
	</form>
</div>
{% endblock %}
