{% extends "layout.html" %}
{% comment %}
Licensed to Cloudera, Inc. under one
or more contributor license agreements.  See the NOTICE file
distributed with this work for additional information
regarding copyright ownership.  Cloudera, Inc. licenses this file
to you under the Apache License, Version 2.0 (the
"License"); you may not use this file except in compliance
with the License.  You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
{% endcomment %}
{% block title %}Script editor{% endblock %}
{% block nav %}
<li><a href="{% url jobsub.views.list_designs %}" class="selected">Job List</a></li>
<li><a href="{% url jobsub.views.watch %}">History</a></li>
{% endblock %}

{% block content %}

	{% if error %}
		<h1>Error!</h1> 
		<div class="alert-message block-message error">{{ error }}</div>
	{% endif %}
	{% if message %}
		<div class="alert-message block-message info">{{ message }}</div>
	{% endif %}
	<form action="" method="POST" enctype="multipart/form-data">
		{{ templates.non_field_errors }}
		{{ template.as_p }}
		<input type="submit" name="load" value="Load Template" />
		{{ editor.non_field_errors }}
		{{ editor.as_p }}
		<input type="submit" name="save" value="Save" class="btn primary" />
	</form>
	
{% endblock %}
