{% extends "layout.html" %}
{% comment %}
Licensed to Cloudera, Inc. under one
or more contributor license agreements.  See the NOTICE file
distributed with this work for additional information
regarding copyright ownership.  Cloudera, Inc. licenses this file
to you under the Apache License, Version 2.0 (the
"License"); you may not use this file except in compliance
with the License.  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
{% endcomment %}
{% block title %}Job - {{ submission.name }}{% endblock %}
{% block head %}
	{% if not completed %}
		<meta http-equiv="refresh" content="10" />
	{% endif %}
{% endblock %}
{% block content %}
	<div id="jobsub_output" class="view">
		<h1>Job - {{ submission.name }}</h1>
		<b class="state{% if completed %} complete {% endif %}">
			{% if completed %}
				status: finished
			{% else %}
				status: running
				<input type="hidden" value="5" class="autorefresh">
				<span class="jobsub_autorefresh_note">note: this view will auto refresh in <span class="sec_to_autorefresh"></span> seconds</span>
			{% endif %}
		</b>
		<div class="jframe_padded">
			<h2 class="jobsub_output_links_header">Launched Jobs</h2>
			<ul class="jobsub_output_links">
				{% for j in jobs %}
					<li><a href="{% url single_job jobid=j %}" target="JobBrowser">{{ j }}</a>
				{% endfor %}
			</ul>

			<h2 class="jobsub_output_stout_header">Last 10KB of stdout:</h2>
			<pre class="jobsub_output_stout">{{ job_data.stdout_tail }}</pre>

			<h2 class="jobsub_output_sterr_header">Last 10KB of stderr:</h2>
			<pre class="jobsub_output_sterr">{{ job_data.stderr_tail }}</pre>
		</div>
	</div>
{% endblock %}
