// Licensed to Cloudera, Inc. under one
// or more contributor license agreements.  See the NOTICE file
// distributed with this work for additional information
// regarding copyright ownership.  Cloudera, Inc. licenses this file
// to you under the Apache License, Version 2.0 (the
// 'License'); you may not use this file except in compliance
// with the License.  You may obtain a copy of the License at
//
//     http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an 'AS IS' BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
// See the License for the specific language governing permissions and
// limitations under the License.

@import '../../../components/styles/_variables';

.config-component.antd.cuix {
  background-color: $fluidx-gray-100;
  padding: 0 24px 24px 24px;

  .config-section-header {
    padding-top: 15px;
    color: $cdl-gray-700;
}

  .main-config-item {
      padding: 16px 0 8px 16px;
      border-bottom: solid 1px $cdl-gray-300;
      background-color: $cdl-white;
  }

  .main-config-item-heading {
      font-size: $font-size-xl;
      font-weight: 300;
  }

  .main-config-item  .last-config-heading {
    font-size: $font-size-xl;
  }

  .main-config-item .child-config-item .last-config-heading {
    font-size: $font-size-base;
  }

  .child-config-item {
    font-size: $font-size-base;
    color: $cdl-black;
    font-weight: 400;
    margin-left: 40px;
  }

  .last-config-helpText {
    color: $cdl-gray-700;
    padding: 4px 8px 12px 21px;
  }

  .default-section-text {
    padding: 8px 0 16px 0;
    display: block;
    font-size: $font-size-base;
    color: $cdl-black;
    font-weight: 400;
  }
  
  .default-value {
    color: $cdl-gray-500;
    font-style: italic;
  }

  .config-value {
    color: $cdl-gray-900;
    padding: 0 4px;
    font-size: $font-size-sm;
    border-radius: 20px;
    background-color: $cdl-gray-200;
    border: 1px solid $hue-border-color;
    margin-left: 8px;
  }

  .last-config-heading {
    padding: 4px 0 8px 0;
  }

  .config-tooltip {
      margin-left: 8px;
      cursor: pointer;
      color: $cdl-blue-600;
      font-size: $font-size-base;
  }
}