@import '../../../../components/styles/variables.scss';

$top-menu-height: $fluid-spacing-xl;

$border-color: $fluid-gray-300;
$menu-background-color: $fluid-gray-050;

// The ko-react-binding creates an additional wrapper element
// which also needs a height for the components full height to work.
chartpanel {
  height: 100%;

  .hue-chart-panel {
    position: relative;
    overflow: hidden;
    height: inherit;
    // border: 1px solid red; // DEBUG TEMP
  }
}
