// Licensed to Cloudera, Inc. under one
// or more contributor license agreements.  See the NOTICE file
// distributed with this work for additional information
// regarding copyright ownership.  Cloudera, Inc. licenses this file
// to you under the Apache License, Version 2.0 (the
// 'License'); you may not use this file except in compliance
// with the License.  You may obtain a copy of the License at
//
//     http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an 'AS IS' BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
// See the License for the specific language governing permissions and
// limitations under the License.

@import '../styles/colors';
@import '../styles/variables';

.sidebar {

  // This overrides global scrollbar styles, temporary until the global ones are removed.
  ::-webkit-scrollbar-thumb {
    border: none;
    background-color: $fluid-gray-900;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: $fluid-gray-700;
  }

  &.sidebar-collapsed {
    .sidebar-header a {
      overflow: hidden;
      width: 36px;
      display: block;

      > svg {
        color: $fluid-white;
        height: 30px;
        width: 110px;
      }
    }
  }

  &:not(.sidebar-collapsed) {
    .sidebar-header a > svg {
      color: $hue-primary-color-dark;
      height: 28px;
      margin-right: 24px;
    }
  }
}

.svg-hue-sidebar-logo-main {
  fill: currentColor !important;
}
