[desktop]
  send_dbug_messages=1
  database_logging=0

  [[auth]]
    # Uncomment the next line in order to use PAM for authentication.
    # This will check usernames and passwords against your linux system.
    #
    # WARNING: this may be a security concern if Hue does not
    # run beneath SSL.
    # backend=desktop.auth.backend.PamBackend


[hadoop]
  # Point this variable at the path to your Hadoop wrapper script
  hadoop_home=$HADOOP_HOME

  # Point this to the Oozie service
  oozie_url=http://localhost:11000/oozie

  [[hdfs_clusters]]
    [[[default]]]
      security_enabled=false
      namenode_host=localhost
      hdfs_port=8020
      http_port=50070

  [[mapred_clusters]]
    [[[default]]]
      jobtracker_host=localhost


[beeswax]
  # Point this variable to your Hive installation config dir (if applicable)
  # hive_conf_dir=
  beeswax_server_heapsize=128
