#####################################
# DEVELOPMENT EDITION
#####################################

# Hue configuration file
# ===================================
#
# For complete documentation about the contents of this file, run
# 	$ <hue_root>/build/env/bin/hue config_help
#
# All .ini files under the current directory are treated equally.  Their
# contents are merged to form the Hue configuration, which can
# can be viewed on the Hue at
# 	http://<hue_host>:<port>/dump_config


###########################################################################
# General configuration for core Desktop features (authentication, etc)
###########################################################################

[desktop]

  send_dbug_messages=1

  # To show database transactions, set database_logging to 1
  database_logging=0

  # Set this to a random string, the longer the better.
  # This is used for secure hashing in the session store.
  secret_key=

  # Webserver listens on this address and port
  http_host=0.0.0.0
  http_port=8000

  # Time zone name
  time_zone=America/Los_Angeles

  # Turn off debug
  django_debug_mode=1

  # Turn off backtrace for server error
  http_500_debug_mode=1

  # Set to true to use CherryPy as the webserver, set to false
  # to use Spawning as the webserver. Defaults to Spawning if
  # key is not specified.
  ## use_cherrypy_server = false

  # Webserver runs as this user
  ## server_user=hue
  ## server_group=hue

  # If set to false, runcpserver will not actually start the web server.
  # Used if Apache is being used as a WSGI container.
  ## enable_server=yes

  # Number of threads used by the CherryPy web server
  ## cherrypy_server_threads=10

  # Filename of SSL Certificate
  ## ssl_certificate=

  # Filename of SSL RSA Private Key
  ## ssl_private_key=

  # Default encoding for site data
  ## default_site_encoding=utf-8

  # Configuration options for user authentication into the web application
  # ------------------------------------------------------------------------
  [[auth]]

    # Authentication backend. Common settings are:
    # - django.contrib.auth.backends.ModelBackend (entirely Django backend)
    # - desktop.auth.backend.AllowAllBackend (allows everyone)
    # - desktop.auth.backend.AllowFirstUserDjangoBackend
    #     (Default. Relies on Django and user manager, after the first login)

  # Configuration options for connecting to LDAP and Active Directory
  # -------------------------------------------------------------------
  [[ldap]]

  # The search base for finding users and groups
  ## base_dn="DC=mycompany,DC=com"

  # The NT domain to connect to (only for use with Active Directory)
  ## nt_domain=mycompany.com

  # URL of the LDAP server
  ## ldap_url=ldap://auth.mycompany.com

  # Path to certificate for authentication over TLS
  ## ldap_cert=

  # Distinguished name of the user to bind as -- not necessary if the LDAP server
  # supports anonymous searches
  ## bind_dn="CN=ServiceAccount,DC=mycompany,DC=com"

  # Password of the bind user -- not necessary if the LDAP server supports
  # anonymous searches
  ## bind_password=

  # Pattern for searching for usernames -- Use <username> for the parameter
  # For use when using LdapBackend for Hue authentication
  ## ldap_username_pattern="uid=<username>,ou=People,dc=mycompany,dc=com"

      [[[users]]]

      # Base filter for searching for users
      ## user_filter="objectclass=*"

      # The username attribute in the LDAP schema
      ## user_name_attr=sAMAccountName

      [[[groups]]]

      # Base filter for searching for groups
      ## group_filter="objectclass=*"

      # The username attribute in the LDAP schema
      ## group_name_attr=cn

  # Configuration options for specifying the Desktop Database.  For more info,
  # see http://docs.djangoproject.com/en/1.1/ref/settings/#database-engine
  # ------------------------------------------------------------------------
  [[database]]
    # Database engine is typically one of:
    # postgresql, mysql, sqlite3, or oracle
    #
    # Note that for sqlite3, 'name', below is a filename;
    # for other backends, it is the database name.
    ## engine=sqlite3
    ## host=
    ## port=
    ## user=
    ## password=
    ## name=


  # Configuration options for connecting to an external SMTP server
  # ------------------------------------------------------------------------
  [[smtp]]

    # The SMTP server information for email notification delivery
    host=localhost
    port=25
    user=
    password=

    # Whether to use a TLS (secure) connection when talking to the SMTP server
    tls=no

    # Default email address to use for various automated notification from Hue  
    ## default_from_email=hue@localhost


  # Configuration options for Kerberos integration for secured Hadoop clusters
  # ------------------------------------------------------------------------
  [[kerberos]]

    # Path to Hue's Kerberos keytab file
    ## hue_keytab=
    # Kerberos principal name for Hue
    ## hue_principal=hue/hostname.foo.com


###########################################################################
# Settings to configure your Hadoop cluster.
###########################################################################

[hadoop]

  # If you installed Hadoop in a different location, you need to set
  # hadoop_home, in which bin/hadoop, the Hadoop wrapper script, is found.
  #
  # NOTE: Hue depends on Cloudera's Distribution of Hadoop version 4 (CDH4)
  # or later.
  hadoop_home=$HADOOP_HOME
  hadoop_bin=$HADOOP_HOME/bin/hadoop
  hadoop_conf_dir=$HADOOP_HOME/conf

  ## hadoop_mr1_home=$HADOOP_MR1_HOME

  # Configuration for HDFS NameNode
  # ------------------------------------------------------------------------
  [[hdfs_clusters]]

    [[[default]]]
      # Enter the filesystem uri
      fs_defaultfs=hdfs://localhost:8020

      # Use WebHdfs/HttpFs as the communication mechanism. To fallback to
      # using the Thrift plugin (used in Hue 1.x), this must be uncommented
      # and explicitly set to the empty value.
      ## webhdfs_url=

  # Configuration for MapReduce JobTracker
  # ------------------------------------------------------------------------
  [[mapred_clusters]]

    [[[default]]]
      # Enter the host on which you are running the Hadoop JobTracker
      jobtracker_host=localhost
      # The port where the JobTracker IPC listens on
      jobtracker_port=8021
      # Thrift plug-in port for the JobTracker
      ## thrift_port=9290
      # Whether to submit jobs to this cluster
      ## submit_to=False

  # Configuration for Yarn
  # ------------------------------------------------------------------------
  [[yarn_clusters]]

    [[[default]]]
      # Enter the host on which you are running the ResourceManager
      resourcemanager_host=localhost
      # The port where the ResourceManager IPC listens on
      resourcemanager_port=8032
      # Whether to submit jobs to this cluster
      ## submit_to=False


###########################################################################
# Settings to configure Job Designer.
###########################################################################

[jobsub]
  # The URL where the Oozie service runs on. This is required in order for
  # users to submit jobs.
  oozie_url=http://localhost:11000/oozie

  ## security_enabled=false


###########################################################################
# Settings for the User Admin application
###########################################################################

[useradmin]
  # The name of the default user group that users will be a member of
  ## default_user_group=default_group
