/*
 Licensed to Cloudera, Inc. under one
 or more contributor license agreements.  See the NOTICE file
 distributed with this work for additional information
 regarding copyright ownership.  Cloudera, Inc. licenses this file
 to you under the Apache License, Version 2.0 (the
 "License"); you may not use this file except in compliance
 with the License.  You may obtain a copy of the License at

     http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.
*/

.hueBreadcrumb {
  padding: 12px 14px;
}

.hueBreadcrumbBar {
  padding: 0;
  margin: 12px;
}

.hueBreadcrumbBar a {
  color: #338BB8 !important;
  display: inline !important;
}

.divider {
  color: #CCC;
}

.sidebar-nav {
  padding: 0;
}

.card-heading {
  padding-left: 6px !important;
  border-bottom: none !important;
}

.sampleTable td, .sampleTable th {
  white-space: nowrap;
}

h2.card-heading {
  border-bottom: 1px solid #e5e5e5!important;
  font-size: 12px!important;
  font-weight: bold!important;
}

.filter-box {
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 4px;
  background-color: #F5F5F5;
}

.filter-box a.pull-right {
  margin: 4px;
}

.filter-box select, .filter-box input {
  margin-bottom: 0;
}

.add-filter {
  margin: 5px;
  float: left;
}

.checkbox.inline.pulled {
  margin-right: 10px;
  padding-top: 1px;
}

.checkbox.inline.pulled input {
  margin-left: 0;
  margin-right: 4px;
}
