/* lightbox */
.gallery_content {
	background: #fff;
	padding: 8px;
}
#gallery {
	background: url(/site_media/art/lb/border-trans.png);
	padding: 2px;
	font-family: "Lucida Grande","Lucida Sans Unicode","Trebuchet MS",Helvetica,Arial,sans-serif;
	font-size: 1.2em;
}
.gallery_slides {
	margin: 4px;
	border: 1px solid #777;
}
.gallery_content .bottom {
	padding: 5px 12px 12px 12px;
	position: relative;
	min-height:45px;
}
.gallery_content p.caption {
	width: 300px;
}
.gallery_content .pagination {
	position: absolute;
	right: 18px;
	top: 16px;
}
.gallery_content .pagination .prev {
	width: 23px;
	height: 23px;
	float: left;
	background: url(/site_media/art/lb/arw-left.gif) -5px -4px;
}
.gallery_content .pagination .prev:hover {
	background: url(/site_media/art/lb/arw-left.gif) 26px -4px;
}
.gallery_content .pagination .next {
	width: 23px;
	height: 23px;
	float: left;
	border-left: 1px solid #ddd;
	background: url(/site_media/art/lb/arw-right.gif) -2px -4px;
}
.gallery_content .pagination .next:hover {
	background: url(/site_media/art/lb/arw-right.gif) -33px -4px;
}

.gallery_content .pagination img {
	clear:both;
}
.gallery_content a, .gallery_content img.closeSticky {
	cursor: pointer;
}