/* wizard */
.ccs-wizard {
	position: relative;
}
.ccs-wizard dd {
	position: relative;
}
.ccs-wizard pre {
	color: #b16938;
	background: #141414;
	border: 2px solid #936a3c;
	padding: 4px;
	margin-bottom: 8px;
	overflow: auto;
	-moz-border-radius: 1%;
}
.ccs-wizard ul.ccs-wizard li {
	padding: 0px 8px;
}
.ccs-wizard .ccs-blue-continue, .ccs-wizard .ccs-grey-continue, .ccs-wizard .ccs-orange-continue {
	position: absolute;
	bottom: -3px;
	right: -38px;
}
.ccs-wizard .ccs-blue-prev, .ccs-wizard .ccs-orange-prev {
	position: absolute;
	bottom: -3px;
	left: -38px;
}
.IEroot .ccs-wizard .ccs-blue-continue, .IEroot .ccs-wizard .ccs-grey-continue, .IEroot .ccs-wizard .ccs-orange-continue, .IEroot .ccs-wizard .ccs-blue-prev, .IEroot .ccs-wizard .ccs-orange-prev {
	bottom: 8px;
}
.ccs-wizard dl dt {
	font-weight: bold;
	color: #333;
	padding: 4px 0px;
	position: relative;
}
.ccs-wizard dl dd {
	margin-bottom: 6px;
}
/* ch wizard */
#ccs-ch-wizard h1 {
	text-align: center;
	margin: 5px 0px 16px;
}
#ccs-ch-wizard ul.ccs-wizard li li {
	padding: 0px;
}
#ccs-ch-wizard ul.ccs-ch-clusters li a.ch-choice {
	padding-left: 150px;
	margin: 0px 10px 8px;
	background: url(../art/cluster-types.png) left top no-repeat;
	height: 83px;
	display:block;
	color: #444;
}
#ccs-ch-wizard ul.ccs-ch-clusters li a.ch-choice:hover {
	text-decoration: none;
	color:#000;
}
#ccs-ch-wizard ul.ccs-ch-clusters li.ccs-ch-medium-cluster a.ch-choice {
	padding-top: 10px;
	height: 100px;
	background-position: left -133px;
}
#ccs-ch-wizard ul.ccs-ch-clusters li.ccs-ch-large-cluster a.ch-choice {
	padding-top: 30px;
	background-position: left -266px;
	height: 93px;
}
#ccs-ch-wizard img.ccs-box {
	margin: 12px;
}
#ccs-ch-wizard img.ccs-left {
	padding: 6px 18px;
}
#ccs-ch-wizard div.ccs-inline {
	vertical-align: top;
	margin-right: 3px;
}
#ccs-ch-wizard img.ccs-pointer {
	padding: 4px;
	vertical-align:top;
}
#ccs-ch-wizard dl.ccs-path-builder dd a.ccs-path-del {
	background: url(/site_media/art/close.png) 0 13px;
	display:block;
	height:13px;
	left:364px;
	margin-left:7px;
	position:absolute;
	top:6px;
	width:13px;
}
#ccs-ch-wizard dl.ccs-path-builder dd a.ccs-path-del:hover {
	background: url(/site_media/art/close.png) 0 0;
}
#ccs-ch-wizard input.ccs-same-as {
	vertical-align: text-top;
}
#ccs-ch-wizard ul.register li {
	margin: 0px auto;
	width: 450px;
	text-align: left;
}
#ccs-ch-wizard ul.register input.ccs-submit {
	margin: 8px 0px;
}
#ccs-ch-wizard a.ccs-download {
	cursor: pointer;
	color: #444;
	display: block;
	text-align: center;
}
#ccs-ch-wizard a.ccs-download:hover {
	color: #000;
	text-decoration: none;
}
#ccs-ch-wizard a.ccs-download span {
	color: #3E528C;
	padding: 8px;
	display: block;
	clear: both;
}
#ccs-ch-wizard a.ccs-config-download {
	padding: 0px 20px;
}
#ccs-ch-wizard li.ccs-same-as-check {
	margin: 8px;
}
#ccs-cs-wizard li.ccs-same-as {
	overflow: hidden;
}
#ccs-ch-wizard div.ccs-same-as-check {
	margin-left: 25px;
	margin-top: 27px;
}
#ccs-ch-wizard button.ccs-path-add {
	display:block;
	margin-top:8px;
}
#ccs-ch-wizard div.ccs-repo-id {
	color:#494;
	font-size:120%;
	text-align:center;
	margin: 4px 0px 8px;
}
#ccs-ch-wizard a.ccs-privacy {
	color:#666; 
	font-size:95%;
	padding: 4px 0px 4px 20px;
	display:block;
}
#ccs-ch-wizard div.ccs-contact-check {
	float: left;
	width: 20px;
	padding-top: 1px;
}

#ccs-ch-wizard table.hadoop-site-xml {
	margin: auto;
	width: 375px;
}
#ccs-ch-wizard .hadoop-site-xml td, #ccs-ch-wizard .hadoop-site-xml th {
	padding: 2px 5px;
	max-width:400px;
	min-width:100px;
	overflow:hidden;
}
#ccs-ch-wizard .ccs-help {
	position: absolute;
	left: -17px;
	vertical-align: text-top;
}
#ccs-ch-wizard .ccs-tip-padding {
	padding-right:18px;
}
#ccs-ch-wizard li#user-type-switch input {
	vertical-align:text-bottom;
}
#ccs-ch-wizard li#user-type-switch dd {
	padding-left: 20px;
	color: #666;
}
#ccs-ch-wizard .ccs-hovered {
	color: #226 !important;
	cursor: pointer;
}
#ccs-ch-wizard li#new-user, #ccs-ch-wizard li#returning-user {
}
#ccs-ch-wizard .ccs-quiet {
	color: #666;
	font-weight: normal;
	font-size: 10px;
	
}
#ccs-ch-configurator-contact {
	overflow: hidden;
}