/* ccs client download */
#ccs-download-win {
	margin: 27px 0 0;
}
#ccs-download h1 {
	text-align: center;
}
#ccs-download .ccs-dl-box, #ccs-download .ccs-dl-box:hover {
	display:block;
	text-align: center;
	text-decoration: none;
	margin: 12px 0px;
}
#ccs-download .ccs-dl-box span {
	display: block;
	text-align: center;
}
#ccs-download img.ccs-thumb {
	border: 1px solid #666;
	margin: 0px 8px 4px;
}
#ccs-download pre {
	max-height: 230px;
}
#ccs-download ul.ccs-client-download-list {
	width: 100%;
	text-align: center;
}
#ccs-download ul.ccs-client-download-list li {
	margin: 0px 20px;
}