/* user manager popup */
div.ccs-user-manager {
	clear:both;
}
div.ccs-user-manager h1 {
	font-size: 14px;
}
div.ccs-user-manager h2 {
	font-size: 12px;
	clear:both;
}
div.ccs-user-manager dl.ccs-user-manager-user-list {
	border: 1px solid #ccc;
	clear:both;
	max-height: 200px;
	overflow:auto;
}
div.ccs-user-manager dl.ccs-user-manager-user-list dt a {
	color: #333;
}
div.ccs-user-manager dl.ccs-user-manager-user-list dt a:hover {
	text-decoration: none;
}
div.ccs-user-manager dl.ccs-user-manager-user-list dt.ccs-edit-user:hover {
	background: #e3f1fa !important;
}
div.ccs-user-manager dl.ccs-user-manager-user-list dt {
	padding: 4px;
	cursor: pointer;
}
div.ccs-user-manager dl.ccs-user-manager-user-list dd.ccs-edit-user-form {
	display: none;
}
div.ccs-user-manager dl.ccs-user-manager-user-list dd {
	padding: 4px;
}
div.ccs-user-manager dl.ccs-user-manager-user-list dt.odd, div.ccs-user-manager-user-list dl dd {
	background: #f3f3f3;
}
div.ccs-user-manager dl.ccs-user-manager-user-list dt.even {
	background: #d8d8d8;
}
div.ccs-user-manager dl.ccs-user-manager-user-list dd.even {
	border-bottom: 1px solid #ccc;
}
div.ccs-user-manager div.ccs-user-manager-new {
	display: none;
	padding-bottom: 10px;
	width: 400px;
	clear:both;
}
div.ccs-user-manager input.button {
	float: right;
	margin: 8px;
}
div.ccs-user-manager div.ccs-user-manager-new textarea {
	width: 367px;
	height: 60px;
}
div.ccs-user-manager div.ccs-user-manager-new div.css-submit-container {
	text-align: right;
	padding: 8px 34px 0px;
}
div.ccs-user-manager span.ccs-help_text {
	display: none;
}
div.ccs-user-manager img.ccs-help {
	position: relative;
	top: -1px;
	margin-left: 2px;
}
div.ccs-user-manager div.ccs-user-list {
	clear:both;
}