/* generics */
html {
	height: 100%;
	background-color: #ccc;
}
/* main desktop */
body {
	height: 100%;
	position: absolute;
	top: 0px; left: 0px; right: 0px; bottom: 0px;
	overflow: hidden;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Trebuchet MS", Helvetica, Arial, sans-serif;
	margin: 0px;
	padding: 0px;
	font-size: 12px;
}
body>.ccs-error-popup {
	display: none;
}
#bg {
	width: 100%;
	position: absolute;
	opacity: 0;
	filter: alpha(opacity=0);
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}
#bg .desktop-bg {
	position: absolute;
	width: 100%;
	opacity: inherit;
	filter: inherit;
	-ms-filter: inherit;
}
#bg .desktop-logo {
	cursor:pointer;
	opacity: inherit;
	filter: inherit;
	-ms-filter: inherit;
	width: 60px;
	height: 54px;
	position: fixed;
	bottom: 60px;
	right: 30px;
}


a, a:active, a:focus, button, button:active, button:focus {
	outline: none;
	outline-style: none;
	outline-width: 0;
	cursor: pointer;
}
button, input[type=submit], input[type=button] {
	box-sizing: content-box;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
}
/*for FireFox*/
input[type="submit"]::-moz-focus-inner, input[type="button"]::-moz-focus-inner, button::-moz-focus-inner {	 
	border : 0px;
	outline: none;
} 
/*for IE8 */
input[type="submit"]:focus, input[type="button"]:focus {
	outline : none;
}

#ccs-desktop {
	height: 0px;
	overflow: visible;
	top: 24px;
	position: relative;
	z-index: 0;
}
form, div, li, dt, dd, p {
	position: relative;
}
/* top toolbar */
#ccs-topnav {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	z-index: 10001;
	visibility:hidden;
}
#ccs-toolbar {
	display: none;
	background: url(../art/toolbar-back.png) repeat-x;
	height: 20px;
	border-bottom: 1px solid #666;
	margin: 0px;
	font-size: 14px;
	padding: 3px 10px 0px 24px;
	position: relative;
	color: #5a5a5a;
	z-index: 10000;
}
#ccs-toolbar span {
	font-size: 13px;
}
#ccs-toolbar a {
	color: #5a5a5a;
	font-weight: bold;
}
#ccs-toolbar #ccs-logout, #ccs-toolbar #ccs-logout a {
	color: #999;
	font-weight: normal;
	font-size: 9px;
}
#ccs-toolbar #ccs-logout {
	position: relative;
	top: -1px;
	margin-left: 6px;
}
#ccs-toolbar img.ccs-swoosh {
	position: absolute;
	top: 4px;
	left: 5px;
	cursor: pointer;
}
/* feedback */
a#ccs-feedback {
	position:fixed;
	bottom: 0px;
	left: 5px;
	cursor: pointer;
	z-index: 10003;
}
a#ccs-feedback img {
	display: block;
}
/* tips */
p.ccs-tip-example {
	margin: 0px;
	padding-bottom: 2px;
	font-style: italic;
}
ul.ccs-errors li {
	background:transparent url(/site_media/art/error.png) no-repeat scroll 0 0;
	color:#666666;
	font-weight:bold;
	padding:0 20px !important;
	margin-bottom: 3px;
}
/* cluster list */
div.ccs-submenu-list {
	width: 200px;
	background: #fff;
	border: 1px solid #666;
	padding: 10px;
}
div.ccs-submenu-list h1 {
	font-size:12px;
}
/* icon zoomers */
a.ccs-lb-thumb {
	position: relative;
	display: block;
	clear:both;
	padding: 0 8px;
	margin-bottom: 4px;
}
#ccs-loading {
	background: #111;
	opacity: 0.8;
	filter: alpha(opacity=80);
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	color: #FFF;
	position: fixed;
	z-index: 99999;
	width: 350px;
	bottom: 35px;
	left: 10px;
	padding: 10px;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}
/* mask and waiter */
div.mask {
	z-index:10002;
	background-color: #96C3DF;
	opacity: 0.5;
	filter: alpha(opacity=50);
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
}
.spinner {
	position: 'absolute';
	opacity: 0.9;
	filter: alpha(opacity=90);
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	zIndex: 999;
	background: #fff;
}
.spinner-msg {
	text-align: center;
	font-weight: bold;
}

.spinner-img {
	background: url(/static/art/spinner.gif) no-repeat;
	width: 16px;
	height: 16px;
	margin: 0 auto;
}

/* doc */
#ccs-dock {
	visibility: hidden;
	position: fixed;
	bottom: 0px;
	width: 80%;
	min-width: 400px;
	right: 10%;
	left: 10%;
	z-index: 10;
}
#ccs-dock #ccs-dock-status {
	height: 45px;
	border-style: solid;
	border-right: 1px solid #c5c5c5;
	min-width: 200px;
	position: absolute;
	text-align: left;
	line-height: 45px;
	left: 0px;
}
#ccs-dock #ccs-dock-content {
	text-align: right;
	height: 45px;
	border-style: solid;
	border-width: 1px;
	border-color: #f2f2f2 #d7d7d7 #c5c5c5;
	border-radius: 3px 3px 0px 0px;
	-moz-border-radius: 3px 3px 0px 0px;
	-webkit-border-radius: 3px 3px 0px 0px;
	
	background: #dbdbdb;
	width: 100%;
}
#ccs-dock img.ccs-icon {
	height: 35px;
	width: 35px;
	opacity: 0.8;
	padding: 4px;
	cursor: pointer;
}
#ccs-dock img.ccs-icon:hover {
	opacity: 1;
}
#ccs-dock img.ccs-icon-active {
	opacity: 1;
}
#ccs-dock-status-content {
	padding: 0px 10px;
}
#ccs-dock-status-content a {
	border: 1px solid;
	border-color: #c2c2c2 #939393 #5e5e5e #adadad;
	line-height: 12px;
	padding: 2px 6px;
	margin: 0px 2px;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	background: #eaeaea;
	color: #333;
}
#ccs-dock-status-content a.ccs-dock-status-failed {
	background: #fa1500;
	color: #fff;
}
#ccs-dock-status-content a.ccs-dock-status-completed {
	background: #06d307;
}
#ccs-dock-status-content a:hover {
	text-decoration: none;
	background: #fff;
	color: #000;
}
div.dock-tip div.DefaultPointyTip .pointyWrapper div.top_ur {
	padding-right: 8px;
}
/* hotkeys !*/
#hotkeys {
	position: absolute;
	display: block;
	right: 6px;
	top: 2px;
	height: 18px;
	text-align: center;
	line-height:18px;
	font-weight: normal;
	font-size: 9px;
	padding: 0 4px;
}
#hotkeys img {
	vertical-align: middle;
	position: relative;
	top: -1px;
}
#hotkeys:hover {
	text-decoration: none;
	background: #fff;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}
#ccs-shortcut_list {
	z-index: 10003;
	background: #fff;
	border: 2px solid #555;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
}

/* session restore message */
.loadingmsg {
	width: 400px;
	text-align: center;
	background: #111;
	opacity: 0.85;
	filter: alpha(opacity=85);
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=85)";
	color: #FFF;
	padding: 10px 10px 16px 10px;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}
.loadingmsg p {
	margin-bottom: 12px;
}
.loadingmsg a {
	background: #333 url(/static/art/led-icons/arrow_undo.png) no-repeat 6px 3px;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	padding: 4px 8px 4px 26px;
}
.loadingmsg a:hover {
	background: #3e4f6d url(/static/art/led-icons/arrow_undo.png) no-repeat 6px 50%;
}
/* forms */
/* validation */
.validation-failed {
	background-color: #fcc;
}
.validation-advice {
	color: #a00;
	background: url(/static/art/error.png) left center no-repeat;
	padding-left: 18px;
	font-size: 12px;
	font-weight: normal;
}
input[type=submit] {
	cursor: pointer;
}

/* growl */

.growl {
	cursor: pointer;
	position: absolute;
	right: 0px;
	width: 225px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	color: #FFF;
	background: #333;
	opacity: .75;
	filter: alpha(opacity=75);
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
	border: 1px solid #FFF;
	padding: 8px;
	margin: 8px;
	font-size: 12px;
	text-shadow: #000 2px 2px 2px;
	-moz-box-shadow: 4px 4px 5px #888;
	z-index: 100000;
}

.growl:hover {
	opacity: 1;
	filter: alpha(opacity=100);
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

#browserWarn {
	display: none;
}
.warned #ccs-topnav {
	top: 28px;
}
.warned #browserWarn {
	display: block;
	text-align: center;
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
	padding: 6px 0;
	background: #fffaa9;
	width: 100%;
	font-weight: bold;
	border-bottom: 1px solid #999;
	z-index: 100;
}
.warned #browserWarn a {
	color: #9d1106;
}
#closeWarning {
	display: block;
	position: absolute;
	right: 8px;
	top: 4px;
	width: 16px;
	height: 16px;
	background: url(/static/art/icons/grey_cross.png);
}