div.solid-win a.css-close {
	float: right;
}
/* login popup */
#css-flogin {
	visibility: hidden;
}
.solid-win #css-flogin {
	visibility: visible;
}
#css-login {
	text-align: center;
}
#css-login .css-login_logo {
	position :absolute;
	left: -37px;
	position:absolute;
	top: -49px;
}
#css-login div.body-left {
	position: relative;
	z-index:1;
}
#css-login input.css-username {
	margin-top: 20px;
}
#css-login input.css-continue  {
	position: absolute;
	cursor: pointer;
	z-index: 1;
	bottom: -48px;
	left: 81px;
	width: 37px;
	height: 37px;
	border: none;
	background: url(/static/art/blue-continue.png) top left;
	text-indent: -200px;
}
.IEroot #css-login input.css-continue {
	font-size: 0;
	color: #fff;
	display:block;
	line-height:0;
	bottom: -44px;
}
.IEroot #css-login div.body-left {
	float: left;
}
#css-login.css-loading input.css-continue {
	background: url(/static/art/blue-continue.png) left -74px;
}
#css-login #css-pwhelp {
	cursor: pointer;
	position: absolute;
	left: 0px;
	bottom: -34px;
}
#css-login input {
	clear: both;
	display: block;
	margin: 6px auto;
	width: 165px;
}
#css-login img.css-spinner {
	display: none;
}
#css-login.css-loading img.css-spinner {
	display: block;
	bottom:-31px;
	left:92px;
	position:absolute;
	z-index:2;
}
#css-login img.jframe-errorImg {
	display:none;
	right: 14px;
	margin-top: 3px;
	position: absolute;
}
#css-login.jframe-error img.jframe-errorImg {
	display: block;
}
#css-restore-option {
	position: fixed;
	top: 5px;
	right: 5px;
	background: #79a;
	opacity: 0.50;
	filter: alpha(opacity=50);
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	color: #FFF;
	padding: 10px;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	cursor: pointer;
}
#css-restore-option:hover {
	background: #111;
	opacity: 1;
	filter: alpha(opacity=100);
}
#css-login #css-restore-option input {
	display: inline;
	clear: none;
	width: auto;
	margin: 0;
}
.art-window div.css-window-toolbar {
	position: absolute;
	width:100%;
	height: 0px;
	overflow: visible;
	z-index: 100;
}
/* wrapper for all css */
.hue-shared {
	position: relative;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Trebuchet MS", Helvetica, Arial, sans-serif;
	font-size: 12px;
}
/* all links default styles */
.hue-shared a:visited,
.hue-shared a:link {
	color: #3e528c;
	text-decoration: none;
	cursor: pointer;
	outline: none;
}
.hue-shared .jframe_ignore a {
	text-decoration: none;
}
.hue-shared a:visited.disabled,
.hue-shared a:link.disabled {
	text-decoration: none;
	color: #000;
}
.hue-shared ul.context-menu a.disabled {
	text-decoration: none;
	color: #999;
	cursor: pointer;
}
.hue-shared a:visited:hover,
.hue-shared a:link:hover {
	text-decoration: underline;
}
/* all imgs default styles */
.hue-shared img {
	border: 0px;
}
/* all paragraph default styles */
.hue-shared p {
	margin-bottom: 12px;
}
/* all input and form element default styles */
.hue-shared input, .hue-shared textarea {
	padding: 2px;
}
.hue-shared label {
	cursor: pointer;
}
.hue-shared pre {
	font-family: monaco, courier;
}
/* errors */
.ccs-error {
	color: #900;
}
/* all em default styles */
.hue-shared em, .hue-shared i {
	font-style: italic;
}
/* all code default styles */
.hue-shared .ccs-code, .hue-shared.ccs-code, .ccs-code {
	font-family: "Andale Mono", "Monaco", "Courier New" !important;
}
/* text is not selectable; good for double click actions like links to prevent the double click from selecting
		note that the user cannot select this text even if that's their intention; use sparingly */
.hue-shared .ccs-no_select, .hue-shared .ccs-no_select * {
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
}
/* clear both sides of floats */
.hue-shared .ccs-clear {
	clear:both;
}
/* center text */
.hue-shared .ccs-center {
	text-align: center;
}
/* float left */
.hue-shared .ccs-left {
	float: left;
}
/* float right */
.hue-shared .ccs-right {
	float: right;
}
/* not displayed */
.hue-shared .ccs-hidden {
	display: none;
}
/* cursor pointer to connote clickability */
.hue-shared .ccs-pointer {
	cursor:pointer;
}
/* inline block display; makes elements block level, but follows page flow */
.hue-shared .ccs-inline, .hue-shared ul.ccs-inline_list li {
	display:-moz-inline-box;		/* FF2 */
	display:inline-block;		   /* webkit and FF3 */
	#zoom: 1; /* set hasLayout:true to mimic inline-block */
	#display:inline; 
	border:0;
	padding:0;
	vertical-align:middle;
	#vertical-align: auto;  /* makes TextBox,Button line up w/native counterparts on IE6 */
	position: relative;
}
/* down divot image */
.hue-shared .ccs-down_divot {
	width: 11px;
	height: 11px;
	display: block;
	background: url(../art/divots.png) -11px -11px no-repeat;
}
.hue-shared table.ccs-bordered-table {
	width: 98%;
	margin: 4px 1%;
	border: 1px solid #888;
}

.hue-shared table a.ccs-table_config_link {
	display: inline-block;
	width: 16px;
	height: 16px;
	padding: 0px 4px;
	background: no-repeat 50% 50% url(../art/icons/small_cog.png);
	position: relative;
}
.hue-shared .ccs-table_config {
	position: absolute;
	background: #fff;
	border: 1px solid #777;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	min-width: 200px;
	left: 25px;
	top: 5px;
	z-index: 10;
}
.hue-shared .ccs-resize_handle {
	position: absolute;
	bottom: 2px;
	right: 2px;
	background: url(../art/resize-handle.png);
	text-indent: -200px;
	overflow: hidden;
	width: 7px;
	height: 7px;
	cursor: se-resize;
}
.hue-shared .ccs-table_config label {
	display: block;
}
.hue-shared .ccs-table_config label:hover {
	color: #36f;
}
.hue-shared .ccs-table_config ul {
	padding: 2px;
	height: 125px;
	min-width: 200px;
	overflow: auto;
	border-bottom:1px solid #777;
}
.hue-shared .ccs-table_config li, .hue-shared .ccs-sort_handle {
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	padding: 2px 2px 2px 14px;
	border: 1px solid #ccc;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	margin-bottom: 2px;
	background: #fff url(../art/sortable-handle.png) 5px 50% no-repeat;
}
.hue-shared .ccs-table_config li input {
	margin-right: 6px;
}
.hue-shared .ccs-table_config .art {
	margin: 4px;
}