
/* -- Clear Fix -- */
.clearfix:after {content: "."; display: block; height: 0; clear: both; visibility: hidden;}

/* wrapper for all css */
.ccs-shared {
	position: relative;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Trebuchet MS", Helvetica, Arial, sans-serif;
	font-size: 12px;
}
/* all links default styles */
.ccs-shared a {
	color: #3e528c;
	text-decoration: none;
	cursor: pointer;
	outline: none;
}
.ccs-shared .jframe_ignore a {
	text-decoration: none;
}
.ccs-shared a.disabled {
	text-decoration: none;
	color: #000;
}
.ccs-shared ul.context-menu a.disabled {
	text-decoration: none;
	color: #999;
	cursor: pointer;
}
.ccs-shared a:hover {
	text-decoration: underline;
}
/* all imgs default styles */
.ccs-shared img {
	border: 0px;
}
/* all paragraph default styles */
.ccs-shared p {
	margin-bottom: 12px;
}
/* all input and form element default styles */
.ccs-shared input, .ccs-shared textarea {
	padding: 2px;
}
.ccs-shared label {
	cursor: pointer;
}
.ccs-shared pre {
	font-family: monaco, courier;
}
/* errors */
.ccs-error {
	color: #900;
}

/* all em default styles */
.ccs-shared em, .ccs-shared i {
	font-style: italic;
}
/* all code default styles */
.ccs-shared .ccs-code, .ccs-shared.ccs-code, .ccs-code {
	font-family: "Andale Mono", "Monaco", "Courier New" !important;
}
/* text is not selectable; good for double click actions like links to prevent the double click from selecting
		note that the user cannot select this text even if that's their intention; use sparingly */
.ccs-no_select, .ccs-no_select * {
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
}
/* OverText - input lables using OverText.js from MooTools More */
.ccs-shared label.overTxtLabel {
	font-size: 11px;
	color: #999;
	margin-top: 3px;
}
.ccs-shared label.OverText-ArtInput {
	margin-top: 0px;
}
/* clear both sides of floats */
.ccs-shared .ccs-clear {
	clear:both;
}
/* center text */
.ccs-shared .ccs-center {
	text-align: center;
}
/* float left */
.ccs-shared .ccs-left {
	float: left;
}
/* float right */
.ccs-shared .ccs-right {
	float: right;
}
/* not displayed */
.ccs-shared .ccs-hidden {
	display: none;
}
/* cursor pointer to connote clickability */
.ccs-shared .ccs-pointer {
	cursor:pointer;
}
/* inline block display; makes elements block level, but follows page flow */
.ccs-shared .ccs-inline, .ccs-shared ul.ccs-inline_list li {
	display:-moz-inline-box;                /* FF2 */
	display:inline-block;                   /* webkit and FF3 */
	#zoom: 1; /* set hasLayout:true to mimic inline-block */
	#display:inline; 
	border:0;
	padding:0;
	vertical-align:middle;
	#vertical-align: auto;  /* makes TextBox,Button line up w/native counterparts on IE6 */
	position: relative;
}
/* down divot image */
.ccs-shared .ccs-down_divot {
	width: 11px;
	height: 11px;
	display: block;
	background: url(../art/divots.png) -11px -11px no-repeat;
}
/* tabbed layout */
/* .ccs-tabs, a ul; container for the tabs 

<ul class="tabs">
<li><span>Tab 1</span></li>
<li><span>Tab 2</span></li>
<li><span>Tab 3</span></li>
</ul>
<ul class="tab_sections">
	<li> section for tab 1 </li>
	<li> section for tab 2 </li>
	<li> section for tab 3 </li>
</ul>

*/
.ccs-shared ul.tabs {
	margin: none;
	padding: none;
}
.ccs-shared .right_col pre {
	overflow: visible;
}
.ccs-shared .right_col ul.tab_sections {
	overflow: visible;
}

.ccs-shared ul.tab_sections {
	overflow: visible;
}
/* the tab elements, li elements */
.ccs-shared .tabs li {
	cursor: pointer;
	height: 19px;
	line-height: 19px;
	background: url(/static/art/tabs.png);
	margin-right: 8px !important;
	color: #444;
}
/* each tab's text/html is wrapped in a span */
.tabs li span {
	height: 18px;
	display: block;
	background: url(/static/art/tabs.png) right top;
	position: relative;
	left: 6px;
	padding: 1px 6px 0px 0px;
}
.ccs-shared .tabs > li {
	list-style: none;
	float: left;
}
.ccs-shared .tabs li.tabSelected {
	color: #000;
	background: url(/static/art/tabs.png) left 38px;
}
.ccs-shared .tabs li.tabSelected span {
	background: url(/static/art/tabs.png) right 38px;
}
.ccs-shared .tabs li:hover {
	color: #000;
	background: url(/static/art/tabs.png) left 19px;
}
.ccs-shared .tabs li:hover span {
	background: url(/static/art/tabs.png) right 19px;
}

/* stripy table */
/*
see: HtmlTable.js, HtmlTable.Zebra.js, HtmlTable.Select.js, HtmlTable.Sort.js in MooTools More
<table data-filters="HtmlTable" class="selectable sortable" cellpadding="0" cellspacing="0">
	<thead>
		<tr>
			<th>Header for Column 1</th>
			<th>Header for Column 2</th>
			<th>Header for Column 3</th>
		</tr>
	</thead>
	<tbody>
		<tr><td> col 1 </td><td> col 2 </td><td> col 3 </td></tr>
		<tr><td> col 1 </td><td> col 2 </td><td> col 3 </td></tr>
		<tr><td> col 1 </td><td> col 2 </td><td> col 3 </td></tr>
		<tr><td> col 1 </td><td> col 2 </td><td> col 3 </td></tr>
	</tbody>
</table>

give it class "selectable" to allow the user to select rows
give it class "sortable" to allow the user to sort the table
*/
table[data-filters*=HtmlTable] {
	width: 100%;
}
table[data-filters*=HtmlTable] thead {
	background: url(/static/art/th_back.png);
}
table[data-filters*=HtmlTable] thead th {
	text-align: left;
	white-space: nowrap;
	padding: 0px 6px;
	border: 1px solid #b2b2b2;
	border-width: 0px 1px 1px 0px;
	height: 16px !important;
	line-height: 16px !important;
	font-size: 12px;
	font-weight: normal;
	overflow: hidden;
}
table[data-filters*=HtmlTable] th:last-child {
	border-right: none;
}

table[data-filters*=HtmlTable] td {
	white-space: nowrap;
	padding: 0px 8px;
	height: 20px;
	line-height: 20px;
	background: #fff;
	border: none;
}
table[data-filters*=HtmlTable]:not(.treeView) tr:nth-child(odd) td {
	background-color: #f3f3f3;
}
table[data-filters*=HtmlTable] tr.table-tr-odd td {
	background-color: #f3f3f3;
}
table.ccs-bordered-table {
	width: 98%;
	margin: 4px 1%;
	border: 1px solid #888;
}

table[data-filters*=HtmlTable] tr.selected td, table[data-filters*=HtmlTable] tr.table-tr-selected td, table[data-filters*=HtmlTable] tr.selected td a, table[data-filters*=HtmlTable] tr.table-tr-selected td a {
	background-color: #3875d7;
	color: #fff;
}
table[data-filters*=HtmlTable].selectable tr:hover > td, table[data-filters*=HtmlTable].selectable tr.table-tr-hovered td,
	table[data-filters*=HtmlTable].multiselect tr:hover > td, table[data-filters*=HtmlTable].multiselect tr.table-tr-hovered td,
	table[data-filters*=HtmlTable].selectable tr:hover > td a, table[data-filters*=HtmlTable].selectable tr.table-tr-hovered td a,
	table[data-filters*=HtmlTable].multiselect tr:hover > td a, table[data-filters*=HtmlTable].multiselect tr.table-tr-hovered td a {
	background-color: #d4e7f8;
	color: #000;
	cursor: pointer;
}
table.table-sortable th {
	cursor: pointer;
}
table.table-sortable th div {
	position: relative;
	padding-right: 10px;
}
span.table-th-sort-span {
	width: 7px;
	height: 16px;
	display: block;
	cursor: pointer;
	position: absolute;
	right: -2px;
	top: 0px;
}
.table-th-sort span.table-th-sort-span {
	background: url(/static/art/icons/bullet_arrow_down.png) -4px top no-repeat;
}
.table-th-sort-rev span.table-th-sort-span {
	background: url(/static/art/icons/bullet_arrow_up.png) -4px top no-repeat;
}
table[data-filters*=HtmlTable].treeView tr a.expand {
	display: block;
	float: left;
	width: 10px;
	height: 10px;
	background: url(/static/art/divots.png);
	position: relative;
	top: 4px;
	left: -4px;
}
table[data-filters*=HtmlTable].treeView tr.table-expanded a.expand {
	background: url(/static/art/divots.png) 0px -14px;
}


/* stickywin solid; this is the login window styles */
div.solid-win div.body-left { 
	background: url(../art/sticky-win-solid-back.png); 
	width: 16px !important; 
	overflow: visible; 
	position: relative; 
	z-index: 1; 
}
div.solid-win div.body {
	position: relative;
	left: 16px;
	padding: 10px 16px 1px 0px;
	background: url(../art/sticky-win-solid-back.png) top right;
}
div.solid-win div.bottom { 
	z-index: 0;
	background: url(../art/sticky-win-solid-back.png) bottom left;
	width: 16px !important;
	overflow: visible;
	position: relative;
	clear: both;
}
div.solid-win div.bottom_lr { 
	position: relative;
	left: 16px;
	background: url(../art/sticky-win-solid-back.png) bottom right;
	height: 20px;
	padding-right: 16px;
}

/* JFrame styles */
/* these are applied for you by default */
div.jframe_wrapper {
	position: relative;
	height: 100%;
}
div.jframe_contents {
	min-height: 100%;
}
div.jframe_default h1, h2, h3, h4, h5 {
	padding: 0;
	margin: 0;
	margin-bottom: .3em;
}
/* put this on your root element (or any element you want to have a 10px padding)
		jframe content without this will be flush with the borders of the window */
.jframe_padded {
	padding: 10px;
}
/*	apply jframe_default class if you want to give your layout standard HTML-like layout
		good for documents for example. */
div.jframe_default ul,
div.jframe_default ol {
  padding-left: 1.5em;
  margin: 0;
  margin-bottom: 1em;
}

div.jframe_default ul li{
  list-style-type: disc;
  margin-bottom: 0.5em;
}

div.jframe_default a{
  font-weight: bold;
}
div.jframe_default code {
  font-family: fixed;
}

div.jframe_default table {
  border-collapse: separate;
}
div.jframe_default h1,
div.jframe_default h2,
div.jframe_default h3,
div.jframe_default h4,
div.jframe_default h5 { font-weight: bold; }

div.jframe_default h1 { font-size: 150%; margin-bottom: 0.3em; padding-top: 8px; margin-top: 0px;}
div.jframe_default h2 { font-size: 130%; margin-bottom: 0.3em; padding-top: 8px; margin-top: 0px;}
div.jframe_default h3 { font-size: 120%; margin-bottom: 0.3em; padding-top: 8px; margin-top: 0px;}
div.jframe_default h4 { font-size: 110%; margin-bottom: 0.3em; padding-top: 8px; margin-top: 0px;}
div.jframe_default h5 { font-size: 105%; margin-bottom: 0.3em; padding-top: 8px; margin-top: 0px;}

/* context menu */
/*
	Create a UL element with the class context-menu (a ul with li items for each menu item). Put it inside the container you want to give a right click menu (like a div; for tables, put it inside a td - if you want the tr to have the right click behaviore, still put it in a td)
	Give the parent that has the right click control define the following in its data-context-menu-actions property:
	
		[ //array of actions; this allows support for more than one context menu in a single parent
			{
				'events':['contextmenu','click:relay(.myapp-options)'], //when the user right clicks, or clicks a .myapp-options element
				'menu':'ul.context-menu' //it shows this menu
			}
		]
	
	Note that you can have more than one right click menu per container. This allows a table row to be right clicked and show a different menu if the user right clicks, say, an image vs a link or different td elements. See CCS.ContextMenu.js.
*/
.ccs-shared ul.context-menu {
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	background: #fff;
	border: solid #777;
	border-width: 1px;
	position: absolute;
	z-index: 1;
	display: none;
	overflow: visible;
}
.ccs-shared ul.context-menu * {
	white-space: nowrap;
}

.ccs-shared ul.context-menu li {
	border-bottom: 1px solid #ccc;
	padding: 3px;
}
.ccs-shared table[data-filters*=HtmlTable] tr.table-tr-selected td ul.context-menu li a {
	color: #000;
	background-color: #fff;
	text-decoration: none;
}
.ccs-shared .context-menu li:hover, .ccs-shared table[data-filters*=HtmlTable] tr.table-tr-selected td ul.context-menu li:hover a, .ccs-shared ul.context-menu li:hover a {
	text-decoration: none;
	background-color: #333;
	color: #fff;
}
.ccs-shared ul.context-menu li:last-child {
	border: none;
}
/* button bar */
input[data-filters*=ArtButton] {
	padding: 0px 0px 0px 0px;
	/* webkit madness: 
		put this padding statement in place and buttons are still padding 0/8/0/8px
		add the border: 0px statement below
		and they all go to 0/0/0/0px
	*/
	border: 0px;
	vertical-align: bottom;
}
.ccs-shared [data-filters*=ArtButtonBar] a {
	float: left;
	height: 19px;
}

.ccs-shared [data-filters*=ArtButtonBar] li {
	margin-right: 0 !important;
}
.ccs-shared a[data-filters*=ArtButton] {
	vertical-align: top;
}
/* side by side select */

/*
Takes a multi-select box and makes it so you can click to move elements from a selected list to a non-selected list.
*/

.sideBySideSelect {
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	min-width:340px;
}
.sideBySideSelect div.deselected, .sideBySideSelect div.selected {
	border: 1px solid #333;
	float: left;
	width: 45%;
	height: 150px;
	background: #fff;
	overflow: auto;
}
.sideBySideSelect .spacer {
	padding-top: 50px;
	width: 30px;
	float: left;
}
.sideBySideSelect .spacer a {
	display: block;
	width: 16px;
	height: 16px;
	text-indent: -900px;
	margin: 5px auto;
}
.sideBySideSelect .spacer .moveRight {
	background: url(/static/art/led-icons/arrow_right.png) no-repeat;
}
.sideBySideSelect .spacer .moveLeft {
	background: url(/static/art/led-icons/arrow_left.png) no-repeat;
}

/* help text links */
[data-filters*=HelpTip], [data-filters*=InfoTip] {
	display:-moz-inline-box;		/* FF2 */
	display:inline-block;		   /* webkit and FF3 */
	#zoom: 1; /* set hasLayout:true to mimic inline-block */
	#display:inline; 
	border:0;
	padding:0;
	vertical-align:middle;
	#vertical-align: auto;  /* makes TextBox,Button line up w/native counterparts on IE6 */
	position: relative;
	width: 14px;
	height: 14px;
	background: url(/static/art/help.png);
	text-indent: -200px;
	overflow: hidden;
}

[data-filters*=InfoTip] {
	background: url(/static/art/info.png);
}

[data-filters*=ArtInput] {
	display: none;
}

[data-filters*=SizeTo] {
	overflow: auto;
}

.vertical .art-splitview-splitter {
	box-shadow: 0px -1px 3px #aaa;
	-webkit-box-shadow: 0px -1px 3px #aaa;
	-moz-box-shadow: 0px -1px 3px #aaa;
}
/* -----------------------------------------------------------------------


 Blueprint CSS Framework 0.9
 http://blueprintcss.org

   * Copyright (c) 2007-Present. See LICENSE for more info.
   * See README for instructions on how to use Blueprint.
   * For credits and origins, see AUTHORS.
   * This is a compressed file. See the sources in the 'src' directory.

Copyright (c) 2007 - 2010 blueprintcss.org

Permission is hereby granted, free of charge, to any person
obtaining a copy of this software and associated documentation
files (the "Software"), to deal in the Software without
restriction, including without limitation the rights to use,
copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the
Software is furnished to do so, subject to the following
conditions:

The above copyright notice and this permission notice shall be
included in all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND,
EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES
OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT
HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY,
WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING
FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR
OTHER DEALINGS IN THE SOFTWARE.
----------------------------------------------------------------------- */

/* typography.css */
.print h1, .print h2, .print h3, .print h4, .print h5, .print h6 {font-weight:bold;color:#111;}
.print h1 {font-size:3em;line-height:1;margin-bottom:0.5em;}
.print h2 {font-size:2em;margin-bottom:0.75em;}
.print h3 {font-size:1.5em;line-height:1;margin-bottom:1em;}
.print h4 {font-size:1.2em;line-height:1.25;margin-bottom:1.25em;}
.print h5 {font-size:1em;font-weight:bold;margin-bottom:1.5em;}
.print h6 {font-size:1em;font-weight:bold;}
.print h1 img, .print h2 img, .print h3 img, .print h4 img, .print h5 img, .print h6 img {margin:0;}
.print pre { background: #f3f3f3; border: 1px solid #666; padding: 4px;}
.print p {margin:0 0 1.5em;}
.print p img.left {float:left;margin:1.5em 1.5em 1.5em 0;padding:0;}
.print p img.right {float:right;margin:1.5em 0 1.5em 1.5em;}
.print a:focus, .print a:hover {color:#000;}
.print a {color:#009;text-decoration:underline;}
.print blockquote {margin:1.5em;color:#666;font-style:italic;}
.print strong {font-weight:bold;}
.print em, .print dfn {font-style:italic;}
.print dfn {font-weight:bold;}
.print sup, .print sub {line-height:0;}
.print abbr, .print acronym {border-bottom:1px dotted #666;}
.print address {margin:0 0 1.5em;font-style:italic;}
.print del {color:#666;}
.print pre {margin:1.5em 0;white-space:pre;}
.print pre, .print code, .print tt {font:1em 'andale mono', 'lucida console', monospace;line-height:1.5;}
.print li ul, .print li ol {margin:0;}
.print ul, .print ol {margin:0 1.5em 1.5em 0;padding-left:3.333em;}
.print ul, .print ul li {list-style-type:disc;}
.print ol, .print ol li {list-style-type:decimal;}
.print dl {margin:0 0 1.5em 0;}
.print dl dt {font-weight:bold;}
.print dd {margin-left:1.5em;}
.print table {margin-bottom:1.4em;width:100%; border: 1px solid #666;}
.print table th {
	background: #dadada;
        text-align: left;
        white-space: nowrap;
        padding: 0px 6px;
        border-bottom: solid #000;
        border-width: 0px 1px 1px 0px;
        height: 16px !important;
        line-height: 16px !important;
        font-size: 12px;
        font-weight: border;
}
.print table th:last-child {
        border-right: none;
}

.print table td {
        padding: 0px 8px;
        height: 20px;
        line-height: 20px;
        background: #fff;
        border: none;
}
.print table tr:nth-child(odd) td {
        background: #f3f3f3;
}
.print th {font-weight:bold;}
.print thead th {background:#c3d9ff;}
.print th, .print td, .print caption {padding:4px 10px 4px 5px;}
.print tr.even td {background:#e5ecf9;}
.print tfoot {font-style:italic;}
.print caption {background:#eee;}
.print .small {font-size:.8em;margin-bottom:1.875em;line-height:1.875em;}
.print .large {font-size:1.2em;line-height:2.5em;margin-bottom:1.25em;}
.print .hide {display:none;}
.print .quiet {color:#666;}
.print .loud {color:#000;}
.print .highlight {background:#ff0;}
.print .added {background:#060;color:#fff;}
.print .removed {background:#900;color:#fff;}
.print .first {margin-left:0;padding-left:0;}
.print .last {margin-right:0;padding-right:0;}
.print .top {margin-top:0;padding-top:0;}
.print .bottom {margin-bottom:0;padding-bottom:0;}

/* forms.css */
.print .error, .print .notice, .print .success {padding:.8em;margin-bottom:1em;border:2px solid #ddd;}
.print .error {background:#FBE3E4;color:#8a1f11;border-color:#FBC2C4;}
.print .notice {background:#FFF6BF;color:#514721;border-color:#FFD324;}
.print .success {background:#E6EFC2;color:#264409;border-color:#C6D880;}
.print .error a {color:#8a1f11;}
.print .notice a {color:#514721;}
.print .success a {color:#264409;}
