
/* all em default styles */
.hue-shared em, .hue-shared i {
	font-style: italic;
}
/* all code default styles */
.hue-shared .hue-code, .hue-shared.hue-code, .hue-code {
	font-family: "Andale Mono", "Monaco", "Courier New" !important;
}
table a.hue-table_config_link {
	display: inline-block;
	width: 16px;
	height: 16px;
	padding: 0px 4px;
	background: no-repeat 50% 50% url(../art/icons/small_cog.png);
	position: relative;
}
.hue-table_config {
	position: absolute;
	background: #fff;
	border: 1px solid #777;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	min-width: 200px;
	left: 25px;
	top: 5px;
	z-index: 10;
}
.hue-shared .jframe-resize_handle {
	position: absolute;
	bottom: 2px;
	right: 2px;
	background: url(../art/resize-handle.png);
	text-indent: -200px;
	overflow: hidden;
	width: 7px;
	height: 7px;
	cursor: se-resize;
}
.hue-table_config label {
	display: block;
}
.hue-table_config label:hover {
	color: #36f;
}
.hue-table_config ul {
	padding: 2px;
	height: 125px;
	min-width: 200px;
	overflow: auto;
	border-bottom:1px solid #777;
}
.hue-table_config li, .hue-sort_handle {
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	padding: 2px 2px 2px 14px;
	border: 1px solid #ccc;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	margin-bottom: 2px;
	background: #fff url(../art/sortable-handle.png) 5px 50% no-repeat;
}
.hue-table_config li input {
	margin-right: 6px;
}
.hue-table_config .art {
	margin: 4px;
}
/* stickywin solid; this is the login window styles */
div.solid-win div.body-left { 
	background: url(../art/sticky-win-solid-back.png); 
	width: 16px !important; 
	overflow: visible; 
	position: relative; 
	z-index: 1; 
}
div.solid-win div.body {
	position: relative;
	left: 16px;
	padding: 10px 16px 1px 0px;
	background: url(../art/sticky-win-solid-back.png) top right;
}
div.solid-win div.bottom { 
	z-index: 0;
	background: url(../art/sticky-win-solid-back.png) bottom left;
	width: 16px !important;
	overflow: visible;
	position: relative;
	clear: both;
}
div.solid-win div.bottom_lr { 
	position: relative;
	left: 16px;
	background: url(../art/sticky-win-solid-back.png) bottom right;
	height: 20px;
	padding-right: 16px;
}
.huechart .tip-wrap {
	width: 139px;
	z-index: 13000;
}

.huechart .tip-title {
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	font-weight: bold;
	font-size: 11px;
	margin: 0;
	padding: 4px 8px 0px;
	background: black;
	opacity: .8;
	filter: alpha(opacity=80);
}

.huechart .tip-series-name {
	color: #9FD4FF;
	font-weight: bold;
}

.huechart .tip-text {
	-moz-border-radius-bottomleft: 5px;
	-moz-border-radius-bottomright: 5px;
	font-size: 11px;
	padding: 0px 8px 8px;
	background: black;
	color: white;
	opacity: .8;
	filter: alpha(opacity=80);
}

.huechart .tip-series-color {
	width: 3px;
	height: 3px;
	border: 1px solid white;
	padding: 2px;
	top: 4px;
	display: inline-block;
	margin-right: 5px;
	float: left;
}

.huechart .tip-series-value {
	text-align: center;
}
