div.solid-win a.ccs-close {
	float: right;
}
/* login popup */
#ccs-flogin {
	visibility: hidden;
}
.solid-win #ccs-flogin {
	visibility: visible;
}
#ccs-login {
	text-align: center;
}
#ccs-login .hue-login_logo {
	position :absolute;
	left: -37px;
	position:absolute;
	top: -49px;
}
#ccs-login div.body-left {
	position: relative;
	z-index:1;
}
#ccs-login input.ccs-username {
	margin-top: 20px;
}
#ccs-login input.ccs-continue  {
	position: absolute;
	cursor: pointer;
	z-index: 1;
	bottom: -48px;
	left: 81px;
	width: 33px;
	height: 33px;
	border: none;
	background: url(/static/art/blue-continue.png) top left;
	text-indent: -200px;
}
.IEroot #ccs-login input.ccs-continue {
	font-size: 0;
	color: #fff;
	display:block;
	line-height:0;
	bottom: -44px;
}
.IEroot #ccs-login div.body-left {
	float: left;
}
#ccs-login.ccs-loading input.ccs-continue {
	background: url(/static/art/blue-continue.png) left -74px;
}
#ccs-login #ccs-pwhelp {
	cursor: pointer;
	position: absolute;
	left: 0px;
	bottom: -34px;
}
#ccs-login input {
	clear: both;
	display: block;
	margin: 6px auto;
	width: 165px;
}
#ccs-login img.ccs-spinner {
	display: none;
}
#ccs-login.ccs-loading img.ccs-spinner {
	display: block;
	bottom:-31px;
	left:92px;
	position:absolute;
	z-index:2;
}
#ccs-login img.ccs-errorImg {
	display:none;
	right: 14px;
	margin-top: 3px;
	position: absolute;
}
#ccs-login.ccs-error img.ccs-errorImg {
	display: block;
}
#ccs-restore-option {
	position: fixed;
	top: 5px;
	right: 5px;
	background: #79a;
	opacity: 0.50;
	filter: alpha(opacity=50);
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	color: #FFF;
	padding: 10px;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	cursor: pointer;
}
#ccs-restore-option:hover {
	background: #111;
	opacity: 1;
	filter: alpha(opacity=100);
}
#ccs-login #ccs-restore-option input {
	display: inline;
	clear: none;
	width: auto;
	margin: 0;
}
.art-window div.ccs-window-toolbar, .art-window div.toolbar {
	position: absolute;
	width:100%;
	height: 0px;
	overflow: visible;
}
.art-window-resize-handle {
	cursor: se-resize;
}