/*
 Licensed to Cloudera, Inc. under one
 or more contributor license agreements.  See the NOTICE file
 distributed with this work for additional information
 regarding copyright ownership.  Cloudera, Inc. licenses this file
 to you under the Apache License, Version 2.0 (the
 "License"); you may not use this file except in compliance
 with the License.  You may obtain a copy of the License at

     http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.
*/

.hue-tree {
  width: 100%;
  overflow-y: scroll;
  min-height: 100px;
}

.hue-tree ul {
  list-style-type: none;
  padding: 0;
}

.tree {
  margin-left: 0;
}

.node-row {
  margin: 4px;
  padding: 2px;
  border: 1px dashed #FFFFFF;
}

.node-row:hover {
  background: #F6F6F6;
}

.node-row a, .node-row i {
  cursor: pointer;
}

.node-row a.striked {
  text-decoration: line-through;
}

.node-row.selected {
  background: #F6F6F6 !important;
}

.acl-panel {
  border-left: 1px solid #e5e5e5;
  padding-top: 6px;
  padding-left: 12px;
}

.acl-panel .nav-tabs {
  margin-bottom: 0;
}

.acl-panel h4:not(:first-child) {
  margin-top: 20px;
}

.acl-panel-content {
  padding: 6px;
  overflow-y: scroll;
}

.acl-block {
  background-color: #f6f6f6;
  padding: 3px;
  margin-bottom: 4px;
}

.acl-block .checkbox, .acl-block .radio {
  margin-left: 6px;
}

.add-acl {
  padding: 5px;
  text-align: center;
  color: #CCC;
  font-size: 20px;
}

.add-acl:hover {
  color: #999;
}

.path {
  height: 34px!important;
  font-size: 14px;
}

.path-container {
  background-color: #FFF;
  padding-top: 8px;
}

.path-container .btn-inverse {
  height: 34px;
  width: 34px;
  font-size: 14px;
  line-height: 34px;
}

.fake-pre {
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 12px;
  line-height: 20px;
  word-break: break-all;
  word-wrap: break-word;
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

.tree-toolbar {
  padding: 3px;
  border-bottom: 1px solid #e5e5e5;
}

.tree-toolbar .fa {
  margin-left: 5px;
}

.tree-toolbar .fa-spin {
  color: #cccccc;
  margin-right: 6px;
}

.tree-toolbar input {
  margin-bottom: 0;
  height: 25px;
  min-height: 25px;
}

.tree-toolbar .pull-right {
  margin-top: -5px;
}

.inline-block {
  display: inline-block;
}

.force-word-break {
  word-break: break-all;
}

.pointer {
  cursor: pointer;
}

.with-acl {
  background: #ffffff; /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSI2MiUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZDllZGY3IiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
  background: -moz-linear-gradient(left,  #ffffff 62%, #d9edf7 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(62%,#ffffff), color-stop(100%,#d9edf7)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left,  #ffffff 62%,#d9edf7 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left,  #ffffff 62%,#d9edf7 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left,  #ffffff 62%,#d9edf7 100%); /* IE10+ */
  background: linear-gradient(to right,  #ffffff 62%,#d9edf7 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#d9edf7',GradientType=1 ); /* IE6-8 */
}

.rwx {
  width: 110px;
  text-align: right;
  padding-right: 10px;
}