@use 'variables' as vars;
@use 'mixins';

// We need to get the cuix class in but we can't add it to the root
.ant-modal-root {
  .hue-ai-guardrails-modal {
    // Need tooverride, can't add custom class.
    .ant-alert-with-description {
      margin-bottom: vars.$fluidx-spacing-m;
      // Need to override the description that for some reason is set to display: none
      .ant-alert-description {
        display: block;
      }
    }

    .hue-ai-guardrails-modal__ai-response-container {
      background-color: vars.$fluidx-blue-050;
      border: 1px solid vars.$fluidx-blue-100;
      padding: 12px;
  
      .hue-ai-guardrails-modal__ai-title {
        color: vars.$fluidx-blue-400;
        text-transform: uppercase;
      }
  
      .hue-ai-guardrails-modal__ai-text-container {
        white-space: pre-line;
        max-width: 80ch;
      }
    }    
  }
}
