@use 'variables' as vars;
@use 'sharedAiAssistVars' as ai-assist-vars;

.cuix.antd {
  .hue-ai-assist-bar {
    height: 0px;
    margin: 0 -8px 0 -55px;

    transition: height vars.$animation-duration-base ease;
    overflow: hidden;
    background-color: vars.$fluidx-blue-050;
    padding-left: 46px;
  }

  .hue-ai-assist-bar--expanded {
    height: 40px;
    transition: vars.$animation-duration-base;
    border-bottom: 1px solid vars.$fluidx-blue-100;
  }

  .hue-ai-assist-bar__content {
    height: 40px;
    display: flex;
    align-items: center;
    width: 1px;
  }

  .hue-ai-assist-bar__content--expanded {
    animation: contentAnimation ai-assist-vars.$expand-animation-time ease-in-out 1;
    width: 100%;
    overflow: hidden;
  }

  .hue-ai-assistbar__close-btn {
    position: absolute;
    top: 7px;
    right: 34px;
    display: none;
  }

  .hue-ai-assistbar__close-btn--expanded {
    right: 0px;
    display: block;
    animation: closeButtonAnimation (ai-assist-vars.$expand-animation-time * 1.2) ease-in-out 1;
  }
}

.editor-top-expanded {
  .cuix.antd .hue-ai-assist-bar {
    margin-left: 12px;
  }
}

@keyframes contentAnimation {
  0% {
    width: 0px;
  }
  15% {
    width: 0px;
  }
  100% {
    width: 100%;
  }
}
@keyframes closeButtonAnimation {
  0% {
    right: 34px;
    visibility: hidden;
  }

  80% {
    right: 34px;
    visibility: hidden;
  }

  100% {
    right: 0px;
    visibility: visible;
  }
}

@keyframes aiIconLoadingAnimation {
  0% {
    border-radius: 0px;
    width: 1px;
    height: 1px;
    right: 34px;
    margin-top: 18px;
    right: 46px;
  }

  100% {
    border-radius: 12px;
    width: 24px;
    height: 24px;
    right: 34px;
    margin-top: 8px;
  }
}

@keyframes aiIconLoadingStatusAnimation {
  0% {
    max-width: 24px;
  }

  100% {
    max-width: 400px; // Workaround since we can't animate to 'auto'
  }
}


