#fileArea {
  overflow: auto;
  background-color: #F5F5F5;
  position: relative;
}

#fileArea.loading {
  opacity: .7;
}

#loader {
  position: fixed;
  margin-top: 40px;
  font-size: 50px;
  text-align: center;
  width: 140px;
  height: 140px;
  line-height: 140px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}

.binary {
  font-family: "Courier New", Courier, monospace;
}

pre {
  border: none;
}

pre a {
  color: #444;
  cursor: default;
}

pre a:hover {
  color: #444;
  text-decoration: none;
}

.fixed {
  position: fixed;
  top: 40px;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff2f2f2', GradientType=0);
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
}

.sortable {
  cursor: pointer;
}

.file-row {
  height: 37px;
}

.fileChooserModal {
  padding: 14px;
}

.fileChooserModal .hueBreadcrumb {
  margin: 0 0 18px !important;
}

.fieldError {
  border-color: #B94A48 !important;
}

.form-inline {
  position: relative;
  right: 10px;
  top: -10px;
}

.pagination p {
  padding-top: 10px;
  padding-left: 10px;
  margin: 0;
}

.pagination select {
  margin-top: 4px;
}

.pagination ul {
  margin-top: 14px;
  margin-right: 20px;
}

.actionbar {
  padding-top: 6px;
  background-color: #FFFFFF;
}

.shadow {
  -webkit-box-shadow: 0px 2px 3px rgba(50, 50, 50, 0.1);
  -moz-box-shadow: 0px 2px 3px rgba(50, 50, 50, 0.1);
  box-shadow: 0px 1px 2px rgba(50, 50, 50, 0.1);
}

.scrollable {
  margin-bottom: 80px;
}

#jHueHdfsAutocomplete ul li {
  cursor: pointer;
}

#jHueHdfsAutocomplete ul li:hover,  #jHueHdfsAutocomplete ul li.active {
  color: #FFFFFF;
  background: #338BB8;
}

#jHueHdfsAutocomplete .popover-content {
  max-height: 200px;
  overflow-y: auto;
}

.uploadpreview span {
  margin-right: 1em;
}

.uploadpreview span:last-child {
  margin-right: 0;
}