.fixed {
  position: fixed;
  top: 40px;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff2f2f2', GradientType=0);
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
}

.sortable {
  cursor: pointer;
}

.file-row {
  height: 37px;
}

.fileChooserModal {
  padding: 14px;
}

.fileChooserModal .hueBreadcrumb {
  margin: 0 0 18px !important;
}

.fieldError {
  border-color: #B94A48 !important;
}

.form-inline {
  position: relative;
  right: 10px;
  top: -10px;
}

.pagination {
  background-color: #f5f5f5;
  border-top: 1px solid #e3e3e3;
  bottom: 0;
  -webkit-box-shadow: 0px 1px 3px rgba(50, 50, 50, 0.1);
  -moz-box-shadow: 0px 1px 3px rgba(50, 50, 50, 0.1);
  box-shadow: 0px 1px 3px rgba(50, 50, 50, 0.1);
  left: 0;
  margin: 0;
  padding: 0px;
  position: fixed;
  width: 100%;
}

.pagination {
  background-color: #f5f5f5;
  border-top: 1px solid #e3e3e3;
  bottom: 0;
  -webkit-box-shadow: 0px 1px 3px rgba(50, 50, 50, 0.1);
  -moz-box-shadow: 0px 1px 3px rgba(50, 50, 50, 0.1);
  box-shadow: 0px 1px 3px rgba(50, 50, 50, 0.1);
  left: 0;
  margin: 0;
  padding: 0px;
  position: fixed;
  width: 100%;
}

.pagination p {
  padding-top: 10px;
  padding-left: 10px;
  margin: 0 .5em;
}

.pagination select {
  margin-top: 4px;
}

.pagination ul {
  margin-top: 14px;
  margin-right: 20px;
}

.pagination-input-form {
  position: relative;
  right: 1em;
  top: 5px;
}

.pagination-input {
  text-align: center;
  width: 40px;
}

.flush-right {
  position: relative;
  right: -3em;
}

.actionbar {
  padding-top: 6px;
  background-color: #FFFFFF;
}

.shadow {
  -webkit-box-shadow: 0px 2px 3px rgba(50, 50, 50, 0.1);
  -moz-box-shadow: 0px 2px 3px rgba(50, 50, 50, 0.1);
  box-shadow: 0px 1px 2px rgba(50, 50, 50, 0.1);
}

.scrollable {
  margin-bottom: 80px;
}

#jHueHdfsAutocomplete ul li {
  cursor: pointer;
}

#jHueHdfsAutocomplete ul li:hover,  #jHueHdfsAutocomplete ul li.active {
  color: #FFFFFF;
  background: #338BB8;
}

#jHueHdfsAutocomplete .popover-content {
  max-height: 200px;
  overflow-y: auto;
}

.uploadstatus {
  border-top: 3px solid #338bb8;
  border-bottom: none;
  bottom: 4px;
  left: 0;
  margin: 0;
  position: fixed;
  width: 100%;
}

.uploadstatusbar {
  background-color: #d9edf7;
  height: 4px;
  bottom: 0;
  left: 0;
  margin: 0;
  position: fixed;
  width: 100%;
}

.uploadstatusbar div {
  background-color: #338bb8;
  height: 4px;
  width: 30%;
}

.history {
  padding: 0 10px 8px 0;
  top: 10px;
}

.history:hover {
  border-bottom: 2px solid #338bb8;
}

.history a {
  color: #737373;
  text-decoration: none;
}

.history.no-history:hover {
  border-bottom: 2px solid transparent;
}

.history.no-history a {
  color: #ccc;
  cursor: default;
}

.dropdown-menu {
  left: inherit;
  right: 0;
}
.hoverMsg {
  background: #000;
  height: 100%;
  left: 0;
  opacity: .5;
  position: fixed;
  width: 100%;
  top:0;
  z-index: 10000;
}

.hoverText {
  color: #fff;
  font-size: 5em;
  position: relative;
  text-align: center;
  top: 45%;
  font-weight: 700;
  text-shadow: 1px 1px 1px rgba(0,0,0,.3);
  -webkit-animation-name: bounceInDown;
  animation-name: bounceInDown;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
