{% comment %}
Licensed to Cloudera, Inc. under one
or more contributor license agreements.  See the NOTICE file
distributed with this work for additional information
regarding copyright ownership.  Cloudera, Inc. licenses this file
to you under the Apache License, Version 2.0 (the
"License"); you may not use this file except in compliance
with the License.  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
{% endcomment %}
<div id="hue-flogin">
  <form action="/accounts/login_ajax" method="post">
    <img class="hue-login_logo" src="/static/art/hue-login-logo.png" width="61" height="56" alt="Hue Login Logo"/>
    <input alt="your username" type="text" name="username" class="hue-username" tabIndex="1"/>
    <img src="/static/art/error.png" width="14" height="14" alt="Error" class="jframe-errorImg"/>
    <input alt="your password" type="password" name="password" class="hue-password" tabIndex="2" />
    <input type="submit" class="hue-submit hue-continue" name="continue" value="continue" title="continue"/>
    <img src="/static/art/login-spinner.gif" class="hue-spinner" width="16" height="16" alt="loading..."/>
    <img src="/static/art/password-help.png" width="76" height="5" alt="Password Help" id="hue-pwhelp" tabIndex="3">
  </form>
</div>
<div id="hue-restore-option">
	Restore my last session: <input type="checkbox" checked="true" name="hue-restore-option" value="restore">
</div>
<script>
	//if there is a session to restore, show the option
	window.addEvent('domready', function(){
		var option = $('hue-restore-option');
		option.addEvent('mousedown', function(e){
			e.stop();
			if ($(e.target) == option) {
				var input = option.getElement('input');
				input.set('checked', !input.get('checked'));
			}
		});
		{%if first_login_ever %}
			option.hide();
		{%endif%}
	});
</script>
{%if first_login_ever %}
  <div id="hue-flogin-first">
    <p>Since this is your first time logging in,
    please pick any username and password.</p>
    <p style="margin-bottom: 0px;"><em>Be sure to remember these, as they
    will become your superuser account for Hue</em>.</p>
  </div>
{% endif %}
