@use 'variables' as vars;
@use 'mixins';

.cuix.antd {
  .hue-table-browser {
    @include mixins.fillAbsolute;
    @include mixins.flexRowLayout;
    
    min-width: 300px;
    
    &__container {
      height: 100%;
      background-color: vars.$fluidx-gray-100;
      padding: 16px;
    }

    &__heading {
      color: #1B2329;
      font: Roboto;
      font-size: 24px;
      font-weight: 300;
    }

    &__filter {
      margin-bottom: 16px;
    }

    &__empty-state {
      margin-top: 16px;
      max-width: 100%;
    }

    // Fixes for For Breadcrumbs
    .ant-typography {
      margin-bottom: 0;
    }
    .ant-btn>span {
      display: inline-flex;
    }
    

    // Fixes for Filter
    .ant-input {
      box-shadow: none;
    }
  }
}

.cuix.antd {
  .hue-table-browser__details-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    gap: 16px;
  }
}