/**
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

// Colors
$logo-orange: #d27a22;

$bg-lite: #f5f5f5;
$bg-liter: #f5f5f5;
$bg-red-light: #ffe6e6;

$bg-grey: #f0f0f0;

$border-lite: #e5e5e5;
$border-color: #dcdcdc;

$white: #fff;

$text-color: rgb(70, 70, 70);
$text-red: red;
$text-light: #bbb;
$text-green: green;

$top-nav-bg-color-from: #d5d5d5;
$top-nav-bg-color-to: #f0f0f0;

$success-color: limegreen;
$error-color: crimson;
$warning-color: orange;
$unknown-color: crimson;

// -- HTML styles ---
.dag-view-container {
  user-select: none;
  background-color: #fff;
  border: 1px solid $border-lite;
  border-radius: 5px;
  position: relative;
  padding: 0;
  width: 100%;
  height: 500px;

  .message {
    text-align: center;
  }

  .err-message {
    padding-left: 10px;
  }

  .svg-container {
    overflow: hidden;
    width: 100%;
    height: 500px;

    // cursor: -moz-grab;
    // cursor: -webkit-grab;
    cursor: grab;

    &.panning {
      // cursor: -moz-grabbing;
      // cursor: -webkit-grabbing;
      cursor: grabbing;
    }

    svg {
      width: 100%;
      height: 100%;
      min-height: 500px;
    }
  }

  .button-panel {
    user-select: none;
    position: absolute;
    top: 10px;
    right: 10px;

    // Toggle buttons
    .tgl-orientation,
    .tgl-additionals,
    .config,
    .timeline,
    .fit-graph,
    .tgl-fullscreen {
      font-size: 20px;
      border-radius: 5px;
      cursor: pointer;
      margin-left: 5px;
      border: 1px solid $border-lite;
      background-color: $bg-lite;
      padding: 4px;

      &:hover {
        color: $bg-lite;
        background-color: $text-color;
      }
    }
    //     .tgl-orientation {
    //       .fa-icon(share-alt);
    //     }
    //     .tgl-additionals {
    //       .fa-icon(circle);

    //       &.hide-additionals {
    //         .fa-icon(circle-o);
    //       }
    //     }
    //     .fit-graph {
    //       .fa-icon(arrows-alt);
    //     }
    //     .tgl-fullscreen {
    //       .fa-icon(expand);
    //     }

    .seperator {
      display: inline-block;
      border-left: 1px dotted $text-color;
      height: 13px;
    }
  }

  .fullscreen,
  &:fullscreen {
    height: 100%;
    margin: 0;

    .svg-container,
    svg {
      height: 100%;
    }

    // .tgl-fullscreen {
    //   .fa-icon(compress);
    // }
  }
}

// -- SVG styles ---

.vertex-node-bg {
  stroke: grey;
}

.input-node-bg {
  stroke: grey;
}

.output-node-bg {
  stroke: grey;
}

.task-bubble-bg {
  stroke: grey;
}

.group-bubble-bg {
  stroke: grey;
}

.node {
  cursor: pointer;

  text {
    user-select: none;
    pointer-events: none;
    font: 11px sans-serif;
    text-anchor: middle;

    // Ensure to manually change the transforms in graph-view.js for IE compatibility
    // -webkit-transform: translate(0px, 4px); // For safari
    // -moz-transform: translate(0px, 4px);
    transform: translate(0, 4px);
  }
}

.vertex {
  text.title {
    // Ensure to manually change the transforms in graph-view.js for IE compatibility
    // -webkit-transform: translate(0px, 3px); // For safari
    transform: translate(0, -1px);
  }

  .task-bubble {
    // Ensure to manually change the transforms in graph-view.js for IE compatibility
    // -webkit-transform: translate(38px, -15px);
    transform: translate(38px, -15px);

    text {
      letter-spacing: -1px;
      text-anchor: middle;
    }
  }

  .io-bubble {
    // Ensure to manually change the transforms in graph-view.js for IE compatibility
    // -webkit-transform: translate(-38px, -15px);
    transform: translate(-38px, -15px);
    opacity: 0;
    //pointer-events: none;

    // -moz-transition: opacity .5s ease-in-out;
    // -webkit-transition: opacity .5s ease-in-out;
    transition: opacity 0.5s ease-in-out;

    text {
      text-anchor: middle;
    }
  }

  .group-bubble {
    // Ensure to manually change the transforms in graph-view.js for IE compatibility
    // -webkit-transform: translate(38px, 15px);
    transform: translate(38px, 15px);
  }

  .status-bar {
    pointer-events: none;

    .status {
      transform: translate(-35px, 2px);
      font:
        8px Helvetica,
        Arial,
        sans-serif;
      text-align: center;
      .msg-container {
        border-radius: 5px;
        padding: 2px 3px 0 1px;
        background-color: rgba(255, 255, 255, 0.3);

        .task-status {
          font-size: 11px;
          margin-top: 3px;
          background-color: rgba(255, 255, 255, 0.8);
          border-radius: 6px;
          vertical-align: -1px;
          width: 8px;
          height: 7px;

          &.running {
            font-size: 11px;
            width: 9px;
            height: 7px;
          }
        }
      }
    }
  }
}

.hide-io {
  .vertex {
    .io-bubble {
      opacity: 1;
      pointer-events: auto;
    }
  }
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 3px;
  cursor: default;

  &.broadcast {
    stroke: #ccbb8f;
  }
}

// -- Tooltip style ---
.tool-tip {
  user-select: none;
  position: fixed;
  pointer-events: none;
  display: none;
  max-width: 820px;

  .sub {
    font-size: 10px;
  }

  .bubble {
    margin-left: -11px; // Border radious + arrow margin-left
    position: relative;
    padding: 10px;
    font-family: Helvetica, Arial, sans-serif;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 5px;

    .tip-title {
      text-align: center;
      font-size: 1.1em;
    }

    .tip-text {
      border-top: 1px solid rgba(255, 255, 255, 0.4);
      text-align: center;
      margin-bottom: -1px;
    }

    .tip-list {
      table {
        table-layout: fixed;
        border-top: 1px solid rgba(255, 255, 255, 0.4);

        td {
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          max-width: 400px;
        }

        td:nth-child(1) {
          padding-right: 10px;
        }

        td:nth-child(2) {
          text-align: right;
          padding-left: 10px;
          border-left: 1px solid rgba(255, 255, 255, 0.4);
        }
      }
    }
  }

  &.show {
    display: inline-block;
  }

  &.below::after,
  &.above::before {
    display: inline;
    box-sizing: border-box;
    font-size: 12px;
    line-height: 9px;
    color: rgba(0, 0, 0, 0.8);
    margin-left: -6px; // Half of font size
  }

  &.above {
    margin-top: 10px;

    .bubble {
      margin-top: -5px;
    }

    &::before {
      content: '\25B2';
    }
  }

  &.below {
    margin-top: -12px;

    .bubble {
      margin-bottom: -7px;
    }

    &::after {
      content: '\25BC';
    }
  }
}

.dag-view-legend {
  margin-top: -20px;
  font-size: 0.7em;
  text-align: right;
}
