include README.rst CHANGES.rst LICENSE
recursive-include thriftpy2/protocol/cybin *.pyx *.c *.h
recursive-include thriftpy2/transport *.pyx *.pxd *.c
include thriftpy2/contrib/tracking/tracking.thrift
recursive-include tests/ *
