// Licensed to Cloudera, Inc. under one
// or more contributor license agreements.  See the NOTICE file
// distributed with this work for additional information
// regarding copyright ownership.  Cloudera, Inc. licenses this file
// to you under the Apache License, Version 2.0 (the
// "License"); you may not use this file except in compliance
// with the License.  You may obtain a copy of the License at
//
//     http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
// See the License for the specific language governing permissions and
// limitations under the License.

@use 'variables' as vars;

.antd.cuix {
  .hue-importer-configuration {
    padding: 16px;

    &__summary {
      display: flex;
      gap: 8px;
      width: max-content;
      list-style: none;
      color: vars.$fluidx-blue-600;
      cursor: pointer;
    }

    &__dropdown {
      border: 1px solid vars.$fluidx-gray-600;
      border-radius: vars.$border-radius-base;
      width: 100%;
    }
  }

  .hue-importer-configuration-options {
    padding-top: 16px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 16px;
  }
}
