@use 'variables' as vars;
@use '../sharedAiAssistVars' as ai-assist-vars;

.cuix.antd {
  .hue-ai-assist-toolbar {
    background-color: transparent;
    width: calc(100% - 84px);

    // Override the default toolbar button styles
    .hue-toolbar-button {
      color: vars.$fluidx-blue-400;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 12px;

      &[disabled] {
        color:  vars.$fluidx-blue-100;
      }      

      // Reset inherited styling we don't want
      &:hover,
      &:focus,
      &:focus-visible,
      &:not([disabled]):active,
      &:target {
        background-color: transparent;
        border-color: transparent;
        outline: none;
        box-shadow: none;
      }
      &:not([disabled]):hover {
        color: vars.$fluidx-blue-600;
      }
    }
  }
}