/*
 Licensed to Cloudera, Inc. under one
 or more contributor license agreements.  See the NOTICE file
 distributed with this work for additional information
 regarding copyright ownership.  Cloudera, Inc. licenses this file
 to you under the Apache License, Version 2.0 (the
 "License"); you may not use this file except in compliance
 with the License.  You may obtain a copy of the License at

     http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.
*/

@animation-duration-base: 0.2s;
@gradient-end: #023259;
@gradient-start: @cui-gray-800;
@header-bg-open: @hue-primary-color-dark;
@header-bg: @hue-primary-color-dark;
@default-drawer-width: 400px;
@item-active-border: @hue-primary-color-dark;
@item-color: rgb(173, 178, 182);
@sidebar-background-color: #333e45;
@sidebar-collapsed-item-height: 35px;
@sidebar-collapsed-icon-height: 22px;
@sidebar-icon-height: 20px;
@sidebar-collapsed-width: 56px;
@sidebar-header-height: 56px;
@sidebar-item-height: 32px;
@sidebar-width: 248px;

.svg-hue-sidebar-logo-main {
  fill: currentColor !important;
}

.hue-sidebar {
  .flex(0 0 @sidebar-width);
  .display-flex;
  .flex-direction(column);
  .flex-shrink(0);

  height: 100%;
  background-image: linear-gradient(164deg, @gradient-start, @gradient-end);
  line-height: 1.2;
  overflow: hidden;
  transition: all @animation-duration-base;

  .hi {
    margin-bottom: 0;
  }

  * {
    -webkit-font-smoothing: antialiased;
    transition: all @animation-duration-base;

    //box-sizing: border-box;
    //font-size: 100%;
    //vertical-align: baseline;
    //margin: 0;
    //padding: 0;
    //border-width: 0;
    //border-style: initial;
    //border-color: initial;
    //border-image: initial;
  }

  a {
    cursor: pointer;
    text-decoration: none;

    &[target='_blank']::after,
    &[target='_blank']::before {
      content: none !important;
    }
  }

  .hue-sidebar-header {
    .display-flex;
    .flex-shrink(0);
    .flex-box-align(center);
    .flex-align-items(center);

    height: @sidebar-header-height;
    color: @cui-white;
    font-size: 16px;
    margin-bottom: 8px;
    padding: 0 0 0 24px;
    background-color: @header-bg;

    &.hue-sidebar-custom-logo {
      background-color: @cui-white;
      border-top: 2px solid @hue-primary-color-dark;
      height: calc(@sidebar-header-height - 3px); /* stylelint-disable-line */

      .hue-sidebar-logo {
        margin-left: 32px;
      }

      .hue-sidebar-logo svg {
        width: 128px;
      }
    }

    .hue-app-switcher-trigger {
      color: @hue-primary-color-dark;
      margin-right: 6px;

      svg {
        width: 20px;
        height: 20px;
      }
    }

    .hue-app-switcher-logo {
      margin-left: 30px;
      overflow-x: hidden;
      color: @cui-white;

      svg {
        height: 32px;
        width: 100px;
      }
    }

    .title {
      margin-left: 8px;
      white-space: nowrap;
      overflow: hidden;
    }

    .logo {
      width: 36px;
      height: 36px;
    }

    & > a {
      .display-flex;
      .flex-box-align(center);
      .flex-box-pack(center);
      .flex-align-items(center);

      justify-content: center;
    }

    .hue-sidebar-logo {
      margin-left: 49px;
      height: 32px;
      overflow-x: hidden;
      color: @cui-white;
    }

    .hue-sidebar-logo svg {
      height: 32px;
      width: 100px;
    }
  }

  .hue-sidebar-body {
    .flex(1 1 auto);
    .flex-box-flex(1);

    overflow-y: hidden;
  }

  .item {
    .display-flex;
    .flex-align-items(center);

    height: @sidebar-item-height;
    position: relative;
    align-items: center;
    color: @item-color;

    span {
      .nowrap-ellipsis;
    }

    &.active {
      color: @cui-white;
      background-color: rgba(255, 255, 255, 0.1);
      font-weight: bold;

      &::after {
        content: "";
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        width: 4px;
        background-color: @item-active-border;
      }

      .user-icon {
        background-color: @cui-white;
      }

      .fa::before {
        color: @cui-white;
      }
    }
  }

  .item-category {
    margin: 20px 0 0 24px;
    color: @cui-gray-500;
    text-transform: uppercase;
  }

  a.item:hover:not(.active) {
    color: @cui-white;
  }

  .icon {
    .display-flex;
    .flex(0 0 36px);
    .flex-box-pack(center);

    margin-left: 16px;
    text-align: center;
    justify-content: center;
    font-size: @sidebar-icon-height;

    i,
    svg {
      font-size: @sidebar-icon-height;
      height: @sidebar-icon-height; // nv d3 conflict
    }
  }

  .hue-sidebar-footer {
    a.hue-sidebar-trigger {
      .display-flex;
      .flex-shrink(0);
      .flex-align-items(center);
      .flex-box-pack(end);

      justify-content: flex-end;
      height: 50px;
      padding: 0 16px;

      svg {
        transition-delay: @animation-duration-base;
        fill: @cui-gray-500;
        width: 24px;
        height: 24px;

        &:hover {
          fill: @cui-white;
        }
      }
    }
  }

  .user-icon {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: @sidebar-background-color;
    background-color: @item-color;
    text-transform: uppercase;

    &:hover {
      background-color: @cui-white;
    }
  }

  &.collapsed {
    .flex-basis(@sidebar-collapsed-width);

    .hue-sidebar-header {
      padding: 0 12px;

      .hue-sidebar-logo {
        margin-left: 0;
        width: 32px;
        color: @cui-white;
      }

      &.hue-sidebar-custom-logo {
        padding: 0;

        .hue-sidebar-logo {
          width: 56px;
          margin-left: -6px;
        }
      }

      .hue-app-switcher-trigger svg {
        width: 32px;
        height: 32px;
      }

      .hue-app-switcher-trigger + a {
        .logo {
          opacity: 0;
        }
      }

      .logo {
        margin: 0;
        margin-left: -2px;
      }

      .title {
        opacity: 0;
      }
    }

    .item[data-tooltip] {
      &::before {
        z-index: 1010;
        display: none;
        content: attr(data-tooltip);
        position: fixed;
        left: @sidebar-collapsed-width + 8px;
        background-color: @cui-gray-800;
        color: @cui-white;
        font-size: 12px;
        border-radius: 3px;
        box-shadow: rgba(0, 0, 0, 0.2) 0 2px 4px 0;
        white-space: nowrap;
        padding: 4px 8px;
      }

      &:hover::before {
        display: block;
      }
    }

    .item-category {
      height: 0;
      margin: 0;
    }

    .item {
      height: @sidebar-collapsed-item-height;
      padding: 0;

      span {
        opacity: 0;
      }
    }

    .icon {
      .flex(0 0 @sidebar-collapsed-width);
      .flex-box-flex(0);

      margin: 0;
      font-size: @sidebar-collapsed-icon-height;
      height: @sidebar-collapsed-icon-height;

      i,
      svg {
        font-size: @sidebar-collapsed-icon-height;
        height: @sidebar-collapsed-icon-height;
      }
    }

    .hue-sidebar-footer a.hue-sidebar-trigger svg {
      transform: rotate(180deg);
    }

    .user-icon {
      font-weight: normal !important;
      margin-top: -1px;
      margin-left: -1px;
      width: 23px;
      height: 23px;
      font-size: 16px;
    }
  }

  &:not(.collapsed) .hue-sidebar-header {
    background-color: @header-bg-open !important;

    &.hue-sidebar-custom-logo {
      background-color: @cui-white !important;
    }
  }

  .item-spacer {
    height: 15px;
  }

  &:not(.collapsed) .sidebar-menu {
    left: @sidebar-width;
  }

  &.collapsed .sidebar-menu {
    left: @sidebar-collapsed-width;
  }

  .sidebar-menu {
    z-index: 1011;
    position: absolute;
    display: none;
    margin-top: -40px;
    height: auto;
    padding-left: 8px;

    .inner {
      background-color: @cui-gray-800;
      color: @cui-white;
      font-size: 14px;
      border-radius: 3px;
      box-shadow: rgba(0, 0, 0, 0.2) 0 2px 4px 0;
      white-space: nowrap;
      padding: 4px 8px;
      transition: none;
    }

    &.fixed-bottom {
      margin-top: 0;
      top: auto;
      bottom: 20px;
      position: fixed;
    }

    &.open {
      display: block;
    }

    &.support-menu {
      bottom: 38px;
    }

    .menu {
      display: flex;
      height: 100%;
      flex-direction: column;

      .menu-header {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 10px 16px 20px 16px;

        .user-icon {
          width: 36px;
          height: 36px;
          margin-right: 12px;
          font-size: 22px;
          flex-shrink: 0;
        }

        > div {
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
        }

        small {
          font-size: 12px;
        }
      }

      ul.sidebar-nav-list {
        list-style: none;
        margin: 4px 0;
        padding: 0;

        li {
          margin-left: -8px;
          margin-right: -8px;

          &.divider {
            height: 2px;
            margin: 4px -8px;
            background-color: #3e4b56;
          }
        }

        li a {
          height: 32px;
          display: flex;
          align-items: center;
          color: @cui-white;
          padding: 0 24px;

          &:hover {
            background-color: @hue-primary-color-dark;
          }

          svg {
            margin-left: 8px;
            font-size: 16px;
          }
        }
      }

      .menu-body {
        flex-grow: 1;
        min-height: 0;
        overflow: auto;
      }

      .menu-footer {
        flex-shrink: 0;

        h2 {
          padding: 24px 24px 0 24px;
        }
      }
    }
  }
}
