// Licensed to Cloudera, Inc. under one or more contributor license agreements.
// See the NOTICE file distributed with this work for additional information
// regarding copyright ownership. Cloudera, Inc. licenses this file to you under
// the Apache License, Version 2.0 (the "License"); you may not use this file
// except in compliance with the License. You may obtain a copy of the License at
// http://www.apache.org/licenses/LICENSE-2.0
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
// WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
// License for the specific language governing permissions and limitations under
// the License.

@use '../../../../components/styles/variables' as vars;

.cuix.antd {
  .import-data-modal__section {
    margin-bottom: vars.$fluidx-spacing-m;
  }

  .import-data-modal__label {
    display: block;
    margin-bottom: vars.$fluidx-spacing-xs;
    font-weight: vars.$fluidx-heading-h4-weight;
  }

  .import-data-modal__note {
    font-size: vars.$font-size-sm;
    color: vars.$fluidx-gray-700;
    margin-top: vars.$fluidx-spacing-xxs;
  }

  .import-data-modal__partition-field {
    margin-bottom: vars.$fluidx-spacing-s;
  }

  .import-data-modal__partition-label {
    display: block;
    margin-bottom: vars.$fluidx-spacing-xxs;
  }

  .import-data-modal__alert {
    margin-bottom: vars.$fluidx-spacing-m;
  }
}


