<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  </head>
  <body>
    <h1>SAML attributes</h1>
    <dl>
      {% for attribute, value in attributes.items %}
      <dt>{{ attribute }}:</dt>
      <dd>{{ value|join:", " }}</dd>
      {% endfor %}
    </dl>

    <p><a href="{% url 'saml2_logout' %}">Log out</a></p>
  </body>
</html>
