# MANIFEST.in
# Template for Distutils manifest for this distribution.
# Documentation: <URL:https://docs.python.org/3/distutils/sourcedist.html#specifying-the-files-to-distribute>.

include MANIFEST.in
include pyproject.toml
include LICENSE.*
include ChangeLog
recursive-include doc *
include version.py
include test_version.py
recursive-include test *.py


# Local variables:
# coding: utf-8
# mode: conf-space
# End:
# vim: fileencoding=utf-8 filetype=conf :
