@use 'variables' as vars;
@import '@cloudera/cuix-core/variables.scss';

.popupStyle {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popupContentStyle {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1001;
  width: 60%;
  max-height: 80%;
  overflow-y: auto;
  position: relative;
}

.customCursorClass {
  cursor: pointer;
}

.flex-container-style {
  display: flex;
  align-items: center;
  gap: 10px;
}

.task-selection {
  margin-bottom: 2rem;
}

.task-dropdown {
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
}

.parameter-inputs {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 2rem;
}

.parameter-row {
  display: flex;
  align-items: center;
}

.parameter-label {
  flex: 1;
  width: 100px;
  font-weight: bold;
  margin-right: 1rem;
}

.parameter-input {
  padding: 0.5rem;
  flex: 1;
  font-size: 1rem;
  width: 100%;
}

.vertical-spacer {
  height: 2rem;
}

.row-success {
  border-left: 4px solid $fluidx-green-500;
}

.row-failure {
  border-left: 4px solid $fluidx-red-500;
}

.row-running {
  border-left: 4px solid $fluidx-amber-500;
}

.ant-btn-primary {
  background-color: $fluidx-blue-500;
  border-color: $fluidx-blue-600;
}

.ant-btn-danger {
  background-color: $fluidx-red-500;
  border-color: $fluidx-red-600;
}

.ant-tag-success {
  background-color: $fluidx-green-500;
  color: $fluidx-gray-900;
}

.ant-tag-error {
  background-color: $fluidx-red-500;
  color: $fluidx-gray-900;
}

.ant-tag-warning {
  background-color: $fluidx-amber-500;
  color: $fluidx-gray-900;
}

.success-text {
  color: $fluidx-green-500;
}

.running-text {
  color: $fluidx-amber-500;
}

.failed-text {
  color: $fluidx-red-500;
}
