include setup.py
include ANNOUNCE
include ANNOUNCE-*
include MANIFEST.in
include MANIFEST
include ChangeLog
include gsl-mode-0.1.el
include src/include/*.[ch]
include src/sets/*.[ch]
include src/heapy/*.[ch]
include specs/*.gsl
include specs/*.py
include guppy/doc/*html
include guppy/doc/*jpg
