ul {
  list-style-type: none;
}

#modal-window .modal-content {
  height: 300px;
  overflow: auto;
}

#node-modal {
  width: auto;
}

#node-modal .modal-content {
  background: white;
  max-height: 500px;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 5px;
}

.action {
  border: 1px solid #DDD;
  padding: 0px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.action h4 {
  margin-bottom: 1px;
}

.node-action {
  background: #FFF url(/oozie/static/art/action.png) no-repeat 10px 10px;
}

.node-fork {
  background: #FFF url(/oozie/static/art/fork.png) no-repeat 10px 10px;
}

.node-join {
  background: #FFF url(/oozie/static/art/join.png) no-repeat 10px 10px;
}

.node-decision {
  background: #FFF url(/oozie/static/art/decision.png) no-repeat 10px 10px;
}

.node-decisionend {
  background: #FFF url(/oozie/static/art/decision_end.png) no-repeat 10px 10px;
}

.node-link {
  border: 1px dashed #DDD;
  margin: 10px;
  background: url(/oozie/static/art/droppable.png) no-repeat 50% 50%;
}

.node-description {
  padding-top: 10px;
}

.node-action-bar {
  background-color: #EEE;
  padding-top: 5px;
  margin-top: 10px;
  -webkit-box-shadow: inset 0px 3px 5px 0px #DDD;
  box-shadow: inset 0px 3px 5px 0px #DDD;
}

#graph, #new-node {
  text-align: center;
}

.node-link-hover {
  background: #D9EDF7;
}

.node-action-hover {
  background: #D9EDF7;
}

.node-fork-hover {
  background: #EEE;
}

.popover {
  z-index: 2060 !important;
  margin-left: 166px!important;
}

.ribbon-wrapper {
  width: 85px;
  height: 88px;
  overflow: hidden;
  position: fixed;
  top: 74px;
  right: -3px;
  right: 20px\9; /* IE8 */
  width: 125px\9; /* IE8 */
  z-index: 1001;
}

.ribbon {
  font: bold 15px sans-serif;
  text-align: center;
  text-shadow: rgba(255,255,255,0.5) 0px 1px 0px;
  -webkit-transform: rotate(45deg);
  -moz-transform:    rotate(45deg);
  -ms-transform:     rotate(45deg);
  -o-transform:      rotate(45deg);
  position: relative;
  padding: 7px 0;
  left: -5px;
  top: 15px;
  width: 120px;
  background-color: #da4f49;
  *background-color: #bd362f;
  background-image: -moz-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ee5f5b), to(#bd362f));
  background-image: -webkit-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: -o-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: linear-gradient(to bottom, #ee5f5b, #bd362f);
  background-repeat: repeat-x;
  color: #ffffff;
  -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
  -moz-box-shadow:    0px 0px 3px rgba(0,0,0,0.3);
  box-shadow:         0px 0px 3px rgba(0,0,0,0.3);
}

.ribbon:before, .ribbon:after {
  content: "";
  border-top:   3px solid #c09853;
  border-left:  3px solid transparent;
  border-right: 3px solid transparent;
  position:absolute;
  bottom: -3px;
}

.ribbon:before {
  left: 0;
}
.ribbon:after {
  right: 0;
}

.control-group.error .CodeMirror {
  border: 1px solid #B94A48;
}

.new-node-link {
  text-align: left;
  cursor: move;
}

.sidebar-nav {
  padding: 9px 0;
}

#workflow {
  margin-bottom: 80px;
}

#actionToolbar {
  z-index: 1000;
  padding: 4px;
  padding-bottom: 8px;
}

#actionToolbar.shadowed {
  -webkit-box-shadow: 0px 3px 5px rgba(150, 150, 150, 0.15);
  -moz-box-shadow: 0px 3px 5px rgba(150, 150, 150, 0.15);
  box-shadow: 0px 3px 5px rgba(150, 150, 150, 0.15);
}

#actionToolbar h5 {
  margin-left: 10px;
}

.form-horizontal .form-actions {
  padding-left: 0;
  position: fixed;
  width: 100%;
  bottom: 0;
  margin-bottom: 0;
  -webkit-box-shadow: 0px -1px 3px rgba(50, 50, 50, 0.15);
  -moz-box-shadow: 0px -1px 3px rgba(50, 50, 50, 0.15);
  box-shadow: 0px -1px 3px rgba(50, 50, 50, 0.15);
  z-index: 1020;
  margin-left: -20px;
}

.draggable-button {
  display: inline;
  margin: 1px;
  line-height: 40px;
}

.draggable-button a {
  padding: 8px;
}

.typeahead {
  z-index: 2000;
}