/*
 Licensed to Cloudera, Inc. under one
 or more contributor license agreements.  See the NOTICE file
 distributed with this work for additional information
 regarding copyright ownership.  Cloudera, Inc. licenses this file
 to you under the Apache License, Version 2.0 (the
 "License"); you may not use this file except in compliance
 with the License.  You may obtain a copy of the License at

     http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.
*/

.dropdown-menu li {
  font-size: 14px;
}

.dropdown a.dropdown-toggle {
  padding-left: 10px;
  padding-right: 10px;
}

.search-bar {
  background-color: #F5F5F5;
  border-bottom: 1px solid #e3e3e3;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
  margin: 0;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: left;
  width: 100%;
  position: fixed;
  top: 28px;
  z-index: 1000;
}

.search-bar input {
  margin-left: 10px;
  padding-right: 20px;
}

.search-bar ul li {
  text-align: right;
}

.sort-by {
  font-size: 11px;
  height: 24px;
  width: 120px;
  margin-top: -2px;
}

.nav-header {
  padding-left: 0 !important;
  padding-top: 8px;
}

.facet-list {
  list-style: none outside none;
  padding: 0;
  margin: 0;
}

.facet-list li {
  padding-left: 8px;
  padding-right: 3px;
}

.facet-list li a {
  word-wrap: break-word;
}

.counter {
  color: #999999;
  font-size: 13px;
}

.pagination {
  border-radius: 4px 4px 4px 4px;
  list-style: none outside none;
  margin: 0 0 20px;
  padding: 8px 15px;
}

.results.container {
  width: 1180px;
}

.results.span2 {
  width: 180px;
}

.results.span10 {
  width: 980px;
}

.results.span12 {
  width: 1180px;
}

.errorlist {
  display: none;
}

.breadcrumb {
  background-color: #FFFFFF;
  padding-left: 0;
  margin-bottom: 0;
}

#result-container {
  margin-top: 20px;
}

.facetItem {
  display: none;
}

.selectMask {
  background-color: #F9F9F9;
  background-image: linear-gradient(to bottom, #FFFFFF, #F1F1F1);
  background-repeat: repeat-x;
  border: 1px solid #C0C0C0;
  border-right-color: rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  box-shadow: none;
  color: #444444;
  display: inline-block;
  font-size: 13px;
  height: 29px;
  line-height: 29px;
  margin: 0;
  margin-left: 5px;
  min-height: 29px;
  min-width: 120px;
  padding: 0 8px;
  text-shadow: none;
  vertical-align: middle;
  overflow: hidden;
  text-overflow: ellipsis;
}

.download-btn-group {
  min-width: auto;
}

.download-btn-group > ul > li {
  text-align: left;
}

.fields-chooser li {
  cursor: pointer;
  margin-bottom: 10px;
}

.fields-chooser li .badge {
  font-weight: normal;
  font-size: 12px;
}

.badge-left {
  border-radius: 9px 0px 0px 9px;
  padding-right: 5px;
}

.badge-right {
  border-radius: 0px 9px 9px 0px;
  padding-left: 5px;
}

.trash-filter {
  cursor: pointer;
}

.CodeMirror {
  border: 1px dotted #DDDDDD;
}

[contenteditable=true] {
  border: 1px dotted #DDDDDD;
  outline: 0;
  margin-top: 20px;
  margin-bottom: 20px;
  min-height: 150px;
}

[contenteditable=true] [class*="span"], .tmpl [class*="span"] {
  background-color: #eee;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  min-height: 40px;
  line-height: 40px;
  background-color: #F3F3F3;
  border: 2px dotted #DDD;
}

.tmpl {
  margin: 10px;
  height: 60px;
}

.tmpl [class*="span"] {
  color: #999;
  font-size: 12px;
  text-align: center;
  font-weight: bold;
}

.editor-title {
  font-weight: bold;
  color: #262626;
  border-bottom: 1px solid #338bb8;
}

.document-details {
  background-color: #F6F6F6;
  padding: 10px;
  border: 1px solid #e5e5e5;
}

.result-row:nth-child(even) {
  background-color: #F6F6F6;
}

.result-row td {
  white-space: nowrap;
  padding: 3px;
}

#result-container thead tr {
  border-bottom: 1px solid #e5e5e5;
}

.demi-modal {
  min-height: 80px;
}

.filter-box {
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
  background-color: #F6F6F6;
  padding: 5px;
  border: 1px solid #d8d8d8;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.field-selector {
  display: inline-block;
  margin-left: 3px;
  min-height: 20px;
  line-height: 20px
}

.field-selector.hoverable {
  cursor: pointer;
}

.field-selector.hoverable:hover {
  background-color: #DDD;
}

.draggable-widget, .draggable-icon {
  cursor: move;
  background-color: #FFF;
}

.chosen-container .chosen-results li {
  text-align: left;
}

#emptyDashboard {
  right: 70px !important;
}

.drop-target {
  background-color: #FCFCFC;
  min-height: 20px;
  border: 2px dotted #FAFAFA;
  text-align: center;
  padding: 4px;
}
.drop-target-dragging {
  background-color: #F6F6F6;
  border-color: #DDD;
}

.ui-sortable.drop-target {
  min-height: 20px;
}

.drop-target-highlight {
  min-height: 20px;
  background-color: #CCC;
}

.drop-target-disabled {
  background-color: #FFFFFF;
  border-color: #FFFFFF;
}

.drop-target-side {
  min-height: 100px;
  height: 100%;
}

.dashboard .row-fluid .span10.readonly {
  width: 100%;
  margin-left: 0;
}

.dashboard .row-fluid .span1.readonly {
  width: 0;
  height: 0;
}

.readonly .card-widget {
  border: 1px solid #d8d8d8 !important;
}

.row-fluid [class*="span"] {
  margin-left: 0.5%;
}

.row-fluid .span10 {
  width: 90%;
}

.row-fluid .span1 {
  width: 4.5%;
}

.card-widget {
  position: relative;
  overflow-x: auto;
  border: 1px solid #d8d8d8 !important;
}

.card-widget h2, .card-widget .card-body {
  min-width: 240px;
}

#exposeOverlay {
  background-color: #000;
  opacity: 0.3;
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1031;
}

.card-column-disabled {
  background-color: #f1f1f1;
}

.widget-icon {
  color: #338bb8;
  height: 16px;
  width: 16px;
  margin-left: 3px;
  margin-right: 3px;
}

.advanced-triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 40px 40px 0;
  border-color: transparent #338bb8 transparent transparent;
  cursor: pointer;
}

.advanced-triangle a {
  color: #FFFFFF;
  padding-left: 20px;
  padding-top: 4px;
}

.card-widget h6 {
  text-transform: uppercase;
  color: #338bb8;
  margin-bottom: 1px;
}

.card-widget h6.field-title {
  margin-bottom: 0;
  padding-left: 4px;
}

.widget-main-section {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 350px;
}

.row-fluid .offset3andhalf:first-child {
  margin-left: 29%;
}

.row-container.is-editing {
  border: none !important;
}

.row-fluid .span4 {
  width: 33%;
}

.dashboard {
  margin-top: 50px;
}

.dashboard.readonly {
  margin-top: 0;
}

.big-icon {
  color: #DDD;
  font-size: 40px;
  text-align: center;
  padding: 5px;
}

body {
  background-color: #FFFFFF;
}

.ui-sortable {
  min-height: 10px !important;
}

.row-container {
  min-height: 10px !important;;
}

input[type="text"].filechooser-input {
  border-right: none;
  margin-bottom: 0;
}

.fileChooserBtn {
  height: 31px;
}

#settingsModal h4 {
  margin-top: 30px;
}

#settingsModal ul.unstyled li {
  margin-bottom: 4px;
}

.card-column {
  min-height: 200px !important;
}

.readonly .card {
  margin-bottom: 15px;
}

.readonly .card-column {
  min-height: 5px !important;
}

.readonly .drop-target-side {
  min-height: 10px!important;
  height: 10px!important;
}

textarea {
  resize: none;
}

.span4.readonly {
  margin-left: 1px;
}

em {
  font-weight: normal;
  background-color: #FFFFFF;
}

.properties ul li {
  margin-bottom: 3px;
}

.widget-main-section .nav-tabs {
  margin-bottom: 10px;
}

.widget-main-section .tab-content {
  min-height: 200px;
}

.widget-main-section .tab-content h6:first-child {
  margin-top: 0;
}

#addActionDemiModal {
  position: absolute;
  margin-left: 0;
  border: 1px solid #d8d8d8;
  border-top: none;
}

#addActionDemiModal input, #addActionDemiModal select {
  margin-bottom: 0;
}

canvas {
  pointer-events: none;
}
