<div class="control-group" data-bind="attr: {'class': {{ ko.error_class }} }">
  <label class="control-label">{{ title }}</label>
  <div class="controls">
    <table class="table-condensed designTable" data-bind="if: {{ ko.condition }}">
      <thead>
        <tr>
          <th>{{ name }}</th>
          <th>{{ value }}</th>
          <th />
        </tr>
      </thead>
      <tbody data-bind="foreach: {{ ko.items }}">
        <tr>
          <td><input type="text" class="span3 required propKey" data-bind="value: name, uniqueName: false" /></td>
          <td><input type="text" class="span4 required pathChooserKo" data-bind="fileChooser: $data, value: value, uniqueName: false" /></td>
          <td><a class="btn btn-small" href="javascript:void(0);" data-bind="click: {{ delete.func }}">{{ delete.name }}</a></td>
        </tr>
      </tbody>
    </table>
    <button class="btn" data-bind="click: {{ add.func }}">{{ add.name }}</button>
  </div>
</div>