<div id="pig">
  <h1 class="card-heading card-heading-blue simple card-marginbottom">{{ title }}</h1>
  <form class="form-horizontal" id="workflowForm" action="#list-designs" method="POST">
    <fieldset>
      {{#name}}
        {{>name}}
      {{/name}}

      {{#description}}
        {{>description}}
      {{/description}}

      <div class="control-group ">
        <label class="control-label">
          <a href="javascript:void(0);" onclick="$('div.advanced').toggle('hide')" class="advanced">
            <i class="fa fa-share"></i>
            advanced
          </a>
        </label>
      </div>
      <div class="advanced hide">
        {{#is_shared}}
          {{>is_shared}}
        {{/is_shared}}

        {{#parameters}}
          {{>parameters}}
        {{/parameters}}
      </div>

      <hr/>

      <div class="control-group">
        <p class="alert alert-info">{{{ alert }}}</p>
      </div>

      {{#prepares}}
        {{>prepares}}
      {{/prepares}}

      {{#params}}
        {{>params}}
      {{/params}}

      {{#job_properties}}
        {{>job_properties}}
      {{/job_properties}}
    </fieldset>
    <div class="form-actions">
      <button data-bind="click: {{ save.func }}" class="btn btn-primary">{{ save.name }}</button>
      <a href="javascript:void(0);" data-bind="click: {{ cancel.func }}" class="btn">{{ cancel.name }}</a>
    </div>
  </form>
</div>