name: Python 3 CI

on:
  push:
    branches:
    - master
  pull_request:
    branches:
    - master
jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        python-version: [3.8]

    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Cache pip
      uses: actions/cache@v2
      with:
        # This path is specific to Ubuntu
        path: ~/.cache/pip
        key: ${{ runner.os }}-pip-${{ hashFiles('desktop/core/requirements.txt') }}
        restore-keys: |
          ${{ runner.os }}-pip-
          ${{ runner.os }}-

    - name: compile
      run: |
        python -m pip install --upgrade pip
        sudo apt-get install -y python3.8-dev python3.8-venv python3.8-distutils asciidoc libkrb5-dev libldap2-dev libsasl2-dev libsasl2-modules-gssapi-mit libsnappy-dev # This should not be needed as some point

        export PYTHON_VER=python3.8
        make apps

        make prod

    - name: run tests
      run: |
        PYTHONWARNINGS=always ./build/env/bin/hue test unit --with-xunit --with-cover
