apache-ranger==0.0.3
requests-gssapi==1.2.3
asn1crypto==0.24.0
avro-python3==1.8.2
Babel==2.9.1
celery[redis]==5.2.7
cffi==1.15.0
channels==3.0.3
channels-redis==3.2.0
configobj==5.0.6
cx-Oracle==8.3.0
django-auth-ldap==4.3.0
Django==3.2.16
daphne==3.0.2
django-celery-beat==2.2.1
django-celery-results==2.4.0
django-cors-headers==3.7.0
django-crequest==2018.5.11
django-debug-panel==0.8.3
django-debug-toolbar==1.11.1
django-extensions==3.1.3
django-ipware==3.0.2
django-nose==1.4.7
django_opentracing==1.1.0
django_prometheus==1.0.15
django-webpack-loader==1.0.0
djangomako==1.3.2
djangorestframework-simplejwt==5.2.0
djangorestframework==3.12.2
future==0.18.3
greenlet==2.0.2
gunicorn==19.9.0
ipython==8.1.1  # Python >= 3.8
jaeger-client==4.3.0
jdcal==1.0.1
kazoo==2.8.0
kerberos==1.3.0
lockfile==0.12.2
Mako==1.2.3
Markdown==3.1
nose==1.3.7
openpyxl==3.0.9
phoenixdb==1.2.1
prompt-toolkit==2.0.10
protobuf==3.20.3
pyformance==0.3.2
pylint==2.6.0
pylint-django==2.3.0
pytest==6.0.2
pytest-django==3.10.0
python-dateutil==2.8.2
python-daemon==2.2.4
python-ldap==3.4.3
python-oauth2==1.1.0
python-pam==2.0.2
pytidylib==0.3.2
pytz==2021.3
PyJWT==2.4.0
PyYAML==5.4.1
requests-kerberos==0.12.0
rsa==4.7
sasl==0.3.1  # Move to https://pypi.org/project/sasl3/ ?
slack-sdk==3.2.0
SQLAlchemy==1.3.8
sqlparse==0.4.2
tablib==0.13.0
tabulate==0.8.9
git+https://github.com/gethue/thrift.git
thrift-sasl==0.4.3
git+https://github.com/gethue/django-babel.git
werkzeug==2.0.1  # Should remove it here and from devtools.mk
django-utils-six==2.0
six==1.16.0
-e file:///${ROOT}/desktop/core/ext-py3/requests-2.27.1
-e file:///${ROOT}/desktop/core/ext-py3/boto-2.49.0
-e file:///${ROOT}/desktop/core/ext-py3/django-axes-5.13.0
-e file:///${ROOT}/desktop/core/ext-py3/djangosaml2-0.18.0
-e file:///${ROOT}/desktop/core/ext-py3/eventlet-0.30.2
-e file:///${ROOT}/desktop/core/ext-py3/pysaml2-5.0.0
