apache-ranger==0.0.3
asn1crypto==0.24.0
avro-python3==1.8.2
Babel==2.9.1
boto==2.46.1
# boto3==1.17.41  # Last Py2 is 1.17
celery[redis]==5.2.2
cffi==1.15.0
channels==3.0.3
channels-redis==3.2.0
configobj==5.0.6
cryptography==36.0.1
django-auth-ldap==2.3.0
Django==3.2.13
daphne==3.0.2
django-celery-beat==2.2.1
django-celery-results==2.2.0
django-cors-headers==3.7.0
django-crequest==2018.5.11
django-debug-panel==0.8.3
django-debug-toolbar==1.11.1
django-extensions==3.1.3
django-ipware==3.0.2
django-nose==1.4.7
django_opentracing==1.1.0
django_prometheus==1.0.15
django-webpack-loader==1.0.0
djangorestframework-simplejwt==4.4.0  # For Python 3.6
djangorestframework==3.12.2
eventlet==0.30.2
future==0.18.2
greenlet==0.4.15
gunicorn==19.9.0
ipython==8.1.1  # Python >= 3.8
jaeger-client==4.3.0
jdcal==1.0.1
kazoo==2.8.0
kerberos==1.3.0
lockfile==0.12.2
lxml==4.6.5
Mako==1.1.4
Markdown==3.1
nose==1.3.7
openpyxl==3.0.9
pandas==1.4.2
phoenixdb==1.1.0
prompt-toolkit==2.0.10
protobuf==3.17.0
pyformance==0.3.2
pylint==2.6.0
pylint-django==2.3.0
pytest==6.0.2
pytest-django==3.10.0
python-dateutil==2.8.2
python-daemon==2.2.4
python-ldap==3.1.0
python-oauth2==1.1.0
pytidylib==0.3.2
pytz==2021.3
PyJWT==1.7.1
PyYAML==5.4.1
requests-kerberos==0.12.0
rsa==4.7
sasl==0.2.1  # Move to https://pypi.org/project/sasl3/ ?
slack-sdk==3.2.0
SQLAlchemy==1.3.8
sqlparse==0.4.2
tablib==0.13.0
tabulate==0.8.9
thrift==0.13.0
thrift-sasl==0.4.2
git+https://github.com/gethue/django-babel.git
git+https://github.com/gethue/django-mako.git
werkzeug==2.0.1  # Should remove it here and from devtools.mk
django-utils-six==2.0
six==1.16.0
