http://ibm-ppc-builds.s3.amazonaws.com/silx-py-libs/cryptography-38.0.1-cp37-abi3-manylinux_2_17_ppc64le.manylinux2014_ppc64le.whl
http://ibm-ppc-builds.s3.amazonaws.com/silx-py-libs/numpy-1.23.1-cp39-cp39-manylinux_2_17_ppc64le.manylinux2014_ppc64le.whl
http://ibm-ppc-builds.s3.amazonaws.com/silx-py-libs/pandas-1.4.3-cp39-cp39-manylinux_2_17_ppc64le.manylinux2014_ppc64le.whl
http://ibm-ppc-builds.s3.amazonaws.com/silx-py-libs/lxml-4.6.4-cp39-cp39-manylinux_2_17_ppc64le.manylinux2014_ppc64le.whl
PyYAML==6.0.1
-r ${ROOT}/desktop/core/base_requirements.txt
